[2022-04-26 20:20] p0mvn commented on #1356
This node is used for wallets

[2022-04-26 21:27] daniel-farina commented on #1263
- If this is a feature request, please use the feature-request repo (with a link to it)
- Delete as much text as possible
- Try to make it so that instructions fit within the textbox when you open an issue, avoid infinite scrolling of instructions :smile:

Thank you so much for working on this!

[2022-04-26 22:04] vorotech commented on #1356
hi @p0mvn
Do you think the following is related?

If I'm "lucky" enough and hit the endpoint https://lcd-osmosis.blockapsis.com/cosmos/tx/v1beta1/txs?events=tx.height%3D3815464&pagination.offset=0 several times, I'm getting:

[code]

[2022-04-26 22:08] vorotech commented on #1356
Tbh, I think it might be unrelated issue, and the gRPC client should have the **grpcClient.MaxCallSendMsgSize()** method called [here](https://github.com/osmosis-labs/cosmos-sdk/pull/137/files#diff-97289af2ab66016f168df6fccac70626d125f170e5cf0841fcdc8fa624999608R314) (also missed in the original implementation)

[2022-04-26 22:21] p0mvn commented on #1356
@vorotech You're right. We have already updated this on the latest branch of the SDK fork. However, this has not been backported to `v7.x` branch yet.

We are planning a minor (`v7.2.1`) release soon and should backport https://github.com/osmosis-labs/cosmos-sdk/pull/170 to it

CC: @czarcas7ic

[2022-04-27 01:06] #756 closed

[2022-04-27 03:02] czarcas7ic commented on #1350
Updated here https://github.com/osmosis-labs/osmosis/pull/1357

[2022-04-27 04:54] catShaark commented on #1356
So I looked at the log, this is where the error showed up right : `Apr 26 18:43:17 ip-172-31-49-142 osmosisd_osmosis-1[333746]: fatal error: concurrent map iteration and map write`

[2022-04-27 05:32] jlbit commented on #1263
@daniel-farina do you actually mean to leave this comment under https://github.com/osmosis-labs/osmosis/issues/1339 ?

[2022-04-27 15:42] Vinitowinit commented on #1141
Hey @ValarDragon following up here again if possible to see if there is any update. Thank you so much and enjoy the remainder of your week

[2022-04-27 15:52] ValarDragon commented on #1141
Hey, this will definitely not be ready by end of week unfortunately

[2022-04-27 15:52] p0mvn commented on #1141
Hi @Vinitowinit.

@ValarDragon is traveling this week and might take longer to reply.

With most certainty, the epic will not be ready by the end of this week.

The current progress on one of the largest components for v8 can be tracked here: https://github.com/osmosis-labs/osmosis/issues/1050

[2022-04-27 18:37] p0mvn commented on #1349
@mattverse suggested to address the following comment here: https://github.com/osmosis-labs/osmosis/pull/1345/files#r858187443

[2022-04-27 18:41] p0mvn opened #1359 "Uncomment an off-by-one test case in TestCalcSingleAssetInAndOut_InverseRelationship"
**Background**

One of the tests in currently commented out because it is off-by-one.

#1345 might fix it. Once it is merged, uncomment the test case and make sure it passes

**Acceptance Criteria**
- uncomment the test case in TestCalcSingleAssetInAndOut_InverseRelationship
- ensure all testcases pass

[2022-04-27 18:49] p0mvn commented on #1356
That's correct. It's happening because 2 goroutines are trying to iterate over this map and write to it concurrently.

One goroutine is accessing that IAVL map through `Commit()` in baseapp and another by calling [this RPC](https://github.com/osmosis-labs/cosmos-sdk/blob/302623990961983bba32bf106341017a06cfda58/x/auth/tx/service.go#L95)

[2022-04-27 22:00] ValarDragon commented on #1352
Looks like it was never disabled, my bad: https://github.com/osmosis-labs/osmosis/blob/main/.github/workflows/build.yml#L18-L22

Maybe it was just an OS version? Can we add OS versions to these matrices?

[2022-04-27 22:44] alexanderbez commented on #1356
Doesn't Tendermint place a lock on that ABCI flow though? Or is this lower level @p0mvn ?

[2022-04-27 22:47] alexanderbez commented on #1359
Thanks for tracking this @p0mvn 🙏

[2022-04-27 22:58] alexanderbez commented on #1333
Awesome, thanks for writing this up @czarcas7ic.

Question though, why do we need this step:

[2022-04-27 23:17] p0mvn commented on #1356
@alexanderbez essentially, this PR https://github.com/osmosis-labs/cosmos-sdk/pull/137 removed the synchrony with the ABCI flow. The asynchrony is needed by integrators for handling the load. Otherwise, their queries are blocked at epoch / long commits

I know exactly where the problem and working on a fix as well as an e2e test to expose this in our suite. Should have an update in the next few da

[2022-04-27 23:18] ValarDragon commented on #1256
We need to check differences in both `.pb.go` files, and `.proto` files

[2022-04-27 23:21] p0mvn commented on #1356
SDK seems to be reading from a height in IAVL that hasn't been committed yet. We don't have any mutexes there because the assumption was that this should never happen. So the solution is to avoid reading from the uncommitted state. Instead, read from the latest commit height.

[2022-04-27 23:31] #1276 closed

[2022-04-27 23:34] AlpinYukseloglu opened #1364 "Add initial pool liquidity validation to stableswap msg.ValidateBasic function"
Add a check in stabelswap's msg.ValidateBasic() function that makes sure the input initialLiquidity is appropriate.

The check should go here: https://github.com/osmosis-labs/osmosis/blob/e9b9804bcef341a2b22fa90d7722a2fadb738d7e/x/gamm/pool-models/stableswap/msgs.go#L46

[2022-04-27 23:46] czarcas7ic commented on #1333
@alexanderbez  From what I remember, the chain doesn't actually halt on upgrade height right? It displays a message saying the that the new binary is needed and will just sit idly until the daemon is stopped and the binary is changed (I could be wrong and it could panic and halt). When I thought up this process, it just seemed simpler to use the halt height flag since the upgrade height must be ha

[2022-04-28 06:53] ValarDragon commented on #1356
Is the situation that queries don't have a height field included, and then the query responds with the currently processing height, whereas it really should be responding using the last committed height?

[2022-04-28 08:11] mattverse commented on #1364
NOTE: this issue also has dependency with https://github.com/osmosis-labs/osmosis/pull/1354, where we would need additional checks for ensuring that `poolLiquidity` and `scalingFactors` are by the same index

[2022-04-28 12:18] catShaark commented on #1356
I think this can be fixed by returning `sdk.Context` of last height instead of `sdk.Context` of current state when calling getContextForTx( runTxModeSimulate, txBytes) . Something [like](https://github.com/notional-labs/cosmos-sdk/commit/3e3d59994574221283c9c43fa8d2d107758ab202) but I don't know how to test it

[2022-04-28 15:32] ValarDragon opened #1367 "[x/gamm][StableSwap] Integrate stableswap / pool type into the gamm keeper tests"

[2022-04-28 15:32] ValarDragon opened #1368 "[x/gamm][StableSwap] Figure out LP share amount out derivation for stableswap"

[2022-04-28 15:42] ValarDragon opened #1369 "[x/gamm][StableSwap] multi-asset swap / LP equations, and tests"
The current CFMM equation we use for stableswap is `xy(x^2 + y^2) = k`.

To extend this to many assets, we use the natural generalization, e.g. for 4 assets, `xyzw(x^2 + y^2 + z^2 + w^2)`. To implement this, we seek to have a single CFMM equation for swaps that works for all numbers of assets. We achieve this via a variable substitution. Let `u = zw` and `v = z^2 + w^2`. Then the stableswap equati

[2022-04-28 15:51] #1223 closed

[2022-04-28 16:42] czarcas7ic opened #1370 "test: move internalChain and internalValidator to internal package"
As suggested by @p0mvn [here](https://github.com/osmosis-labs/osmosis/pull/1363#discussion_r860330312), we should move the internalChain and internalValidator structs to an internal package. This prevents the need for unnecessary prefixes and simplifies the chain package.

Also see https://dave.cheney.net/2019/10/06/use-internal-packages-to-reduce-your-public-api-surface

[2022-04-28 16:59] p0mvn commented on #1356
Thanks for the suggestion @catShaark . While I think that this may help mitigate the problem, I don't think it would be removing the root cause.

To illustrate, I would like to point out a change that I did in https://github.com/osmosis-labs/cosmos-sdk/pull/100 when upgrading to fast storage:
![image](https://user-images.githubusercontent.com/34196718/165803065-8bd832de-7420-4cde-95ca-28a72c89b56f

[2022-04-28 17:03] p0mvn commented on #1356
Yes, that's the high-level description of this problem :+1:

[2022-04-28 17:05] p0mvn commented on #1356
Also, I'm currently still working on e2e tests to expose this. If anyone is interested in trying out PRing a potential solution, I'm happy to discuss and guide

[2022-04-28 17:24] p0mvn opened #1371 "[x/gamm][Testing] generalize TestCalculateAmountOutAndIn_InverseRelationship"
**Background**

The following PRs contributed to `TestCalculateAmountOutAndIn_InverseRelationship` in `balancer` package:
- #1254 - tests with zero swap fee
- #1344 - tests with non-zero swap fee

From "Gamm Refactor", `CalcInAmtGivenOut` and `CalcOutAmtGivenIn` are defined on the [`PoolI`](https://github.com/osmosis-labs/osmosis/blob/69811b3f40367a162f093cc437a4a95cd504ab9e/x/gamm/types/pool.go#L

[2022-04-28 17:46] p0mvn opened #1372 "[x/gamm][Testing] balancer/CalcJoinPoolShares"
**Background**

We have observed rounding errors in balancer post-refactor (#1307). There are several balancer pool methods being called from the function in #1307 under the hood that are not unit-tested.

As a result, it is non-trivial to identify the source of the problem. All methods should be covered by unit tests. One of such untested methods is [`CalcJoinPoolShares`](https://github.com/osmos

[2022-04-28 17:52] p0mvn commented on #1372
@alexanderbez would you be interested in working on this? Thanks for offering to help with the tests

[2022-04-28 17:52] p0mvn commented on #1371
@xBalbinus would you be interested in working on this? Thanks for offering to help with the tests

[2022-04-28 18:33] xBalbinus commented on #1371
Yo @p0mvn ! Of course! Taking a look.

[2022-04-28 18:52] alexanderbez commented on #1333
@czarcas7ic you might be right. Either way, it can't hurt to add a halt-height configuration, so I'm all for it 👍

[2022-04-28 21:55] #1332 closed

[2022-04-29 00:23] ValarDragon commented on #1356
(1) makes sense as an immediate fix, though this does generally feel like the SDK is asking for something unsafe, and thats where the bug is. (What is the API usage its doing thats leading to an iterator over a mutable tree)

I think (2) being important would only come up once the SDK is writing things in parallel to that tree. But that is not the store architecture that it currently does, instead

[2022-04-29 00:29] ValarDragon commented on #1350
Can you try using `v7.2.1` and see if that fixes this?

[2022-04-29 03:09] catShaark commented on #1356
I want to help but I need your guidance

[2022-04-29 03:43] ValarDragon commented on #1280
Why don't we just call it `suite`?

[2022-04-29 04:57] sunnya97 commented on #689
@ValarDragon @alexanderbez do you know how I'm supposed to do this?  Is there an example somewhere?

[2022-04-29 13:55] alexanderbez commented on #1280
Yup @ValarDragon

[2022-04-29 15:32] ValarDragon commented on #689
https://github.com/osmosis-labs/osmosis/blob/main/app/app.go#L407-L411

[2022-04-29 15:40] ValarDragon opened #1375 "Upgrades package improvements:"
We need to make the following improvements to our upgrades packages:

Define a type alias for Create Upgrade Handler
[code]

Make an interface with four methods, describing an upgrade:
[code]

Then we just make a list of upgrader structs in the `app.go`, and have a standalone routine that registers the handlers, beginblock & store loader updates.

[2022-04-29 16:28] czarcas7ic commented on #1350
Closing as this is fixed in v7.2.1

[2022-04-29 16:28] #1350 closed

[2022-04-30 01:56] superpdm opened #1377 "unable to connect gRPC server. "ResourceExhausted desc = grpc: received message larger than max (3 vs. 0)""
I tried to connect for gRPC service with grpcurl:
       grpcurl -plaintext  "127.0.0.1:9190" list
I got the message "Failed to list services: rpc error: code = ResourceExhausted desc = grpc: received message larger than max (3 vs. 0)"
osmosis version tested: v7.0.3, v7.2.1.

grpclog prints the following when I start osmosisd node:

INFO: 2022/04/30 10:00:30 [core] Subchannel Connectivity change t

[2022-04-30 04:50] faddat commented on #807
[code]

I don't think permissions are set up yet

[2022-04-30 07:48] superpdm commented on #1377
It turns out to be wrong config file

[2022-04-30 07:48] #1377 closed

[2022-04-30 13:41] mattverse commented on #1364
@AlpinYukseloglu Are you currently on this? If not, would you mind if I start this?

[2022-05-01 06:00] faddat commented on #695
@ValarDragon @czarcas7ic

Hello, I wanted to provide an update on this.  Since some recent update, when using anything other than golveldb, osmosis will apply the 2nd last state sync snapshot, then complain of the app version mismatch, and crash.

I think we need a lasting solution on the app version mismatch, weather from upstream, a fork, or here.

[2022-05-01 06:11] faddat opened #1381 "App version mismatch"
The app version mismatch has severely impacted database testing.

Things work fine with gaia for example.

Since improving performance also improves developer experience and relay coverage, I think that it's best that we try to fix the app version issue, even if that means a fork of tendermint into osmosis-labs

We should be trying to match this experience:

https://twitter.com/notionaldao/status/

[2022-05-01 18:03] ValarDragon commented on #695
Lets figure out how its set in a DB-agnostic way? Then perhaps we do it in the next upgrade, so we don't have any concerns around it being state machine breaking?

[2022-05-01 18:06] czarcas7ic commented on #1333
Just noting here that the chain does in fact not panic, you get a log like the following
[code]
and then it goes back to searching for peers. No issues with this, just noting for future reference.

[2022-05-01 20:02] p0mvn commented on #1356
Hi everyone, thanks for all the help and input on this so far.

I kept thinking about what @ValarDragon said, and I think that was right. The SDK was incorrectly requesting data. It ended up being more complex than just doing the change I suggested earlier in 1).

I arrived at this conclusion by first struggling with reproducing this bug via e2e tests. Then, @alexanderbez pointed out offline that

[2022-05-02 06:00] AlpinYukseloglu opened #1384 "Create msg tests for stableswap"
Create a `msgs_tests.go` file for stableswap that has tests for the functions in the `msgs.go` file. Specifically, it's important that we have tests for functions relating to creating new pools and for the validation-related functions like `msg.ValidateBasic()`.

The `msgs_test.go` file from the balancer pool should be a helpful reference: https://github.com/osmosis-labs/osmosis/blob/main/x/gamm/p

[2022-05-02 06:05] AlpinYukseloglu commented on #1364
@mattverse The specific addition was quick so I went ahead and did it myself and requested a review from you

[2022-05-02 11:53] faddat commented on #695
Sounds great

[2022-05-02 14:30] #1364 closed

[2022-05-02 14:47] alexanderbez commented on #689
Seems pretty straight forward

[2022-05-02 14:58] ValarDragon opened #1386 "[x/gamm][TWAP] Architecture"
## Introduction

We currently have a need for exposing on-chain time weighted average prices (TWAPs) for pools. This can be done in a way that's independent of the pool type, and thus can be done quite modularly.

Twaps work by maintaining a rolling accumulator value. The exact equation within the accumulator depends upon what is the type of TWAP you are taking. (How do you weight older prices vs

[2022-05-02 15:34] sunnya97 commented on #689
Added into #1362

[2022-05-02 15:53] alexanderbez commented on #1333
Well that is a panic, but the node does not _halt_. So yes, I guess we need to add that config 👍

[2022-05-02 16:05] ValarDragon commented on #1181
Goal: Identify, make issues for, and write test cases for most important end to end tests.

(More specifically for upgrades!)

Can we improve the framework to allow more messages to get executed in the "Old version" code?

Can we have varied full nodes configurations that "follow" the upgrade process.

[2022-05-02 17:30] p0mvn commented on #1016
As discussed in sprint planning, this epic is getting closed. #1163 and https://github.com/osmosis-labs/cosmos-sdk/issues/148 are getting moved as frogs to the current sprint while all the remaining issues are moved to be tracked #1172 without specific priority assigned to them

[2022-05-02 17:30] #1016 closed

[2022-05-02 18:35] p0mvn commented on #1339
I would like to pick this up if this is not being worked on by anyone

[2022-05-02 18:42] p0mvn opened #1387 "admin: create an index of slack channels"
**Background**

Something that was brought up in our retro is that context is being lost due to some Slack channels being private. As a result, team members can be tagged and never receive a notification. This is an issue to keep track of the need to create an index of all partnership channels and add relevant team members to them.

**Acceptance Criteria**
- An index is created
- Team members are

[2022-05-02 20:38] alexanderbez commented on #1386
So we'd have `num_blocks_day * 14 * num_pools` records at any given time?

[2022-05-02 20:42] alexanderbez commented on #1339
Check out the SDK's templates or some that I [worked](https://github.com/umee-network/umee/tree/main/.github) on for inspiration :)

[2022-05-02 21:17] p0mvn opened #1388 "docs: prepare onboarding material for Osmosis chain dev"
**Background**

We should have onboarding material across various levels of the tech stack to help new engineers understand the full scope of the project. The following components should be considered:
- Tendermint / ABCI (consensus layer)
- IAVL (storage layer)
- SDK
   * snapshots
   * pruning
   * other SDK related features
   * core modules used by our project
- Osmosis app
   * core modules

[2022-05-03 03:40] ValarDragon commented on #1356
Ensuring I understand that PR correctly:
- The bug before was the ABCI parallelization allowed someone to query a future height, which could cause a crash (on top of returning an incorrect result)
- The behavior is changed so that a query to a future height will return an error. The intended behavior for anyone who runs into that, is to retry sending

If so, that seems good for us to roll into a n

[2022-05-03 04:09] p0mvn commented on #1356
I would also add that some queries like simulation and tendermint are changed to be always directed to the ABCI flow to avoid going through GRPC.

In the case of Tendermint queries, those are having issues with proto marshaling / unmarshalling when done via GRPC.

In the case of simulation, @alexanderbez and I discussed and thought that these are risky to do concurrently with the commit flow due t

[2022-05-03 04:15] p0mvn commented on #1202
Based on the problems experienced in: https://github.com/osmosis-labs/osmosis/issues/1356

We should have nodes with:
- grpc enabled
  * [ ] query old height
  * [ ] query latest height
  * [ ] do not provide a height
- grpc disabled
  * [ ] query old height
  * [ ] query latest height
  * [ ] do not provide a height

[2022-05-03 06:38] mdyring opened #1391 "Unable to fetch large blocks via RPC: I/O timeout"
Fetching block_results for large blocks results in IO timeouts, making it impossible to properly index the blocks.

It seems like the RPC server will kill the connection if fetching data from the block store takes longer than 30 seconds.

Example using curl to fetch block
[code]

Log output from osmosisd (which logs the entire 100+ mb response to stderr):
[code]

[2022-05-03 07:45] mattverse commented on #1364
Ah, I was also talking about adding checks to ensure scaling factors and pool liquidity have the same index(since both PRs were both open at the time this issue was opened). Since `CreatePool` is now implemented, I guess we could create a separate issue for adding scaling Factors and `validate`!

[2022-05-03 07:48] mattverse opened #1392 "[x/gamm][StableSwap] Implement Scaling Factors to `CreateStableswapPool`"
With https://github.com/osmosis-labs/osmosis/pull/1354 being added, we now calculate different assets upon their precision points.
We should be implementing scaling factors to `CreateStableswapPool`, `NewStableswapPool`, along with `ValidateBasic` if necessary.

[2022-05-03 16:14] ValarDragon commented on #1388
I'm imagining a powerpoint, that has a brief descriptions of the various components of the stack, and known problems we face from them, e.g.:
- P2P layer, security concerns, gets overloaded very quickly, lots of annoying logs
- Mempool layer, FIFO txs, Runs ABCI CheckTX. (Which runs antehandler middleware & msg.ValidateBasic), builds txs based off of `GasWanted`.
- Tendermint Consensus, there exis

[2022-05-03 18:15] mdyring commented on #1391
@alexanderbez yeah we're querying Tendermint RPC directly, e.g. /block_results?height=3711555, but have been unable to find any clues in the Tendermint code/config that would solve it.

Since we have only encountered this issue on Osmosis so far (due to yuuuge epoch blocks), I was thinking you guys might have a better chance of reproducing and diagnose the root cause compared to Tendermint team.

[2022-05-03 18:58] mircea-c commented on #1090
@faddat have not done statesync yet. Will attempt it soon though.

@p0mvn It also hasn't stopped happening to us on `v7.2.1`.

[2022-05-03 19:28] p0mvn commented on #1090
@mircea-c sorry to hear that. We are working on our e2e tests to expose this problem still. Unfortunately, we don't have a better way to approach this at the moment since we can't deterministically reproduce this.

However, we just pre-released [`v7.3.0`](https://github.com/osmosis-labs/osmosis/releases/tag/v7.3.0) that might be related to app hash. Essentially, there were data races related to qu

[2022-05-03 20:05] alexanderbez commented on #1391
Unfortunately, Tendermint does not expose these in their RPC configuration block. I'd advise closing this issue and moving it to the Tendermint repo. The RPC timeout is entirely handled in Tendermint since you're querying the RPC directly. The only other approach would be to add this request as a proxy to the SDK like we do for some other requests, so that way you'll be able to utilize the app.tom

[2022-05-03 20:47] ValarDragon opened #1401 "x/pool-incentives: Make FundCommunityPoolFromModule call distr.FundCommunityPool"
The current [FundCommunityPoolFromModule](https://github.com/osmosis-labs/osmosis/blob/main/x/pool-incentives/keeper/distr.go#L14-L22) function in pool-incentives should either be upstreamed to the SDK's distribution module, or we should derive the SDK address for this, and call `distr.FundCommunityPool`.

We derive the SDK address from a module name via:
[code]

[2022-05-03 21:26] alexanderbez commented on #1401
@ValarDragon what exactly are you proposing we upstream to `x/distribution`?

[2022-05-03 21:30] alexanderbez commented on #1388
Nice! Yeah a PDF on this would be dope. I like the idea!

[2022-05-03 21:35] ValarDragon commented on #1401
The `FundCommunityPoolFromModule` function as a whole. The problem we faced was we wanted to send coins to the community pool from a module account, and in this code we basically hackily did updates to the `Distr.FeeTokens` struct to handle this.

[2022-05-03 21:37] ValarDragon commented on #1185
Matt had a good point: https://github.com/osmosis-labs/osmosis/pull/1208#discussion_r843559703

We should change the txs to be defined under the correct package, and just leave the balancer pool defined under the wrong proto package (which won't cause conflicts)

[2022-05-03 21:39] alexanderbez commented on #1401
Got it!

[2022-05-03 21:52] ValarDragon commented on #1401
Oh true. I guess its a yak shaving question of do we want to get this into the SDK, versus just use more black box functionality  here. (converting sending address to a normal address rather than module address)

[2022-05-03 21:56] ValarDragon opened #1402 "Move InitGenesis and ExportGenesis methods to keeper package"
basically a copy of https://github.com/cosmos/cosmos-sdk/issues/11865

## Summary

InitGenesis and ExportGenesis code are defined in x/{modulename}/genesis.go. This is because the AppModule interface requires these functions. However these being defined in a package separate to the keeper forces keepers to publicly export many functions that should really be private.

I suggest we change module wr

[2022-05-04 03:42] #164 closed

[2022-05-04 03:44] ValarDragon opened #1404 "Investigate ExtendLockup hooks"
We need to look further into the hook calls for MsgLockupExtendDuration.

It currently calls `OnTokensUnlocked` and `OnTokensLocked`. I don't think this is right, it should instead get a new hook. This is because something like superfluid shouldn't think "start undoing superfluid lock" upon seeing the unlock hook for instance, its not the lock creator signalling intent to unwind. (In fact its the

[2022-05-04 03:50] ValarDragon commented on #1391
Do we know where we'd update these timeouts? I'm not opposed to maintaining a tendermint fork with this change until it gets into an upstreamed tendermint release.

[2022-05-04 05:00] #1375 closed

[2022-05-04 06:30] pyramation commented on #1185
great, I like the idea of `osmosis.gamm.pool-models.BalacerMsg` or a path that makes sense 🙌🏻

[2022-05-04 06:48] mdyring commented on #1391
That would be great as I haven't observed this yet on other chains.

Being able to export full block state seems like a must-have. 👍

[2022-05-04 06:51] ValarDragon commented on #1329
Closed by #1329, not sure why this wasn't automatically closed

[2022-05-04 06:51] #1329 closed

[2022-05-04 14:16] alexanderbez commented on #1391
It's super trivial to implement. Let's open an issue in the Tendermint repo. I would really try and avoid forking whenever possible.

[2022-05-04 15:08] alexanderbez commented on #1391
https://github.com/tendermint/tendermint/issues/8465

[2022-05-04 15:51] p0mvn opened #1406 "[x/gamm][StableSwap] two asset swap / LP equations and tests"

[2022-05-04 15:54] p0mvn commented on #1406
Hi @ValarDragon

Created this issue from the epic in #1050 to make sure that we don't have non-issue bullet points.

Please fill in the description, labels, priority, and size when you have time

[2022-05-04 15:54] p0mvn opened #1407 "[x/gamm][Testing] Shuffling tests around to get more next to the AMM math code"

[2022-05-04 15:55] p0mvn commented on #1407
@ValarDragon ,

Created this issue from the epic in #1050 to make sure that we don't have non-issue bullet points.

Please fill in the description, labels, priority, and size when you have time

[2022-05-04 15:55] p0mvn opened #1408 "[x/gamm][Testing] More robust regression test cases for the exact numbers in these swap methods."
(Especially to show the difference between old and new JoinPoolNoSwap)

[2022-05-04 15:56] p0mvn commented on #1408
@ValarDragon ,

Created this issue from the epic in https://github.com/osmosis-labs/osmosis/issues/1050 to make sure that we don't have non-issue bullet points.

Please fill in the description, labels, priority, and size when you have time

[2022-05-04 15:56] p0mvn opened #1409 "[x/gamm][Misc improvements] Multi-hop swap fee routing"

[2022-05-04 15:57] p0mvn opened #1410 "Auto-derive Arithmetic Mean TWAP and Geometric Mean TWAP accumulators on pools after each swap"

[2022-05-04 15:57] p0mvn commented on #1410
@ValarDragon ,

Created this issue from the epic in https://github.com/osmosis-labs/osmosis/issues/1050 to make sure that we don't have non-issue bullet points.

Please fill in the description, labels, priority, and size when you have time

[2022-05-04 15:58] p0mvn opened #1411 "[x/gamm][Misc Improvements] Write spec for the Gamm module, breakup balancer and stableswap components"

[2022-05-04 15:58] p0mvn commented on #1411
@ValarDragon ,

Created this issue from the epic in https://github.com/osmosis-labs/osmosis/issues/1050 to make sure that we don't have non-issue bullet points.

Please fill in the description, labels, priority, and size when you have time

[2022-05-04 16:52] p0mvn commented on #1014
This epic needs to be groomed more, creating an issue to plan the development process:
- [ ] [Deployment Automation] - create a plan and issues

[2022-05-04 16:52] p0mvn opened #1412 "[Deployment Automation] - create issues and dev plan"
**Background**

Deployment automation epic needs to be groomed and planned. The end vision was documented by @ValarDragon in the following doc under "Final Upgrade Testing": https://docs.google.com/document/d/1ODFiCbayw2h9dJ-m9z-L6RVeOA7RXRumIQ-LwlZzx_A/edit?usp=sharing

**Acceptance Criteria**
- the development plan is created
- follow up GitHub issues are made

[2022-05-04 17:05] p0mvn commented on #1333
@czarcas7ic please add correct labels and update the status when you have time

[2022-05-04 17:26] p0mvn opened #1413 "[Import Genesis] Speeding up the import genesis time"
**Background**

We need to understand what is happening during the import genesis and come up with a solution to improve time.

**Acceptance Criteria**
- Import genesis time is well understood
- A plan to mitigate the problem is created

[2022-05-04 17:33] czarcas7ic opened #1414 "[E2E - Upgrade Testing] add nodes with various configs to CI"
When spinning up the pre-upgrade and post upgrade testnet, we want to have nodes with various configs (in order of importance):
- [x] Pruning
- [x] Snapshot
- [ ] #1878

In order to complete the upgrade testing issue, the testing framework should be able to do the following:
- [x] Create state on v7 (or whatever the pre upgrade version may be)
  - [x] Create a pool
  - [x] Create a lockup
  - [x]

[2022-05-04 17:44] p0mvn commented on #1413
Hi @moniya12 . Are you on this? If yes, what is the status? Thanks!

[2022-05-04 17:49] p0mvn opened #1415 "[E2E - Upgrade Testing] automate the creation of older e2e chain initialization images"
**Background**

We need a way to automate the creation of chain initialization images. Currently, these have to be manually created and pushed to the Docker hub

**Acceptance Criteria**
- the previously released branch is auto-detected
- the image for initializing latest released version is auto-built and uploaded to docker hub without the need for manual intervention

[2022-05-04 18:00] p0mvn opened #1416 "[E2E] Create e2e test set up"
This is a **story** to track the creation of our e2e test suite:

   * [x] https://github.com/osmosis-labs/osmosis/pull/1193
   * [x] #1200
   * [x] #1201
   * [x] #1202

[2022-05-04 18:16] ValarDragon commented on #1410
Closing in favor of #1386

[2022-05-04 18:16] #1410 closed

[2022-05-04 18:21] p0mvn commented on #1410
Thanks, replaced it in the epic

[2022-05-04 18:49] tyrion70 commented on #1391
Cross posting here, it looks like the `timeout_broadcast_tx_commit` actually sets the global http write timeout on the http server. I just tested it and we're now able to download these large blocks without any issues.

[2022-05-04 19:01] p0mvn commented on #1029
I'm cleaning up the epics and seeing some checkboxes without issues. @sunnya97 @ValarDragon could you update the epic to cross out the completed items and create issues for items that still need work. Thank you!

[2022-05-04 19:06] p0mvn commented on #1106
Hey @mattverse @AlpinYukseloglu . Seeing you assigned, just wanted to ask what is the status on this? Could one of you update the labels and status on the project board, please

[2022-05-04 19:25] p0mvn commented on #743
I'm closing this since this is a copy of: https://github.com/osmosis-labs/osmosis/issues/1339

[2022-05-04 19:25] #743 closed

[2022-05-04 19:27] p0mvn commented on #1339
Re-assigning this to @xBalbinus since he has done a lot of great work in https://github.com/osmosis-labs/osmosis/pull/1399

@xBalbinus please keep this issue updated. Thank you!

[2022-05-04 19:31] #456 closed

[2022-05-04 19:39] AlpinYukseloglu commented on #1106
Thanks for catching this @p0mvn -  looks like this one got lost in the backlog. @ValarDragon do you think this is a priority for our current sprint? If yes I'll take a crack at it asap

[2022-05-04 21:40] ValarDragon commented on #1391
Awesome! Lets update our default config generation code, to up this default value

[2022-05-04 22:10] #1277 closed

[2022-05-04 23:02] ValarDragon opened #1417 "Improve package godocs"
We can currently see our godocs here: https://pkg.go.dev/github.com/osmosis-labs/osmosis/v7@main

We should add more relevant 1 line package godoc descriptors (and fix the incorrect `types` godocs around the place, saying they are reverse proxies)

[2022-05-05 01:21] sunnya97 opened #1418 "Add table-driven tests to x/tokenfactory"
Currently, most of the tests for x/tokenfactory are "story-driven tests", but we should use more table driven tests with more edge cases to maximize code coverage.

[2022-05-05 01:45] ValarDragon commented on #1418
I don;t think they are story driven tests at the moment either. (At least not for common definitions of story driven testing / acceptance criteria testing)

[2022-05-05 03:22] p0mvn commented on #1131
The changes in #1343 helped us see that there aren't many cases where normalized weights are needed. Therefore, decided not to pursue this change

[2022-05-05 03:22] #1131 closed

[2022-05-05 04:18] ValarDragon opened #1420 "[x/gamm][Misc Improvements] Making balancer and stableswap pool model folders more aligned"
We currently use a different code structure for the balancer and stableswap packages. We should align these.

I think we should make the balancer package follow more of the standards of the stableswap package namely:
* Move API satisfaction functions from amm.go to pool.go
* Make the publicly exported method do basic input validation / output wrapping, and call out to a separate private 'mathy' me

[2022-05-05 04:57] ValarDragon opened #1422 "Make balancer inverse relation tests pool generic"
Recently, great tests have been added that test certain invariants (in the tests called "inverse relations") that are expected to hold trrue for any pool: https://github.com/osmosis-labs/osmosis/blob/main/x/gamm/pool-models/balancer/amm_test.go#L89-L216

We should make code reuse possible for using the same core logic in stableswap tests. Theres a couple ways this can be done:

I suggest we do the

[2022-05-05 05:03] ValarDragon opened #1423 "Add Badges to Osmosis README"
We should add several of the common badges to the top of our README.

Badges I suggest:
- godoc badge, linking to main: https://pkg.go.dev/github.com/osmosis-labs/osmosis/v7@main
- License
- Discord

See cosmos SDK readme for some examples for how to do this: https://github.com/cosmos/cosmos-sdk/edit/main/README.md

[2022-05-05 08:08] #1089 closed, assigned to nobody

[2022-05-05 10:50] JohnnyWyles opened #1424 "[x/gamm][Misc improvements] Reduce Pool 1 Swap fee to 0.2%"
https://www.mintscan.io/osmosis/proposals/214

Believe this is implementing in the next software upgrade now passed by governance.  Making an issue as a reminder.  Thanks!

[2022-05-05 12:48] liangping opened #1425 "all those apis with pagination parameters return 429? only on Osmosis."
We don't have access limit
https://osmo.api.ping.pub/cosmos/slashing/v1beta1/signing_infos?pagination.limit=5
https://lcd-osmosis.blockapsis.com/cosmos/gov/v1beta1/proposals?pagination.limit=5&pagination.reverse=true&pagination.key=

Both return this error.
[code]

[2022-05-05 13:33] xBalbinus commented on #1339
Will do! thanks for the great work as well on the addition of more templates @p0mvn !

[2022-05-05 13:34] p0mvn commented on #1425
Hi @liangping

It seems to be related to new config values. Please update the following in `app.toml`:
[code]

These values are in bytes. Please feel free to adjust them according to your needs. Let me know if the problem persists

[2022-05-05 13:35] p0mvn commented on #1422
Thanks for creating this @ValarDragon . It seems that this might be a duplicate of https://github.com/osmosis-labs/osmosis/issues/1371

@xBalbinus FYI

[2022-05-05 13:37] liangping commented on #1425
Thank. Let me try it

[2022-05-05 14:02] liangping commented on #1425
tried in [rpc] and [api] , but not works
[code]

[2022-05-05 14:10] xBalbinus commented on #891
#1399 Adding this as a place to track work on this issue

[2022-05-05 14:14] Vinitowinit commented on #1141
Hi yes, of course, I think I can help with documentation if need be. Improving the relevant changes I am unaware of where to help. For instance, stable swap is clearly out of my scope/capability to help :/

[2022-05-05 14:25] p0mvn opened #1426 "investigate and test: balancer.CalcTokenInShareAmountOut should be inverse of balancer.CalcJoinPoolShares"
**Background**

`JoinSwapShareAmountOut` was attempted to be implemented in the following way https://github.com/osmosis-labs/osmosis/pull/1307#discussion_r857177513. Once we calculate `tokenInAmount` with `CalcTokenInShareAmountOut`, we should be able to call `JoinPool` (that in turn calls `CalcJoinPoolShare`). to update liquidity under the hood.

If we do so, `sharesCreated` by `JoinPool` should

[2022-05-05 14:42] ValarDragon commented on #1381
Do you know how we'd fix it?

[2022-05-05 15:12] #1423 closed

[2022-05-05 15:32] alexanderbez commented on #1391
Yes, but setting `timeout_broadcast_tx_commit` is a hack. Tendermint should support providing explicit configurations in it's `config.toml` for the RPC settings.

[2022-05-05 15:47] #1333 closed

[2022-05-05 16:09] ChihuahuaChain commented on #1425
Tried that as well and tried to increase bytes as well, won't fix it.

[2022-05-05 16:29] p0mvn opened #1433 "chore: automate adding PRs to the project board"
**Background**

Currently, newly added PRs are not assigned to the chain dev project. We need to update the mergify configuration so that each new PR is auto-assigned to https://github.com/orgs/osmosis-labs/projects/1/views/28

**Acceptance Criteria**
- newly added PRs are auto-assigned to the chain dev project board

[2022-05-05 16:37] ChihuahuaChain commented on #1425
Checked config, values are in, service restarted and still have these problems, I started having issues only after updating to 7.3.0, no problems prior.

[2022-05-05 16:46] p0mvn commented on #1425
I see, thanks. I'm setting up a node right now to test on my side to investigate. Let me get back to you. If anyone finds a way to resolve this in the meantime, please let me know

[2022-05-05 16:53] ChihuahuaChain commented on #1425
Okay I fixed adding these lines exactly on the [grpc] section, it worked.

[2022-05-05 17:45] george-aj opened #1434 "Include PR #11224 from cosmos-sdk to fix Ledger/Amino authz signing"
Hi,

Would it be possible to include the following PR https://github.com/cosmos/cosmos-sdk/pull/11224 into the next release? This would fix the Ledger/Amino authz MsgGrant signing issues that are currently impacting all Ledger users.

Geo

[2022-05-05 18:22] xBalbinus commented on #1422
Yep! Working on this.

[2022-05-05 19:52] p0mvn commented on #1434
Hi @george-aj . Taking a look... The desired PR related to this seems to be: https://github.com/cosmos/cosmos-sdk/pull/11680

As a side note, this article was helpful for understanding the context: https://medium.com/confio/authz-and-ledger-signing-an-executive-summary-8754a0dc2a88

[2022-05-05 19:58] ValarDragon commented on #1434
@alexanderbez thoughts on whether this is a good idea to add directly to next release, vs wait until a subsequent release with SDK v0.46 ?

i don't understand whats happening with RegisterLegacyAminoJson being added into every module (vs just Authz)

[2022-05-05 20:41] ValarDragon commented on #1425
So whats happening if these configs aren't sent? Is the default assumed to be 0 at the moment, or something more reasonable?

[2022-05-05 20:46] p0mvn commented on #1425
The default is set to the following:
https://github.com/osmosis-labs/cosmos-sdk/blob/18b0d2de413cdce6d3307588904dcdb2156f1eb9/server/config/config.go#L238-L239

That default is only used to create the config. If someone had an old config, 0 would be assumed, and yes Bez guarded against that case here: https://github.com/osmosis-labs/cosmos-sdk/pull/220

[2022-05-05 22:41] liangping commented on #1425
works now. @p0mvn

[2022-05-05 22:41] #1425 closed

[2022-05-05 23:00] zmanian commented on #1410
It would be really helpful to use cases with interchain queries if these values are written to the store.

[2022-05-05 23:50] #689 closed

[2022-05-05 23:51] sunnya97 opened #1438 "Add fee for creating new denoms with x/tokenfactory"
Needed for spam resistance

[2022-05-06 00:41] ValarDragon commented on #1410
Our plan is to have old accumulator values written in state, and maintain them 7 days worth of accumulators per pool by default

[2022-05-06 01:43] liangping commented on #1425
On both 7.2.1 and 7.3.0

[2022-05-06 03:47] faddat opened #1439 "DaoDao and contract deployment"
Hi, I am working on a daodao deployment script here:

https://commonwealth.im/osmosis/discussion/4643-deploy-daodao

## concerns and questions
The first is the largest, about gov props.  I have a feeling that this can cause five of them:

* Daodao is at least five contracts.  Will that mean five governance proposals?
  * Daodao requires two external contracts:
    *  cw20
    *  cw4
  * Daodao spe

[2022-05-06 04:14] ValarDragon commented on #1439
cc @sunnya97, I believe alphaworks has a fork of the DaoDao contracts entirely working with native coins rather than cw20 which we can just directly use.

[2022-05-06 05:25] faddat commented on #1439
Nice, I will check that out.

Is there any reason you can think of that I should not pursue this deployment?

[2022-05-06 05:27] ValarDragon commented on #1439
Yeah, that deploying the contracts using the Alphaworks code with native SDK.Coins seems significantly preferrable

Please sync with them, my understanding is they are literally just waiting for review of their contract changes. They have a website made, and contracts done for a couple weeks AFAIU.

[2022-05-06 05:31] faddat commented on #1439
https://www.crunchbase.com/organization/alphaworks-867b

?

I guess the other thing would be to try to figure out how well we will be able to synchronize with the main line code base, I expect that daodao will become a standard in and of itself.

I would like to recount a narrative to you real quick:

So the other week somebody building out a block chain based public goods funding utility service

[2022-05-06 05:45] ValarDragon commented on #1439
Yeah, VMs are powerful abstraciton tools, and give much more rapid iterability! I totally agree.

I don't think that affects the choice of DaoDao vs Alphaworks' code (DaoDao but using native coins AFAIU)

One of the goals with our usage in Osmosis is to eliminate one of the core bug areas of Ethereum - different code paths for native coins and VM coins.

Solana did eliminate this, by having a spec

[2022-05-06 18:29] #1438 closed

[2022-05-06 21:10] ValarDragon opened #1443 "[x/gamm][Misc Improvements] Fix API inconsistency between JoinPool and CalcJoinPoolShares"
The API is currently:
[code]

CalcJoinPoolShares should either not return `newLiquidity` or JoinPool should return it. The current method of one method not being guaranteed to use all liquidity, while the other is required to use all liquidity is ... odd.

[2022-05-06 22:41] ValarDragon opened #1444 "Make gotests template for cosmos keeper & message tests"
The gotests tool is really nice for automatically generating go tests for a given function: https://github.com/cweill/gotests/

Its been ~2 years since I last used it, but I remember it working quite well for doing the boilerplate of a table driven test setup, for "normal" golang code. Its possible to make custom templates for it, we should add custom templates for desired table driven keeper test

[2022-05-07 11:52] faddat commented on #1439
swoon

[2022-05-07 13:02] faddat commented on #1381
Sort of.

but not exactly.

[2022-05-07 15:41] #807 closed

[2022-05-07 18:09] ValarDragon commented on #1381
AppVersion is a consensus param? Should be easy to update that in end block then

[2022-05-07 18:27] daniel-farina opened #1446 "LocalOsmosis - local endpoints are not working"
Docker-compose needs to be updated in order to expose ports.  http://localhost:1317/ ,http://127.0.0.1:1317/ are not working.

<img width="654" alt="image" src="https://user-images.githubusercontent.com/13665117/167267091-4ebe266d-60e1-406d-8fe1-405ae67024a0.png">

[2022-05-07 20:47] ValarDragon commented on #463
The need for this is now solved

[2022-05-07 20:47] #463 closed

[2022-05-07 20:48] ValarDragon commented on #578
Instead of work on this, lets focus attention towards strategies to get more CLI code automatically generated & deletable.

[2022-05-07 20:48] #578 closed

[2022-05-07 20:49] #761 closed

[2022-05-07 20:49] ValarDragon commented on #736
Argument has been deleted!

[2022-05-07 20:49] #736 closed

[2022-05-07 20:49] ValarDragon commented on #1011
No idea what happened here, lets close though since nothing else has ran into this.

[2022-05-07 20:49] #1011 closed

[2022-05-07 23:59] ahuizxc opened #1447 "osmosisd tx post failed, EOF error"
Error: post failed: Post "http://osmosis.artifact-staking.io:26657": EOF

help me thanks!

[2022-05-08 00:24] #1447 closed

[2022-05-08 11:20] mattverse opened #1448 "Add tests for Binary Search"
There's a room for improvement for test for binary search introduced in https://github.com/osmosis-labs/osmosis/pull/1419.
Some extra testing that we need, originally mentioned by @p0mvn  would be

- testing binary search on more complex function(currently testing with a straight line function)
- Non-zero tolerance test cases

[2022-05-09 02:35] p0mvn opened #1450 "[x/gamm][Refactor]"
Story:

- [x] #1066
  - Make a general pool interface, which has a method that each AMM msg just calls quite directly
  - [x] Generalize Create Pool messages #1149
- [x] Remaining items for new pool interface:
  - [x] Query for pool liquidity
  - [x] Delete/move around lots of the now unused code! #1129
  - Remaining items moved to sprint 6
- [x] #1051
- [x] Query for pool liquidity
- [x] #1183
-

[2022-05-09 02:40] p0mvn opened #1451 "[x/gamm][StableSwap]"
### Completed:
  - [x] #3004
  - [x] #3005
  - [x] #3007
  - [x] #2807
  - [x] #2898
  - [x] #2794
  - [x] #1341
  - [x] #2702
  - [x] #2826
  - [x] #2845
  - [x] #2696
  - [x] #2694
  - [x] #2776
  - [x] #2591
  - [x] #2701
  - [x] #2349
  - [x] #2592
  - [x] #2858
  - [x] #2860
  - [x] #2861
  - [x] #2902
  - [x] #2903
  - [x] #2886
  - [x] #2912
  - [x] #2896
  - [x] #2921
  - [x] #3008
  - [x]

[2022-05-09 02:54] p0mvn opened #1452 "[x/gamm][Testing]"

[2022-05-09 02:54] p0mvn opened #1453 "[x/gamm][Misc improvements]"
Purpose: tracking issues unassigned to specific stories for [x/gamm] improvements

- [x] https://github.com/osmosis-labs/osmosis/issues/1443
- [x] #1409
- [ ] #1185
- [ ] #1424

Post v8:
- [ ] #1139
- [x] #1411

[2022-05-09 02:57] p0mvn commented on #1448
Hi @mattverse ! Thanks for creating this issue, could you please add it to: https://github.com/osmosis-labs/osmosis/issues/1452

Also, please add a "T:task" label

[2022-05-09 03:11] p0mvn commented on #1422
Going to close this since it's a duplicate but porting @ValarDragon 's suggestions to #1371

[2022-05-09 03:11] #1422 closed

[2022-05-09 03:11] p0mvn commented on #1371
From @ValarDragon :

Recently, great tests have been added that test certain invariants (in the tests called "inverse relations") that are expected to hold trrue for any pool: https://github.com/osmosis-labs/osmosis/blob/main/x/gamm/pool-models/balancer/amm_test.go#L89-L216

We should make code reuse possible for using the same core logic in stableswap tests. Theres a couple ways this can be done:

[2022-05-09 03:15] p0mvn commented on #1420
Hi @ValarDragon and @mconcat

Could one of you please add "T:task" label to this and include it in the description of https://github.com/osmosis-labs/osmosis/issues/1453 story so that this issue is tracked?

Thanks in advance!

[2022-05-09 04:13] #1092 closed

[2022-05-09 15:40] #1408 closed, assigned to nobody

[2022-05-09 15:41] p0mvn commented on #1407
Need to bring stableswap structure closer to the balancer so that tests can be shared as well

[2022-05-09 15:44] p0mvn commented on #1369
More work need to be done to get all the AMM logic use multi asset rliqudiity. @ValarDragon please provide more context

[2022-05-09 16:58] nikever commented on #1415
Possible inspiration:
https://github.com/osmosis-labs/osmosis/blob/main/.github/workflows/docker.yml

[2022-05-09 23:19] xBalbinus commented on #1371
^ Huge shoutout to @mattverse for helping with this PR, I also fixed a small thing to keep the linter running. All tests are passing & ready for merge upon approval.

[2022-05-10 00:36] xBalbinus commented on #1339
Added templates to [docs](https://github.com/osmosis-labs/docs/tree/stage) and [frontend](https://github.com/osmosis-labs/osmosis-frontend/pull/473)

[2022-05-10 03:20] mattverse commented on #1443
@ValarDragon wdym by

imo, the API inconsistency makes sense: since `JoinPool` deosn't need to return `newLiquidity` because the return value would not be used. We also have the option to make both not return `newLiquidity` as you have mentioned, but then we would have to move the layer of calculating the updated liquidity to `JoinPool` which would result in extra overhead

[2022-05-10 09:02] ValarDragon opened #1460 "[x/gamm][StableSwap - Post V8] Add stableswap `scaling factor governor`"
There is a desire to use stableswaps with yield accumulating assets. There are a few designs for how you could do this, but the simplest one seems to be to utilize the 'scaling factors' present in the Stableswap algorithm. If someone wanted to adjust the scaling factors according to yield, then this would achieve altering the price that its being stable around.

We should add a new field in the st

[2022-05-10 17:16] daniel-farina opened #1462 "Add PRs to project"
- [x] Add pull requests and issues on a single action instead of two separate actions.
- [x] Delete the add PRs action using graphql, not longer needed.

[2022-05-10 17:24] #1446 closed

[2022-05-10 17:36] #1462 closed

[2022-05-10 17:46] p0mvn commented on #1433
We should port the following to the SDK: https://github.com/osmosis-labs/osmosis/pull/1463

[2022-05-10 20:37] p0mvn opened #1466 "[x/gamm][StableSwap - Post V8]"
- [ ] https://github.com/osmosis-labs/osmosis/issues/1460

[2022-05-10 21:34] p0mvn opened #1468 "chore: auto-archive oldest issues in chain dev project"
**Context**

GitHub Projects (beta) have a limit of 1200 issues assigned to them.

We recently reached a limit: https://github.com/osmosis-labs/osmosis/runs/6378001010?check_suite_focus=true

To prevent this, we need to have a GitHub job that only keeps the latest 600 issues (this number can be changed as desired). For example, run on schedule every week and remove all issues from project that are

[2022-05-10 22:22] daniel-farina commented on #1468
We don't want to auto delete issues from the project, that would be a bad practice because then every time you are adding an issue the delete ones would show up again.

We need to archive them.

We need to figure out an action that deletes issues which are:
- closed
- merged
- older than 30 days

This should take care of things.

[2022-05-10 23:01] vuong177 commented on #1460
Could i try doing that ?

[2022-05-11 14:35] #1433 closed

[2022-05-11 15:41] p0mvn opened #1470 "refactor: stableswap inverse tests to be consistent with the stableswap pool"
I think stableswap pools should instead have scaling factors

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/1456#discussion_r869535367_

[2022-05-11 18:44] xBalbinus commented on #891
Closing, as #1399 has been merged.

[2022-05-11 18:44] #891 closed

[2022-05-11 18:46] alexanderbez commented on #1434
I think @p0mvn's PR introduces the changes we need, but also introduces some API breaking changes. We can get it into v8.

[2022-05-12 09:02] #944 closed

[2022-05-12 16:40] #1260 closed

[2022-05-12 17:22] #1450 closed

[2022-05-12 19:20] p0mvn commented on #1468
Unfortunately, such action does not seem to exist. https://docs.github.com/en/graphql/reference/mutations there is no exposed API to do anything like that either. As a result, I'm closing this for now

[2022-05-12 19:20] #1468 closed

[2022-05-13 01:16] stackman27 commented on #1113
@mconcat are you still working on this?

[2022-05-13 03:34] stackman27 commented on #1409
Is there more info on this issue?

[2022-05-13 03:51] stackman27 commented on #1444
would this be a vscode plugin to use or just a general testing template?

[2022-05-13 15:55] #1359 closed

[2022-05-14 23:17] faddat commented on #1381
More context in #642

[2022-05-15 05:15] AlpinYukseloglu opened #1487 "Clean up MsgFilterDecorator in v8 unpooling code"
Reintroduce the layers of abstraction present in other custom fee decorators in `ante.go`.

This is not included in the v8 emergency upgrade because it was noticed after the final major code review by validators and was not important enough to warrant potentially putting the whole PR back through review, especially given the time-sensitive nature of the upgrade.

Changes should be made mainly here

[2022-05-15 17:03] faddat opened #1489 "download genesis automatically with ipfs"
## Background

We can't make enough RPC nodes.  It is impossible.  Plus, we want to make "the signal" unstoppable.  This means that eventually, Osmosis and its related DAOs need to ship onto user machines, as desktop apps.

Currently those of us on the "technical side" of the house have all shared the experience of guiding someone through hunting down genesis and seeds.

In fact, many of us have s

[2022-05-15 19:04] ValarDragon commented on #1489
why isn't get.osmosis.zone the goal we target here?

[2022-05-15 19:25] faddat commented on #1489
...where get.osmosis.zone gives you a .dmg ;)

[2022-05-15 20:07] RowanUtrecht opened #1490 "Swap/Trade page doesn't use fee/slippage in the expected outcome"
#### System information

Osmosis version: `Osmosis version 8.0 (but always has had the same bug since genesis)
OS & Version: Windows
Commit hash:

#### Expected behaviour
On the pool page, the expected return is including the costs for the swap fee and expected slippage. On the Swap/Trade page, the swap fee isn't included.

#### Actual behaviour
You would expect both swap pages to behave the same,

[2022-05-16 02:40] stackman27 commented on #1490
I believe this is what you're talking about; For one of them the `amount.amount` is 0 but for other its the swap fee
**Trade Page Swap Popup**
![Screen Shot 2022-05-15 at 7 38 31 PM](https://user-images.githubusercontent.com/26356227/168510691-38a214e0-d582-4f9c-847c-a76a6497be2d.png)

**Pool Page Swap Popup**
![Screen Shot 2022-05-15 at 7 39 20 PM](https://user-images.githubusercontent.com/263562

[2022-05-16 02:40] stackman27 commented on #1490
I can look into it and try to fix it!

[2022-05-16 03:24] ValarDragon commented on #1490
This is a front-end discrepancy, moving to the relevant repo.

I don't understand though, this should relate to what fee setting (low, medium, high) used on Keplr/

Thanks for looking into this Sishir! I didn't understand the issue until your explanation =)

[2022-05-16 03:49] ValarDragon opened #1493 "Update package import paths and go.mod to v8 in v8.x"
## Background

Go.mod and import paths need to be updated to be `v8` for osmosis v8.x

A find/replace for `github.com/osmosis-labs/osmosis/v7` should suffice here.

[2022-05-16 04:12] ValarDragon opened #1494 "Major release checklist"
## Background

We need to make a major release check list. Can someone please add this to Contributing.md

- [ ] Update / cleanup changelog
- [ ] Tag release
- [ ] Update chain registry
- If major release:
  - [ ] Update all import paths and go.mod version
  - [ ] Add new backport label
  - [ ] Edit mergify config

Also someone want to take everything aside from `Tag Release` on for v8.x :sweat_sm

[2022-05-16 04:52] #1185 closed

[2022-05-16 05:48] stackman27 commented on #1494
I can do this!

[2022-05-16 06:13] ValarDragon commented on #1494
sweet ty!

[2022-05-16 12:45] ValarDragon opened #1496 "Make a github workflow to update chain registry"
## Background

Every osmosis major release and minor release, there should be an update to the chain-registry repository. https://github.com/cosmos/chain-registry/blob/master/osmosis/chain.json#L26-L27

Right now, some very nice people keep these in sync. This seems like a long term, not terrific solution, especially across the many chains at hand.

I think we should make a github actions workflow

[2022-05-16 12:45] ValarDragon commented on #1444
gotests is already a go tool, that has native integration into the vscode `go` package already!

This template would be a file we add to the root directory, that go tests would automatically read and use.

[2022-05-16 13:54] #1210 closed

[2022-05-16 16:52] czarcas7ic opened #1501 "[v9 RC Blocker] Move v8 Updates to Main"
## Background

We need to port the changes from v8 over to main branch. This is a blocker for RC0 release of v9. This change should be competed by tomorrow, Tuesday May 17th.

## Acceptance Criteria

- all changes from v8 are moved over to main
- all existing and new tests should pass

[2022-05-16 16:56] czarcas7ic opened #1502 "[v9 RC Blocker] Upgrade Main to Cosmwasm v0.27.0.rc3"
## Background

We need to upgrade main from wasmd 0.24 to either 0.26 or 0.27. This is a blocker for RC0 release of v9. This change should be competed by tomorrow, Tuesday May 17th.

## Acceptance Criteria

- wasmd upgraded
- all existing and new tests should pass

[2022-05-16 17:00] czarcas7ic opened #1503 "[v9 Blocker] Disable Stableswap"
## Background

We need to comment out the stableswap instantiation in message services and any other present calls. This is a blocker for RC0 release of v9. This change should be competed by tomorrow, Tuesday May 17th.

## Acceptance Criteria

- stableswap is not instantiated in v9
- all existing and new tests should pass

[2022-05-16 17:02] mattverse commented on #1503
Do we want to simply comment things out or do we want to completely remove them from implementation?

[2022-05-16 17:02] czarcas7ic opened #1504 "[v9] Add Superfluid Governance"
## Background

Review and merge #1191

## Acceptance Criteria

- PR #1191 is merged
- test if governance works as expected on a testnet
- all existing and new tests should pass

[2022-05-16 17:03] czarcas7ic commented on #1503
Comment out IMO

[2022-05-16 17:07] czarcas7ic opened #1505 "[v9] Token Factory"
## Background

Token factory should be fully implemented and tested for v9 release.

## Acceptance Criteria

- Review of token factory code
- Create a [more detailed spec](https://github.com/osmosis-labs/osmosis/blob/main/x/tokenfactory/README.md)
- Test token creation on a testnet
- Add a gov parameter to charge a set fee per new denom created
- (optional) Test Cosmwasm binding API for token fact

[2022-05-16 17:14] czarcas7ic opened #1506 "[v9 optional] GAMM Refactor Implementation"
## Background

We need to asses whether we want the gamm refactor to a part of this upgrade or punt it to v10.

## Acceptance Criteria

- Code review / decide on final testing needs for Balancer
- Test differences between pre & post upgrade
- Integrator communications
- Measure difference of each action

[2022-05-16 17:18] czarcas7ic opened #1507 "[v9] Cosmwasm Binding API Review"
## Background

As mentioned in #1505, we need to familiarize ourselves with the cosmwasm API, its relation to osmosis, and if there are any issues with its implementation.

## Acceptance Criteria

- general dev consensus that cosmwasm API bindings are properly implemented

[2022-05-16 17:22] ko0f commented on #1188
Unfortunately all of the above checks, permissions are fine.

[2022-05-16 17:23] czarcas7ic opened #1508 "[v9] Different Voting Period Per Gov Type"
## Background

The current "one-size-fits-all" gov period has shown its flaws in light of recent events. We need to have the ability to set a shorter gov period for certain proposal types.

Also to detail in future issues, ideas to handle emergency proposals with 2/3rds expidted approving.

## Acceptance Criteria

- Can set a different voting period per proposal type
- proposer can choose emergenc

[2022-05-16 17:26] czarcas7ic opened #1509 "[v9] Contract Upload Process"
## Background

We need a clear guide that steps users through the entire contact upload process.

## Acceptance Criteria

- guide created and uploaded to documentation website

[2022-05-16 17:29] czarcas7ic opened #1510 "[v9 optional] Bank Aliases for Certain Denoms"
## Background

The current ibc denoms are non human readable. For example, we want to be able to call uatom instead of ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEADA9CA97EA622B25F41E5EB2. If state breaking, we can do this in another upgrade.

## Acceptance Criteria

- ensure all ibc denoms have a corresponding human readable denom

[2022-05-16 17:36] czarcas7ic opened #1511 "V9 Tracking Issue"
**By Wednesday, May 18th:**

- [x] #1501
- [x] #1502
- [x] #1503
- [x] RC0 tagged
- [x] Testnet for integrators created

**By Friday, May 26th:**
- [x] #1191
- [x] #1505
- [x] #1509
- [x] v9.0.0 released and tagged

**Saturday May 27rd:**
- [x] Gov prop created before epoch

**Wednesday June 1st:**
- [x] v9.0.0 on chain

**Optional / Non-Blocking:**
- [x] #1507
- [x] #1510
- [x] #1506

[2022-05-16 17:50] ValarDragon opened #1512 "Make tests for the generic CalcExitPool logic"
We need to add unit tests for the generic `CalcExitPool` Logic in `x/gamm/pool-models/internal/cfmm_common/lp.go`.

TBD to see if something can be easily reused from existing balancer tests.

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/1419#discussion_r867283261_

[2022-05-16 18:15] p0mvn commented on #1493
Closed in https://github.com/osmosis-labs/osmosis/pull/1513

[2022-05-16 18:15] #1493 closed

[2022-05-16 18:28] p0mvn commented on #1502
I'm trying `0.26` since `0.27` is an rc release. It also introduced breaking changes when `0.26` doesn't seem to

[2022-05-16 19:00] p0mvn commented on #1502
Having a problem with upgrading wasmd. Osmosis depends on cosmos-sdk from our own fork while wasmd utilizes the upstream.

When I bump up the version for wasmd to 0.26 it complains about needing to depend on our fork. As I've done before, I tried to just switch wasmd 0.26 to depend on our own fork and tag it. However, that broke some tests. Seems that the new wasmd relies on some updates from the

[2022-05-16 19:12] #1339 closed

[2022-05-16 19:48] p0mvn commented on #1502
The problem is resolved. Went with `v0.26.0` because `v0.27.x` is rc still

[2022-05-16 20:44] alexanderbez opened #1517 "x/gov Improvements"
_Creating this issue in the osmosis repo, although, if accepted, would be implemented in our fork of the Cosmos SDK._

There are a few improvements to the `x/gov` module that if made would provide huge benefits for users and gov UX, all of which can be implemented independently with different priorities, although should be implemented with all of them in mind. I'll outline as follows:

**1. 2/3 Ma

[2022-05-16 20:57] alexanderbez commented on #1508
ref: https://github.com/osmosis-labs/osmosis/issues/1517

[2022-05-16 20:58] alexanderbez commented on #1510
This is totally possible by doing a few changes to `x/bank`, but I think for optimization, we'd need to add an additional index, so this would be state-breaking. In fact, we would also need to add a global uniqueness constraint on aliases which would also be state-breaking anyway, so yeah 👍

I can take this too

[2022-05-17 00:27] czarcas7ic commented on #1502
Could it have something to do with us still requiring wasmvm? According to that compatibility chart, 0.26 no longer uses this.

[2022-05-17 00:31] faddat commented on #1502
hey, I would like to recommend:

* 27
* ibc v3

Happy to help with either

[2022-05-17 00:35] faddat commented on #1502
I am intimately familiar with these dockerfile issues.

I recommend:

ghcr.io/faddat/cosmos

it is designed specifically as the solution to the docker issues mentioned.

[2022-05-17 00:35] faddat commented on #1502
@p0mvn I am hopping onto the wasmd issue.

27 gets us state sync

[2022-05-17 00:48] p0mvn commented on #1502
@faddat thanks. I'm concerned that 0.27 is an rc though. Has it been used by other chains?

[2022-05-17 00:58] p0mvn commented on #1502
Also, the wasmd problem is solved for 0.26 on this branch:

https://github.com/osmosis-labs/wasmd/tree/v0.26.0-osmo

I suspect that the fix for v0.27 would require similar changes

[2022-05-17 01:00] faddat commented on #1502
actually reading through that branch now.  v27 hasn't been tested on other chains, but -- wait-- yes it has.it is on juno (not quite v27 but very close) and (pieces of it?) are on scrt I think

[2022-05-17 01:01] faddat commented on #1502
We shouldn't cut an osmosis release with it as an rc, though it's worth noting that Juno hasn't had issues.

We needed sudo for the implementation of prop 16 iirc

[2022-05-17 01:05] p0mvn commented on #1502
Essentially, what's done on the linked branch of wasmd is making it use the same SDK and IAVL as Osmosis. Once go.mod is changed accordingly, there will be a few places requiring manual code changes

[2022-05-17 01:09] faddat commented on #1502
yep -- in fact I just used your commit :)

but need to update our SDK it seems, would you like me to?

[2022-05-17 01:09] p0mvn commented on #1502
Yeah I'll keep trying to figure out the Docker images issue. Will try the images you shared. Thanks

[2022-05-17 01:11] faddat commented on #1502
awesome :D.

I'll check back when progress or computer has exploded

[2022-05-17 01:13] faddat commented on #1502
ah, I almost forgot -- here's the source for those docker images:

https://github.com/faddat/archlinux-docker

`osmosis` is `cosmos` but it also has genesis.json at /

[2022-05-17 01:16] p0mvn commented on #1502
Why do you need to update the SDK? When we update the version of SDK in go.mod of wasmd, there will be some issues post-update. I think wasmd needs to be updated to match our SDK fork API

[2022-05-17 01:19] faddat commented on #1502
I might not-- I found your work on osmosis-labs/cosmos-sdk `main`

:)

[2022-05-17 01:52] alexanderbez commented on #1502
So wait...are we using 0.26 or 0.27

[2022-05-17 02:26] faddat commented on #1502
My thoughts:

We should prep with v0.26.0

If I can finish v0.27.0 we should consider it.  Currently getting snapshots over the line, I think.  There were changes to the wasm snapshots, which would affect our cosmos-sdk.

Also, if we would like to go fast fast-- might as well use v0.26 + ibc v2.2.0 as - is, and come back to this at a later time.

[2022-05-17 06:56] catShaark commented on #1367
Is this issue blocked, do we have to wait until all the logic for stable swap is complete ?

[2022-05-17 06:57] catShaark commented on #1368
Can you provide more description for this issue ?

[2022-05-17 08:21] mattverse opened #1521 "[v9] Optimize and list breaking changes from gamm generalization"
## Background
Gamm generalization brings couple of breaking changes to existing APIs. A comparison and a list of breaking changes resulting from gamm generalization are necessary to coordinate with different fronts using the current API. More investigation is needed to make a proper list of all changes, what I have in mind as I'm writing this issue is
- [ ] MsgJoinSwapExternAmountInResponse, MsgEx

[2022-05-17 11:10] mattverse commented on #1511
Changed issues -> PR for the issues that have an open PR for it so that we can better track what issues are currently being worked on, what issues hasn't started

[2022-05-17 11:14] mattverse commented on #1505
Assigning myself for creating detailed spec for token factory

[2022-05-17 11:44] mattverse commented on #1521
just reviewed the breaking changes note, seems that all breaking changes are tracked

[2022-05-17 11:44] #1521 closed

[2022-05-17 15:38] p0mvn commented on #1502
Also, I switched to trying to integrate `v0.27.0.rc3`. Trying to backport https://github.com/cosmos/cosmos-sdk/pull/11267 to our fork to make it work with Osmosis

[2022-05-17 15:53] mattverse opened #1525 "Support superfluid staking queries"
## Background
cref: https://github.com/osmosis-labs/osmosis/pull/1191#issuecomment-1111114761

With superfluid module now being added governance support along with meeting the interface satisfaction, we should now try to integrate the staking query with the superfluid module if possible, if not try creating a conjoined query within the superfluid module  to have better support for querying superfl

[2022-05-17 16:44] #1161 closed

[2022-05-17 16:59] kobrien commented on #1377
also running into this issue, what was the config fix?

[2022-05-17 19:12] p0mvn commented on #1502
Created:

https://github.com/osmosis-labs/wasmd/releases/tag/v0.27.0.rc3-osmo

Next, need to upgrade Osmosis to ibc-go/v3 and wasmd to v0.27.0.rc3-osmo

[2022-05-17 19:51] czarcas7ic commented on #1377
@kobrien I recommend generating the config.toml file via the newest release (v8.0.0) and this issue will go away

[2022-05-17 20:41] ValarDragon commented on #1507
We basically want to look at the API / usage from within cosmwasm. Not sure if theres an example cosmwasm contract using the bindings in the bindings repo

[2022-05-18 01:27] ValarDragon commented on #1424
Closed by linked PR

[2022-05-18 01:27] #1424 closed

[2022-05-18 01:31] ValarDragon opened #1529 "Make `Add new issues to project` only run on PRs that are not from a fork"
## Background

Make  `Add new issues to project` only run on PRs that are not from a fork. Its currently erroring on every PR from a fork.

## Suggested Design

Add a check in the github actions flow for this. An alternative design would be to make github tokens work in a fork, idk if thats possible though. Another design would be for it to not be an action that shows in PRs

## Acceptance Criteri

[2022-05-18 13:28] lightiv opened #1531 "Too Many Snapshots In Data Folder"
#### System information

Osmosis version: `Osmosis version`: v8.0.0
OS & Version: Windows/Linux/OSX: Linux
Commit hash: 16e3b51f19a58f815a4eabcbcee11886eb33e026

#### Expected behaviour

For there to be 2  snapshots folders under ~/.osmosisd/data to correspond with the state_sync setting in app.toml.  The default is to retain 2 of these images.

#### Actual behaviour

Osmosis has 4 despite having

[2022-05-18 14:23] #1384 closed

[2022-05-18 15:13] alexanderbez commented on #1531
Could it be possible that 2 are from the previous version of Osmosis and 2 are from the current? Where the current version will not prune or remove snapshots it doesn't understand or know about (i.e. v7)...? Thoughts @p0mvn?

[2022-05-18 15:44] catShaark opened #1533 "remove `sdk.Context` param in PoolI interface function"
## Background

- I think [PoolI](https://github.com/osmosis-labs/osmosis/blob/75e9856068e93ff68a44ee66055d698926f82abc/x/gamm/types/pool.go#L14) interface functions should not take in a `sdk.Context` param because those functions don't need to access or change the state.
- I've checked all the [PoolI](https://github.com/osmosis-labs/osmosis/blob/75e9856068e93ff68a44ee66055d698926f82abc/x/gamm/type

[2022-05-18 15:52] #1501 closed

[2022-05-18 16:09] ValarDragon commented on #1505
Turns out the gov parameter already exists on main, and we have the queries we need!

[2022-05-18 16:36] catShaark commented on #1533
If so, should "get" functions like `GetSwapFee` or `GetExitFee` which has nothing to do with state mutations takes in `sdk.Context`

[2022-05-18 18:28] p0mvn commented on #1517
What is the purpose of `ExpiditedDuration` when we have https://github.com/osmosis-labs/cosmos-sdk/blob/949254a6d6fd2163471942d39db5639ae0a3d1b9/x/gov/types/gov.pb.go#L252-L253 `VotingEndTime` that can be set to a shorter value?

Is it sufficient to only have a `Expedited` boolean?

[2022-05-18 18:30] alexanderbez commented on #1517
@p0mvn I didn't realize we had that field as I completely forget Osmosis made existing modifications to `x/gov`. I was operating under the pretense of the core SDK module. So yes, you're probably correct in that we don't need `ExpeditedDuration `. Correct me if I'm wrong @ValarDragon

[2022-05-18 18:42] p0mvn commented on #1517
Makes sense, the difference should be minimal.

@alexanderbez  Where do you see me helping out? I'm fine with taking any part that I can help out on

[2022-05-18 19:16] mattverse commented on #1517
Same here! Available to parrelize on any fronts

[2022-05-18 19:53] p0mvn commented on #1507
I can work on that and document my findings

[2022-05-18 19:53] #1502 closed

[2022-05-18 20:35] stackman27 commented on #1470
I can work on this!

[2022-05-18 20:54] p0mvn commented on #1470
Hi @stackman27 . Thank you.

Please note that this is blocked by #1456. It doesn't prevent you from starting the work on another branch, just something to keep in mind

[2022-05-18 20:55] stackman27 commented on #1470
Yup, i'll pull the work from #1456 and work on top of it

[2022-05-19 03:56] nghuyenthevinh2000 commented on #1525
I explore both options and I think that the second options would be better. Here is why?

I first look at staking delegation query

1. By design, staking delegation query only returns one type of asset:
https://github.com/cosmos/cosmos-sdk/blob/450cd7fc8708ccb0fa21f05e251d9804a2063b79/x/staking/keeper/querier.go#L464

Changing this would mean expanding staking query to return more assets.

2. Beca

[2022-05-19 06:13] stackman27 commented on #1470
Hi @p0mvn  do you think i need #1459 to complete this PR because I believe i need `[]stableswap.PoolAsset{...}` in `stableswap_pool.pb.go` to test out scaling factors.

Also is there anywhere i can read up on scaling factors. I am a lil confused with how they impact the the stableswap pools.

[2022-05-19 07:11] faddat commented on #1489
Unfortunately, this is blocked by this:

https://github.com/cosmos/cosmos-sdk/pull/11414

[2022-05-19 12:08] #1460 closed

[2022-05-19 13:33] ValarDragon commented on #1517
We modified voting end time? I don't remember us changing that, are we sure its not in SDK v0.44.x? Looks like its there in upstream: https://github.com/cosmos/cosmos-sdk/blob/v0.45.4/x/gov/types/gov.pb.go#L253

That value there isn't provided by the user, its set by the state machine upon a proposal entering voting period

[2022-05-19 13:54] alexanderbez commented on #1517
You're right @ValarDragon -- my comment/proposal still stands then I think.

[2022-05-19 14:30] daniel-farina commented on #1507
I think this is key as mentioned by @iboss-ptk in Slack.

https://github.com/osmosis-labs/osmosis/pull/1135

[2022-05-19 15:12] ValarDragon opened #1542 "Update osmosis-bindings to use the repo at osmosis-labs rather than confio"
## Background

Update osmosis-bindings imports in osmosis to use the repo at osmosis-labs rather than confio's.

[2022-05-19 15:18] p0mvn commented on #1507
TODO for this issue: find or create a sample contract and document it

[2022-05-19 15:23] daniel-farina commented on #1509
Several guides uploaded and a few more to come.

<img width="1346" alt="image" src="https://user-images.githubusercontent.com/13665117/169334824-c58aacc2-d123-48b7-98e3-8db661332e97.png">

[2022-05-19 15:37] #1434 closed

[2022-05-19 16:03] #1542 closed

[2022-05-19 20:03] #1512 closed

[2022-05-20 12:46] nikever opened #1550 "[DevOps] Create automatic release process for osmosisd binary"

[2022-05-20 14:53] lightiv commented on #1531
This was a fresh setup that I noted this on.

[2022-05-20 17:36] angrymouse opened #1552 "Add trading route for ASVT/EEUR to Frontier"
Hello! Can trading route ASVT/EEUR be added to trading page?
(Through pool 717)

[2022-05-21 16:20] superpdm commented on #1377
I'm runing terrad and osmod at the same machine while I used the same port number for both deamons.

[2022-05-21 20:07] p0mvn opened #1556 "test: e2e test superfluid gov voting"
## Background

We should convert this manual test case to an e2e test: https://github.com/osmosis-labs/osmosis/discussions/1543#discussioncomment-2786650

## Suggested Design

- introduce `func (s *IntegrationTestSuite) TestSuperfluidGovVoting() {...}
- Reproduce the listed commands by calling them via Docker test in e2e_test.go
- add a test where there is no SF delegation and assert that only val

[2022-05-22 18:29] nghuyenthevinh2000 commented on #1525
@mattverse @ValarDragon can you confirm my direction?

[2022-05-22 18:31] carameleon opened #1559 "wrong Block.Header.AppHash after v8"
#### System information

Osmosis version: `Osmosis version`
[code]
OS & Version: Windows/Linux/OSX
[code]
Commit hash:

#### Expected behaviour

#### Actual behaviour

This node is for processing heavy api requests.
I've got apphash mismatch errors. And only this node has happened 3times since the v8 upgrade.
Also, apphash mismatch has always happened within 10~20min after epoch done.
I guess it i

[2022-05-23 02:51] sznariOsmosis opened #1561 "osmosis数据同步至2383300高度时候节点崩溃，我的服务器内存是16G"
I set up a 30G swapfile according to this document, and the result is still the same. How can I make the node return to normal.

[2022-05-23 03:12] czarcas7ic commented on #1561
I would try a larger swap file, I have seen osmosisd hit 64GB before

[2022-05-23 04:43] sznariOsmosis opened #1562 "Error: error during handshake,how to solve this problem！"
May 23 12:41:35 datalake cosmovisor[2388114]: 12:41PM INF Starting IndexerService service impl=IndexerService module=txindex
May 23 12:41:35 datalake cosmovisor[2388114]: 12:41PM INF ABCI Handshake App Info hash="4\x01\"��U�\x10H�s\aX-\x0f}�tM \v�`#Ra\x1a���q�" height=2383300 module=consensus protocol-version=0 software-version=6.4.1
May 23 12:41:35 datalake cosmovisor[2388114]: 12:41PM INF ABCI R

[2022-05-23 15:50] ValarDragon commented on #1562
Do we need to backport more db / snapshot related fixes to the v6.x line?

cc @p0mvn

[2022-05-24 10:03] mattverse commented on #1525
@nghuyenthevinh2000 just left a review on the draft PR!

[2022-05-24 16:10] ValarDragon opened #1569 "Make pool-incentives queries show % of incentives"
## Background

Make pool incentives query show % of incentives going to that gauge ID

## Acceptance Criteria

- [ ] Either an existing query is amended, or a new query is added, to show % of total incentives going towards a particular gauge

[2022-05-24 18:45] stackman27 commented on #1569
Hi @ValarDragon, i can work on this

[2022-05-24 22:41] ValarDragon commented on #1569
Awesome, ty!

[2022-05-25 01:29] ValarDragon opened #1578 "Speedup CI"
## Background

We should invest time in speeding up CI. Lots of time is lost in just waiting for CI to finish executing. If theres any reason we cannot do all of the above in github actions, imo we should investigate moving to a paid CI service, perhaps Circle, where they can all be done. Getting the feedback loop right for rapid merging multiple related PR's is important.

First where we stand on

[2022-05-25 01:58] ValarDragon opened #1580 "Document how to debug test-e2e locally"
## Background

We need to document how to debug test-e2e failures locally.

## Suggested Design

The steps to debug test e2e as @nikever helpfully explained to me are:
* `make test-e2e`
* inspect the logs of the docker containers and see if something it’s there
* `docker ps -a`  # <--- list all docker containers
* note the container id of the one you want to see the logs
* and then docker logs <CO

[2022-05-25 02:04] p0mvn commented on #1562
Yes, I'll work on this and get back once `v6.x` is updated and released

[2022-05-25 02:16] ValarDragon commented on #1578
This repo has examples for how we can cache go package downloads in CI: https://github.com/mvdan/github-actions-golang

It also has the caching needed to get incremental builds, which would likely also help some of this CI time.

[2022-05-25 11:55] ValarDragon commented on #1533
We explicitly need this for GetSwapFee, I don't see a reason why GetTotalShares would need to depend on state, except if a pool decided to store it in state rather than it struct. (We could add ctx there for simplicity)

[2022-05-25 11:56] #1487 closed

[2022-05-25 13:24] ValarDragon commented on #1229
This PR caches the entire go build directory, I don't know if the folder pointed to contains test cache: https://github.com/osmosis-labs/osmosis/pull/1583

On inspection of jobs in that PR, tests weren't cached on repeated runs of the same logic. If we see test runs speedup dramatically below 3 minutes, that'd be a good sign caching of tests is happening. The default go test cache location does ap

[2022-05-25 13:50] ValarDragon commented on #1578
oh thats a great idea. Perhaps we can make that variable also get run if theres any change in the upgrades sub folder as well?

[2022-05-25 13:50] ValarDragon commented on #1578
oh thats a great idea. Perhaps we can make that variable also get run if theres any change in the upgrades sub folder as well?

[2022-05-25 21:40] ValarDragon commented on #1256
Someone want to see if we can just copy what Tendermint's workflow here is: https://github.com/tendermint/tendermint/blob/mjf/unsocketing/.github/workflows/check-generated.yml

[2022-05-25 22:06] alexanderbez commented on #1580
Yes, so this is why I originally added the `*_SKIP_CLEANUP` env var. By setting this, it keeps the docker infra intact and allows you to inspect containers, view logs, and even exec into them (if they're still running).

Are you looking for just a quick markdown doc here?

[2022-05-25 22:09] ValarDragon commented on #1580
yeah, just a quick inclusion of basic steps here in Contributing.md (or anywhere that makes sense)

Want to be able to easily link to instructions for how to fix it

[2022-05-25 22:11] p0mvn commented on #1580
There is also a README but it needs to be updated with the upgrade logic and the suggested debugging tips:

https://github.com/osmosis-labs/osmosis/blob/main/tests/e2e/README.md

[2022-05-25 22:22] czarcas7ic commented on #1580
Even better, we should print the logs out to the terminal when a docker container or test fails which would prevent us from needing to run it a second time locally.

But agreed, will work on more in depth instructions for this!

[2022-05-26 13:06] ValarDragon commented on #1263
Why was this closed? Theres no contributing.md here

[2022-05-26 13:10] xBalbinus commented on #1263
Oh shoot my bad I thought the contributing.md was created with the other PR. I'll finish this today with a PR.

[2022-05-26 14:11] alexanderbez commented on #1580
Sounds like we can just update the README for now 👍

[2022-05-26 14:11] ValarDragon commented on #1229
Ah indeed, https://github.com/golang/go/issues/23565

coverprofile does not get cached with tests at the moment, hence tests are not getting cached. So the decision matrix for this issue is then:
- Keep coverprofile, close this issue, accept no test caching
- Remove coverprofile, go tests will be cached / execute extremely fast

I don't think I ever look at codecov comments on PRs / coverprofile p

[2022-05-26 14:16] ValarDragon opened #1588 "Add back balances_from_state_export.go"
## Background

The `balances_from_state_export.go` file in #1301 got moved out of the CLI, and renamed to `balances_from_state_export.go.history` and we did not catch this in review. Its definitely needed in main / v8 / releases. It needs the `.history` extension deleted, and to be added back to cmd.

[2022-05-26 16:23] #1372 closed

[2022-05-26 17:23] ValarDragon commented on #1578
For docker build times, I think we can replace the `make docker-build-debug` step with a direct docker build invocation, and use `cache` fields, e.g. https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#cache-backend-api

[2022-05-26 19:46] #1336 closed

[2022-05-26 19:48] ValarDragon commented on #900
I believe we did this!

[2022-05-26 19:48] #900 closed

[2022-05-26 19:48] ValarDragon commented on #729
Captured by end to end testing work!

[2022-05-26 19:48] #729 closed

[2022-05-26 19:49] ValarDragon commented on #727
Done

[2022-05-26 19:49] #727 closed

[2022-05-26 19:49] ValarDragon commented on #735
Done

[2022-05-26 19:49] #735 closed

[2022-05-26 19:50] ValarDragon commented on #604
I think we should hold off on this

[2022-05-26 19:50] #604 closed

[2022-05-26 19:50] ValarDragon commented on #567
Done by @alexanderbez !

[2022-05-26 19:50] #567 closed

[2022-05-26 20:39] #1588 closed

[2022-05-27 03:20] czarcas7ic opened #1596 "[v10] Expedited Proposals"
## Background

In addition to variable vote times based on proposal type that is getting added to v9, we would like to add an expedited option for all proposals in the event of emergency situations.

## Suggested Design

A majority of this work has already by completed by @p0mvn in [#240](https://github.com/osmosis-labs/cosmos-sdk/pull/240)

## Acceptance Criteria

- [ ] Go through review process

[2022-05-27 03:34] czarcas7ic opened #1597 "[v10] Thirdening Testing"
## Background

While there is no reason to be suspicious of the code in place to reduce token emissions by 1/3rd every year (the thirdening), since this is a fairly significant event, it should get extensively tested prior to it happening.

## Suggested Design

Prior to June 18th
- [x] Spin up a state exported testnet
  - [x] Expedite the daily epoch to happen every 60 seconds
  - [x] Take note of

[2022-05-27 03:57] czarcas7ic opened #1598 "[v10] LocalOsmosis Mainnet State"
## Background

Smart contract developers have expressed a desire to be able to spin up a local net that mirrors the current mainnet state.

## Suggested Design

In order to run a local network based on mainnet, you need to posses a majority of the voting power in order to produce blocks. The way we currently achieve this is we change the private key and self delegation address of one of the top va

[2022-05-27 04:37] czarcas7ic opened #1599 "TWAP"
## Background

We want to have a fully working iteration of TWAP in v10. Preferably, TWAP is ready prior to v10 being tagged in order to be extensively tested.

## Acceptance Criteria

This is a draft writeup and will be further expanded upon.

Before June 9th:

- [x] #1650
- [ ] https://github.com/osmosis-labs/osmosis/issues/1386
- [ ] Hooks logic
  - [x] Executing at end of block for every pool

[2022-05-27 06:54] nikever opened #1601 "Cache / incrementally Docker build"
For docker build times, I think we can replace the make docker-build-debug step in test.yml with a direct docker build invocation, and use cache fields, e.g. https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#cache-backend-api

_Originally posted by @ValarDragon in https://github.com/osmosis-labs/osmosis/issues/1578#issuecomment-1138822581_

[2022-05-27 09:55] nikever commented on #1578
Added the cache option in https://github.com/osmosis-labs/osmosis/pull/1602
It gives a nice speed up but I would like to be even faster.

There are some redundant steps between `go_test` step and `e2e_test` that could be improved.
I'm working on re-structuring a little bit the setup to avoid redoing work.

[2022-05-27 13:42] #1601 closed

[2022-05-27 13:54] ValarDragon opened #1603 "[v10] Make a Cosmwasm query to query the admin of a denom"
## Background

Make a cosmwasm binding to query the admin of a denom

## Suggested Design

If a token is not a factory denom return "". Otherwise make a straightforward binding for just querying the keeper.

## Acceptance Criteria

- [ ] Its easy for a cosmwasm contract to find the current admin of a denom

[2022-05-27 14:24] alexanderbez commented on #1603
I would like to get my hands dirty with wasm and bindings. Mind if I tackle this (might need a bit of guidance but I'll try to figure it out on my own).

[2022-05-27 14:26] #1505 closed

[2022-05-27 14:49] czarcas7ic opened #1605 "[v10] E2E Test Expansion"
## Background

We should continue to expand the testing reach of the E2E test framework, as well as figure out what testing items should be in or out of scope based on the action (i.e. PR to main vs push to branch)

## Suggested Design

We should add to this list anything else that comes to mind:

- [ ] https://github.com/osmosis-labs/osmosis/pull/1572
- [ ] https://github.com/osmosis-labs/osmosis

[2022-05-27 16:27] ValarDragon commented on #1229
Sweet, I'm down to remove `coverprofile` as well

[2022-05-27 16:40] sunnya97 commented on #1598
Do we actually need to change the validator operator address of the top validator?  Could we not just change the consensus key, and then mint them a lot more coins?

[2022-05-27 16:48] czarcas7ic commented on #1598
The operator address is linked to the `priv_validator_key` correct? If we dont change their pubkey to match the one we have locally, then we cant sign blocks right? I could be wrong and could be misunderstanding

[2022-05-27 16:50] ValarDragon commented on #1603
Absolutely go for it!

[2022-05-27 17:06] czarcas7ic opened #1608 "v10 Tracking Issue"
Primary v10 Features
- [x] https://github.com/osmosis-labs/osmosis/issues/1599
- [x] https://github.com/osmosis-labs/osmosis/issues/1596
- [x] https://github.com/osmosis-labs/osmosis/issues/1597
- [x] https://github.com/osmosis-labs/osmosis/issues/1598
- [x] https://github.com/osmosis-labs/osmosis/issues/1603
- [x] https://github.com/osmosis-labs/osmosis/issues/1605

Overhead (not necessarily just

[2022-05-27 17:30] sunnya97 commented on #1598
Validators have two keys, their account keys (on which operator addresses are generated) and consensus keys (what they use for signing tendermint blocks).

Operator keys are probably widespread used for indexing in different places like superfluid and stuff, but I imagine that consensus keys are not.  Pretty sure the only place they're stored is in the validator struct

https://github.com/cosmos/c

[2022-05-27 17:31] czarcas7ic commented on #1598
I will look into doing this then, as that would be the least intrusive option. Thanks!

[2022-05-27 18:03] joeabbey opened #1609 "Panic on RegisterWhitelistedDirectUnbondPools (on non-mainnet)"
`RegisterWhitelistedDirectUnbondPools` checked for gamms that existed on mainnet

Other ChainIDs are unlikely to have the same pools, and may experience a halt, due to a panic in the safety check.

[2022-05-27 18:49] #1609 closed

[2022-05-27 19:00] joeabbey opened #1612 "Enable mainnet-only upgrades"
## Background

From time to time, balances are adjusted, or parameters are changed but only need to be performed on the mainnet (currently `osmosis-1`)

The ChainID can change, during an upgrade, or someone could create another chain using the osmosis code, etc.

We need a way in upgrade handlers to determine if sections of code should run or not.

## Suggested Design

Add a new config in genesis

[2022-05-28 12:01] ValarDragon commented on #1612
Very agreed, needs to be a config so that state export testnets for simulating the upgrade can easily do it.

On first pass, I'm thinking the easiest way to do this would be adding a new param to the upgrade module, does that seem like the right abstraction here? I think we have this parameter default to "false"

I guess that would suck in that it won't help old software versions, but do we care a

[2022-05-28 13:07] joeabbey commented on #1612
old software versions would have to adapt to the presence of this new configuration... which I suppose could be backported (to older versions and upgrade handlers)

personally, i'd go with the LLVM model of just supporting latest

[2022-05-28 22:29] stackman27 commented on #1569
Hi @ValarDragon @mattverse is "% of incentives" the same as gauge_size? If so how do i calculate it?

Also, how do i test whether the query returns the % incentives or not? Do i run `starport chain serve` and test the query or is there an alternate way?

[2022-05-30 03:15] sznariOsmosis commented on #1562
Is it a bug of osmosis? , if it's a bug, when will this be fixed?

[2022-05-30 03:16] sznariOsmosis commented on #1562
Is it a bug of osmosis? , if it's a bug, when will this be fixed?

[2022-05-30 03:21] czarcas7ic commented on #1562
This happened at height 2383300 which is the v5 upgrade. This just means they didn't change their binary at the correct height

[2022-05-30 03:24] sznariOsmosis commented on #1562
Thank you for replying to me so quickly, if this happens, how can I fix it, because it took me a few months to sync to 2383300, I don't want to sync data from 0 anymore, can you tell me how to fix it, thank you very much!

[2022-05-30 03:27] czarcas7ic commented on #1562
Can I ask why you are syncing from genesis? Firstly, it's very odd that it took months to do and secondly, if you just need the chain data you can download a archive snapshot from chainlayer instead.

But to answer your question, you need to set the upgrades in this order:
V3,V4,V6,V8

This is due to the hardforks that took place. When you get an app hash error, the DB is corrupt and there is noth

[2022-05-30 03:36] sznariOsmosis commented on #1562
The archive snapshot file currently has a size of 4.0T. I can't download it in a limited time. I have tried downloading it, but it is updated every time it is halfway through the download, which causes the download to fail every time.

And I used the osmosis-install.py provided by you for the full node synchronization. There is no configuration cosmovisor in it. Will it automatically upgrade V3, V

[2022-05-30 03:40] czarcas7ic commented on #1562
Yes that's correct, it should have been left at V6. If you did use the get.osmosis.zone tool, it would do all these upgrades for you. With that being said, I highly don't recommend running an archive node with 16GB base memory. I would say it would require 32GB base and that's a hard minimum. I'd be more inclined to say 64GB min for archive node

[2022-05-30 03:47] sznariOsmosis commented on #1562
Understand, I saw your reply last time, I was going to set the swap memory to 64G, but this error occurred later, but I have seen your upgrade document V5 version can use V5.0.0? , let's not talk about this, now that this situation has happened, is there any way to remedy it, I'm going to go crazy all over again

[2022-05-30 03:48] sznariOsmosis commented on #1562
Understand, I saw your reply last time, I was going to set the swap memory to 64G, but this error occurred later, but I have seen your upgrade document V5 version can use V5.0.0? , let's not talk about this, now that this situation has happened, is there any way to remedy it, I'm going to go crazy all over again

[2022-05-30 03:54] czarcas7ic commented on #1562
I'm really sorry but once you hit app hash you have to resync. So here's the things: you can upgrade in order (v3,v4,v5,v6,v7,v8), but then you risk corruption which is what happened to you. Instead, if you follow the order I showed (3,4,6,8). Also to clarify, the installer used cosmovisor with this order. We don't use 5 and 7 since that would risk corruption

[2022-05-30 07:51] sznariOsmosis commented on #1562
Where can I download the snapshot data of 2 million heights?

[2022-05-30 11:10] ValarDragon commented on #1562
https://quicksync.io/networks/osmosis.html

There are some folks (valnodes) working on tooling that could potentially lower some of the replication factor of data in the archive nodes, but that won't really help you either.

Whats your goal in having an archive node? Can maybe suggest ways to tune your syncing to improve it. But I would just recommend getting everything to sync from genesis done v

[2022-05-30 12:47] mattverse commented on #1569
By % of incentives, it would probably be `gauge_size / total_incentive_amount *100`

per testing, you can use starport, or I usually use [local osmosis](https://stage-docs.osmosis.zone/developing/tools/localosmosis.html#what-is-localosmosis), create the necessary environment I need and then test if queries return output I'm expecting

[2022-05-30 18:22] ValarDragon commented on #1229
Ah the other benefit of removing this: No more noise notifications from codecov on your PRs :joy:

[2022-05-30 20:19] p0mvn commented on #1603
This query would be useful for unit testing contracts. Right now, in the example contract: https://github.com/osmosis-labs/osmosis-bindings/pull/9 , after unit testing "change admin" there is no way to query and verify the correctness of the admin change.

Once this query is implemented, we should come back to the example contract and add some logic utilizing the query in unit tests

[2022-05-30 22:37] ValarDragon commented on #1612
Came up in call with @czarcas7ic earlier today, a binary setting is likely insufficient. Theres at least three options we'd like to distinguish between:
1) mainnet state / state export
2) No custom state migration
3) testnet limited state (so we can test the upgrade in CI)

for limited state, it'd be like limiting the pool IDs.

Is there a clean way to do enums with the params module atm? If not I

[2022-05-30 23:04] ValarDragon opened #1623 "E2E tests, make better CLI cmd arg formatting"
## Background

Currently CLI commands have a very manually intensive formatting in the code, e.g.
[code]

Because everything routes through an `ExecTx` helper, we can actually apply better formatting / argument assumptions here. (We should make a generic `ExecCLI` function that `ExecTx` calls.

## Suggested Design

Make ExecTx automatically fill in the `fmt.Sprintf("--chain-id=%s", c.meta.Id), "-b

[2022-05-30 23:11] ValarDragon opened #1624 "E2E test, abstract logs' container descriptor formatting"
## Background

The e2e test logs all very helpfully indicate which container they are being ran from. However, the code to do so is quite repeated.

They all look roughly of the form:
[code]

where `i` is validatorIndex, and `curChain` is a `chainConfig`.

## Suggested Design

We should abstract this argument to be `s.getLogDescriptor(chainConfig, validatorIndex)` which returns a string with some

[2022-05-30 23:31] ValarDragon commented on #1623
We can also replace the `success` string for `ExecTx` with `expSuccess` as a boolean. And then the command maps that to `"code: 0"`, rather than every invokation doing it

[2022-05-31 01:17] p0mvn opened #1628 "[tests/e2e]: simplify the logic for adding accounts to genesis sdk side and integrate into e2e"
**Background**

We should simplify the process of adding accounts to genesis on the SDK side to improve readability in e2e set up. This issue includes making additions to our SDK fork, updating the dependency in osmosis, and, eventually, adding it to our e2e set up.

Please follow this comment for more information: https://github.com/osmosis-labs/osmosis/pull/1625#discussion_r885131979_

**Accepta

[2022-05-31 02:45] mattverse commented on #1090
@p0mvn  Is this issue still open?

[2022-05-31 02:48] mattverse commented on #1106
@AlpinYukseloglu Since we just need to cherry pick the implementation done in the upstream, I think you can go ahead and shoot it when you have extra time

[2022-05-31 02:51] #1371 closed

[2022-05-31 03:01] mattverse commented on #1202
Hey @p0mvn  do you think this issue can be closed since we have https://github.com/osmosis-labs/osmosis/issues/1235 or would you define it a separate issue?

[2022-05-31 03:04] mattverse commented on #1504
Hey @czarcas7ic do you know if we ever got to test this on a test net?

[2022-05-31 03:04] czarcas7ic commented on #1202
I would say this issue can be closed, because at the very least we have https://github.com/osmosis-labs/osmosis/issues/1605

[2022-05-31 03:04] #1509 closed

[2022-05-31 03:05] #1508 closed

[2022-05-31 03:05] #1506 closed

[2022-05-31 03:05] czarcas7ic commented on #1504
Tested and added to e2e tests, will close now, thanks!

[2022-05-31 03:05] #1504 closed

[2022-05-31 03:24] p0mvn commented on #1090
It is much less apparent but, as far as I know, it is still present in v8. We would like to keep this open until we have the ability to deterministically reproduce this

[2022-05-31 03:24] #1202 closed

[2022-05-31 04:58] mattverse commented on #1029
Closing this issue to replace with issues with more details and specifics

[2022-05-31 04:58] #1029 closed

[2022-05-31 13:24] xBalbinus commented on #1263
https://github.com/osmosis-labs/docs/pull/107 This should fix the contributing.md request - we put contributing.md for the chain repo onto the docs, let me know @ValarDragon if you think we should also include a contributing.md on the chain repo.

[2022-05-31 14:39] czarcas7ic commented on #1556
Closed via https://github.com/osmosis-labs/osmosis/pull/1586

[2022-05-31 14:39] #1556 closed

[2022-05-31 14:42] czarcas7ic commented on #1165
Utilized localosmosis to give integrators a v9 testnet to test on. No issues heard for the last couple of weeks.

[2022-05-31 14:42] #1165 closed

[2022-05-31 14:43] #1416 closed

[2022-05-31 15:30] ValarDragon commented on #1263
It should absolutely be in the chain dev repo

[2022-05-31 15:40] mattverse commented on #1599
I've worked on simple TWAP implementation last year, might be somewhat familiar with TWAP. Assigning myself to this, if there's anyone willing to pair on this, lmk

[2022-05-31 16:44] #1229 closed

[2022-05-31 23:53] #1402 closed

[2022-06-01 00:51] ValarDragon opened #1635 "Make module dependency graph"
## Background

_Originally posted by @ValarDragon in https://github.com/osmosis-labs/osmosis/pull/1621#discussion_r885540815_

We should make a visual dependency graph of the Osmosis modules in the `x/README.md` file.

## Suggested Design

I suggest using graphviz to do this, and we label the edges with some brief description of what it depends on it for.  https://stackoverflow.com/questions/46872

[2022-06-01 12:14] vuong177 commented on #1099
I see there's a closed PR about this issue #1311

@ValarDragon @mconcat
Do you mind if I countinue your work and close this issue ?

[2022-06-01 12:24] hieuvubk commented on #1218
@xBalbinus
did this issue close? I see incentives grpc_query already followed filter logic above

[2022-06-01 17:35] xBalbinus commented on #1218
I don't think this issue was officially closed, if it already follows then closing is no problem

[2022-06-01 20:39] nikever commented on #1027
Released binaries introduced again from `v8`.
Closing

[2022-06-01 20:39] #1027 closed

[2022-06-01 22:20] p0mvn opened #1646 "[Epic][Dockerfile Improvements]"
## Background

While Docker is a powerful tool to improve developer performance, it can only hinder it when used improperly. In particular, poorly structured Dockerfiles lead to significant impediments to productivity. Therefore, we should prioritize keeping our Dockerfiles in satisfying conditions to allow engineers to focus on their tasks instead of debugging Docker every time they need to do a

[2022-06-02 03:55] carameleon commented on #1559
`wrong Block.Header.AppHash` has not happened since I added a kind of load balancing on our nodes for 10days.

[2022-06-02 14:58] ValarDragon commented on #1559
Oh awesome! Our plan for now was going to be to add a config option to enable/disable parallel queries, and have it default to off. And then let people turn it on, but take on risk of app hash failure for race conditions if they're under heavy load. (We currently view it that that feature had a lot of unsafe behavior that was never tested)

[2022-06-02 15:18] mattverse commented on #1141
Closing this issue in replacement of V10

[2022-06-02 15:18] #1141 closed

[2022-06-02 15:24] mattverse opened #1650 "Get ORM working / compiling"

[2022-06-02 15:37] ValarDragon opened #1651 "Node failures (parallel queries, sep config flag, disable by default)"

[2022-06-02 16:49] hieuvubk commented on #701
Did anyone done this issue?
@ValarDragon Could i countinue your work and close this issue ?

[2022-06-02 19:27] #1160 closed

[2022-06-02 21:01] ValarDragon opened #1655 "State export testnet, do we support edit validator messages on overridden validators"
## Background

Because of superfluid staking, we can no longer cleanly just replace the operator address on state-export based testnets (which was our previous flow) https://github.com/osmosis-labs/osmosis/pull/1473

An alternate design has been made -- just increase delegation in a delegator whose address we own.

The only consequence is we now can't execute messages on the testnet from the opera

[2022-06-02 21:30] hieuvubk commented on #701
#1656
could u review this pr

[2022-06-02 21:58] alexanderbez opened #1657 "chore: remove version from Proto schema go paths"
1. Remove all versions from Protobuf go package declarations. E.g. https://github.com/osmosis-labs/osmosis/blob/main/proto/osmosis/gamm/v1beta1/tx.proto#L7
2. Update `protogen.sh` to remove the `v7` suffix

[2022-06-02 22:04] #1439 closed

[2022-06-03 04:52] ValarDragon commented on #1612
How does this sound:

* Make a new param in the upgrades keeper of type `bool`, called "IsMainnetState"

Then we just do testing of limited state on clean testnets ad-hocly.

[2022-06-03 05:57] nghuyenthevinh2000 commented on #1525
@mattverse @ValarDragon @alexanderbez

I guess that it will be hard to decide, so I have combined @hieuvubk work on osmo equivalent to mine. This is contribution to @hieuvubk

New logic will include calculating osmo equivalent of superfluid asset and add it to normal staking:

![Screenshot from 2022-06-03 12-55-37](https://user-images.githubusercontent.com/23058164/171795460-6acf6593-7eab-45ea-9ba

[2022-06-03 06:02] nghuyenthevinh2000 commented on #1525
@mattverse @ValarDragon @alexanderbez

I guess that it will be hard to decide, so I have combined @hieuvubk work on osmo equivalent to mine. This is contribution to @hieuvubk

New logic for delegation query will include calculating osmo equivalent of superfluid asset and add it to normal staking:
![Screenshot from 2022-06-03 12-55-37](https://user-images.githubusercontent.com/23058164/171795956-1e

[2022-06-03 06:02] jatinder116 opened #1659 "Documentation for adding wasm module into osmosis"
Hi, Could you pelase suggest me how can I add wasm module into the custom blockchain.  Suggest me a some path how can I do this?

[2022-06-03 06:16] nghuyenthevinh2000 opened #1660 "Minor bug: docs/core/proto-docs.md is not updated to proto change"
Ever since the decision to move to tendermintdev/sdk-proto-gen:v0.7 in makefile, proto-docs.md is not generated even if proto is changed. I have tried this changing proto and proto-docs.md is not generated.

This is contributed to:
1. no rule for protoc-gen-doc like this in bug.gen.gogo.yaml
![Screenshot from 2022-06-03 13-14-30](https://user-images.githubusercontent.com/23058164/171797605-1526291

[2022-06-03 14:43] czarcas7ic commented on #1597
Epoch 364:
- Start Height: 4642252
- Epoch Provisions: 821917808219.178082191780821917

Epoch 365:
- Start Height: 4642313
- Epoch Provisions: 821917808219.178082191780821917

Epoch 366:
- Start Height: 4642375
- Epoch Provisions: 821917808219.178082191780821917

Epoch 367:
- Start Height: 4642438
- Epoch Provisions: 547945205479.452054246575342465

Epoch provisions are now 2/3rds what it was, as

[2022-06-03 15:05] #1603 closed

[2022-06-03 15:05] czarcas7ic commented on #1597
I wanted to query to community pool and note the differences, but for some reason I think the state export broke this connection since the account I know to be the community pool does not increase at all (both pre and post thirdening).

[2022-06-03 15:25] ValarDragon commented on #1659
If your looking for how to add cosmwasm into your own blockchain, look at https://github.com/CosmWasm/wasmd/tree/main/app, basically take any reference to wasm there and do it on your chain as well.
(Feel free to look at Osmosis' app folder for how we think about better structuring app folder code) It is unfortunate that this is a part of the SDK that is awful to work with, its going through activ

[2022-06-03 15:25] #1659 closed

[2022-06-03 16:25] ValarDragon opened #1663 "Make major release github workflow"

[2022-06-03 16:45] ValarDragon commented on #414
Closing this for now!

Most of the issue has been alleviated as far as I'm aware. Further work to mitigate it is acutally resolvable via a much simpler issue #1083

[2022-06-03 16:45] #414 closed

[2022-06-03 17:55] czarcas7ic commented on #1597
My numbers weren't adding up for community pool, so this is my attempt at getting them to work for a dev reward wallet. Should be less varying factors. Doing it on this address osmo14kjcwdwcqsujkdt8n5qwpd8x8ty2rys5rjrdjj with 0.288700000000000000 weight

Epoch 364:
- Start Height: 4642252
- Epoch Provisions: 821917808219.178082191780821917
  - Goes to dev rewards: 205479452054.79452054794520547925

[2022-06-03 18:34] ValarDragon commented on #1418
To consider this issue complete, we should have tests for:
* MsgCreateDenom
  * Try with subdenom too long
  * Subdenom having invalid characters
  * Subdenom & creator pair already exists
  * Success case
* MsgMintDenom
  * Denom does not exist
  * Mint is not by the admin
  * Try to overflow int limits with mint
  * Success
(Same as above for burn)
* MsgChangeAdminDenom
  * After setting to "",

[2022-06-03 18:41] #854 closed

[2022-06-04 00:39] ValarDragon opened #1667 "Move wasm-bindings code out of app"
## Background

Currently the `wasm` package for bindings is in a package within `app`. I think it stands on its own as a `wasm-bindings` package in the top level directory.

I feel like it being in the app package is a different structure than I would a-priori expect coming into the repository.

## Suggested Design

Refactor `/app/wasm` to `/wasm-bindings`

[2022-06-04 01:19] ValarDragon commented on #1667
<!-- < < < < < < < < < < < < < < < < < < < < < < < < < < < < < < < < < ☺
v                               ✰  Thanks for creating an issue! ✰
☺ > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > >  --

## Background

Currently the `wasm` package for bindings is in a package within `app`. I think it stands on its own as a `wasm-bindings` package in the top level directory.

I feel like i

[2022-06-04 09:44] mattverse commented on #1596
We need to discuss on the timeline we want to put up a text proposal for this since the feature itself is getting close to merge.

[2022-06-05 12:07] vuong177 commented on #1667
Hi @ValarDragon, could I work on this ?

[2022-06-05 14:44] hieuvubk commented on #462
It's great. Is anyone on processing? I think using subgraph is a good solution

[2022-06-05 15:46] ValarDragon commented on #1667
Sure!

[2022-06-06 00:33] alpha-omega-labs opened #1674 "Pool creation fails with wrong sequence number;"
#### System information

Osmosis version: `Osmosis version`
OS & Version: Linux, Brave and Chromium browsers
Commit hash:

#### Expected behaviour
1. Deposit and withdrawal happened and tx stated as confirmed in UI
2. Pool can be created and signed transaction goes through
#### Actual behaviour
1. Deposit and withdrawal accomplished (actually happened), tx stays "pending" in UI forever until cooki

[2022-06-06 00:48] ValarDragon commented on #1674
Failing sequence number likely means you had other txs in parallel / were using a node/wallet that wasn't synced to mainnet to broadcast the tx. Looking at mintscan, your address is currently on sequence number 9: https://www.mintscan.io/osmosis/account/osmo1rdcu08fnxnz74gadksvq7ajyqxratcqkw9rpcq

Going to forward to the front-end repo in case its a bug there, though I think this is more likely to

[2022-06-06 04:13] ValarDragon commented on #1139
Some notes from a call I had on the feature: https://hackmd.io/p_ERhcv5SeSN4yPjg5-lSg

[2022-06-06 08:55] #1525 closed

[2022-06-06 11:25] leezijie opened #1677 "The node cannot be started after the 9.0 upgrade"
Today, I upgraded the node version to 9.0. I tried to download three snapshots of Singapore, Netherlands and SanFrancisco respectively, and every one of them reported wrong logs after startup.It's so frustrating.

cmd:
./osmosisd-9.0.0 start --home /data

error log:
goroutine 133 [running]:
github.com/tendermint/tendermint/blockchain/v0.(*BlockchainReactor).poolRoutine(0xc000039a40, 0x0)
	github.c

[2022-06-06 11:55] mattverse opened #1678 "buf schema registry and api module setup"

[2022-06-06 13:45] p0mvn opened #1679 "[Story][Dockerfile Improvements] Generalize and reduce the number of Dockerfiles"
## Background

Our Dockerfiles share a lot of the same logic. On one side of the issue, some folks update all Dockerfiles, wasting time for no reason. On the other side, other folks only update some, letting the images go out of sync.

First, we should remove images that are not used. Second, we should investigate the rest.  Some can be generalized to be used as a base, and the rest import that ba

[2022-06-06 13:45] p0mvn opened #1680 "[Story][Dockerfile Improvements] Minimize The Number of Layers Needed to Be Rebuilt"
## Background

#### Task 2.1 - Only COPY the desired components in Dockerfile

Currently, in most of our Dockerfiles, we copy the entire repository:
https://github.com/osmosis-labs/osmosis/blob/d5cd03329b7edc028f2793f95d4c4e85e62060fb/tests/localosmosis/Dockerfile#L12

While this might seem convenient, it increases development time by requiring the entire repository to be copied every time one mak

[2022-06-06 13:45] p0mvn opened #1681 "[Story][Dockerfile Improvements] Reduce size and improve compatibility"
## Background

Oftentimes, I find that our images and/or binaries might work on some OS/VM and not others. When my environment changes, I happen to spend the majority of my time debugging our Docker images instead of focusing on a task.

#### Task 4.1 -  Allow Images to be Built as Non-root
The major bottleneck in this category is that our images are built as a root. This has caused me issues nume

[2022-06-06 13:50] p0mvn opened #1682 "[Story][Dockerfile Improvements] Reduce image build times"
## Background

This is a huge impediment to productivity where every time a developer makes a change to an image, they have to wait for around 4 minutes, and, as a result, lose the flow. The image build times should be minimized by structuring the steps and stages optimally and removing redundant steps.

#### Task 3.1 - Remove stale or redundant steps

Investigate all our images to remove stale or

[2022-06-06 13:52] p0mvn opened #1683 "[Story][Dockerfile Improvements] Documentation and QA"
## Background

It is challenging to onboard on Docker while easy to forget the details when switching contexts. Therefore, we should document the best practices and Dockerfiles requirements for Osmosis. New contributors should use these to understand what changes may be done to our Dockerfiles. Maintainers and reviewers can use these to QA in pull request reviews.

## Status
- Blocked by:
   * #16

[2022-06-06 14:33] p0mvn opened #1684 "[Task][Dockerfile Improvements] Remove stale or unused Dockerfiles"
## Background

Currently, we have the following Dockerfiles:
- https://github.com/osmosis-labs/osmosis/blob/main/Dockerfile
- https://github.com/osmosis-labs/osmosis/blob/main/tests/localosmosis/Dockerfile
- https://github.com/osmosis-labs/osmosis/blob/main/contrib/images/rbuilder/Dockerfile
- https://github.com/osmosis-labs/osmosis/blob/main/contrib/images/osmobuilder/Dockerfile
- https://github.

[2022-06-06 14:33] p0mvn opened #1685 "[Task][Dockerfile Improvements] Generalize Docker files and reuse them where applicable"
## Background

Most, if not all of our Dockerfiles share the same lines of code at the beginning:
https://github.com/osmosis-labs/osmosis/blob/d5cd03329b7edc028f2793f95d4c4e85e62060fb/Dockerfile#L9-L28

This can be extracted into its own base image and reused across the rest.

## Status
- June 6 - WIP: Defining Scope
- Blocked by: #1684

## Acceptance Criteria
- TBD

[2022-06-06 14:56] ValarDragon opened #1686 "Rebase our SDK fork onto SDK `release/v0.45.x`"
## Background

We should rebase our SDK `osmosis-main` branch onto `release/v0.45.x`. It has a number of chain operator UX wins, and dev UX wins / bug mitigations that we want to take advantage of.

This will help us save a lot of time in getting some of these UX wins into Osmosis and reducing the incompatibility complexity we have with SDK release lines.

If this is taken up after the `SDK v0.45.

[2022-06-06 15:09] mattverse opened #1687 "Create a PR for deposit parameter for exedited proposal"

[2022-06-06 15:09] mattverse opened #1688 "Put up text proposal for enabling expedited proposals"
This issue is about drafting up a text proposal for enabling expedited proposals.

**Acceptance Criteria**
- A draft is created and approved
- The proposal is put on chain

[2022-06-06 15:19] AlpinYukseloglu opened #1689 "Temporarily remove "Why Osmosis" in main repo README"
## Background

Most of the content in the "Why Osmosis" section of our main README is extremely outdated/focused on ideas that are deprecated (such as [customizable liquidity pools](https://github.com/osmosis-labs/osmosis#on-customizability-of-liquidity-pools) and [self-governing liquidity pools](https://github.com/osmosis-labs/osmosis#self-governing-liquidity-pools)).

## Suggested Design

This s

[2022-06-06 16:40] #1689 closed

[2022-06-06 19:47] alexanderbez commented on #1688
Que?

[2022-06-06 19:49] alexanderbez commented on #1686
Ohh boy. Ok, I can give this a shot. What sprint do we want this for?

[2022-06-06 20:09] ValarDragon commented on #1686
Can be current sprint if you have time, or next sprint

Not super urgent, but generally better to have sooner rather than later

[2022-06-06 21:03] p0mvn commented on #1688
Updated description, I'm working on this

[2022-06-06 23:13] czarcas7ic commented on #1597
Spun up another testnet to check total supply

Epoch 364:
- Start Height: 4694728
- Epoch Provisions: 821917808219.178082191780821917
- Total Supply
  - 2581482187359696

Epoch 365:
- Start Height: 4694784
- Epoch Provisions: 821917808219.178082191780821917
- Total Supply
  - 2582304105167908
- Epoch 365 supply - epoch 364 supply should equal epoch provisions
  - 2582304105167908 - 258148218735969

[2022-06-06 23:16] #1667 closed

[2022-06-07 02:23] ValarDragon commented on #1507
Done!

[2022-06-07 02:23] #1507 closed

[2022-06-07 02:38] catShaark commented on #1413
@p0mvn, I did some work on this and so far I've reduced the importing time by maybe a half. I did the profiling by running [this test file] (https://github.com/notional-labs/osmosis/blob/1fdff279e3a2ad816f56bb0fd1b4e4662ba2f55e/simapp/sim_test.go#L39) which contains the code needed for importing genesis used in the `osmosisd start` cmd.

[2022-06-07 02:48] czarcas7ic commented on #1413
@catShaark out of curiosity, how much time does it now take compared to what it did before? What changes did you make to achieve this?

[2022-06-07 02:55] catShaark commented on #1413
Changes I did :
- [Improve](https://github.com/cosmos/cosmos-sdk/pull/12170) the `DelegatorSharesInvariant` invariant check in the sdk. It reduces runtime from 241 to 161 sec in one of my computer.
- makes the unmarshaling of modules' genesis state parallel, before we unmarshal modules' genesis sequentially. This reduces runtime for about 30-40 sec.

[2022-06-07 03:12] czarcas7ic commented on #1413
@catShaark So just to give you some more context, this issue was in reference to state exported testnets. Basically, when we take a state export, modify the values, then start a new testnet off this new genesis the following happens:
1. Init genesis starts, this process takes roughly 15 minutes
2. We hit the block after the snapshot was taken
3. We then pause on this block for about an hour and a

[2022-06-07 03:14] catShaark commented on #1413
take a state export = running osmosisd export right ?

[2022-06-07 03:17] czarcas7ic commented on #1413
@catShaark correct! That takes ~5-10 mins max

[2022-06-07 03:18] catShaark commented on #1413
I import a 1.8G genesis file ( exported from an osmosis mainet node ) and it takes only 200-300 sec. Do I do something wrong ?

[2022-06-07 03:22] czarcas7ic commented on #1413
In our scenario, we are modifying the genesis the mint new coins to a wallet, change a validator's consensus key to the one that we have locally, and give it 99 percent of the voting power. You can read a little more about the process here https://github.com/osmosis-labs/osmosis/tree/main/tests/localosmosis#localosmosis-with-mainnet-state and see the python script being used to modify the genesis

[2022-06-07 03:24] catShaark commented on #1413
thanks, I'd love to work on this to improve our test runtime overall
also, can you tell me what you think happened on step 3, why is it taking so long

[2022-06-07 03:30] catShaark commented on #1413
![here is a pprof graph for importing genesis on a different computer of mine](https://user-images.githubusercontent.com/50263489/172289263-df190ff1-9216-4c5b-b1dc-5398edc28a62.svg), this is importing a 1.8G genesis file, I run in [this test file](https://github.com/notional-labs/osmosis/blob/75a458caf7e71163a7b885e8ee8d230e75cc3cf1/simapp/sim_test.go#L39).

[2022-06-07 03:48] p0mvn commented on #1413
@catShaark thanks for the pprof. From what I remember, we had a specific case where our pprof was taking more than an hour, halting for over 40 minutes due to processing data.

@czarcas7ic do you happen to remember how to reproduce this?

[2022-06-07 04:07] catShaark commented on #1413
ohh thank you guys, this is something I really want to put my hand on.

[2022-06-07 04:16] czarcas7ic commented on #1413
Yeah honestly the more eyes on this the better. While it started off being just an annoying side problem, its gotten in the way a lot more than one would expect

[2022-06-07 11:52] faddat opened #1695 "Post v9 ci chages"
## Background

A while ago I made a CI system for Gaia that would do statesync in CI using all of the supported databases.

Here is an example of it running:

https://github.com/tendermint/tm-db/actions/runs/2439480213

## Suggested Design

I want to replicate this for osmosis v9 and begin to track rpc performance against live nodes in ci.

But this adds several jobs that will take over five minut

[2022-06-07 15:34] ValarDragon opened #1696 "[v11] [Decision needed] Do we revert the proto snake case changes"
## Background

In PR #1656 we fixed legacy issues we had, with certain fields being camelCase when they should have been snake case the whole time. However this changes the .proto files.

It did not change the generated go fields, but it does change the generated typescript code that front-ends use at the moment.

We need to decide:
1) Is this worth being a breaking change for frontends
2) If so d

[2022-06-07 19:08] ValarDragon commented on #1218
Theres a few queries in the incentives modules that just do filtered paginate incorrectly, https://github.com/osmosis-labs/osmosis/blob/main/x/incentives/keeper/grpc_query.go#L124-L132

Its getting all active gauges and filtering, inside the loop.

That loop should instead be reading off the key / value, and seeing if its valid. Rather than reading all of it.

But to be honest, most of the filtere

[2022-06-07 19:59] faddat opened #1697 "Snapshot manager"
#### System information

v9
all
#### Expected behaviour

snapshot manager should be configured

#### Actual behaviour

it isn't

#### Steps to reproduce the behaviour

#### Backtrace

[code]

When submitting logs: please submit them as text and not screenshots.

[2022-06-07 20:08] p0mvn commented on #1697
This should be fixed in https://github.com/osmosis-labs/cosmos-sdk/pull/236. Going to backport to v9 and release

[2022-06-07 20:15] p0mvn commented on #1695
I think this is a great idea. We already have WIP to enable e2e state sync tests in:
- https://github.com/osmosis-labs/osmosis/pull/1613
- https://github.com/osmosis-labs/osmosis/pull/1572

Since e2e is state synching from a local testnet, it should be pretty quick (under 1-2 minutes). There is going to be no support for several db backends in the beginning but it would be very useful to add it in

[2022-06-07 20:21] p0mvn commented on #1695
Is there anything that we can't do in e2e and only with live nodes?

If yes and having live nodes is desired, I think we could enable this job to run only on merge to `main` branch to avoid letting developers wait for pull request CI to pass

[2022-06-08 00:57] p0mvn commented on #1697
Going to keep this open until https://github.com/osmosis-labs/osmosis/pull/1698 gets in

[2022-06-08 09:28] faddat opened #1709 "Go module versioning"
For reasons that I don't yet understand, we have moved the main branch back to v7.

This is making reviews and contributions a bit more complicated for me, and I just wanted to know why that was done

[2022-06-08 09:40] hleb-albau commented on #1709
can we use v9 for now?

[2022-06-08 09:57] faddat commented on #1709
@hleb-albau I don't know, that's actually the reason for this issue.  Just seeking guidance on how to use the module version paths currently.

[2022-06-08 09:59] faddat commented on #1697
Since I've reviewed #1708 and feel it is best to get that on testnet, I'll complete #1698 now

❤️

[2022-06-08 14:23] ant1g opened #1710 "Interchain Accounts module registration"
#### System information

Osmosis version: `v9` or `main`
OS & Version: Linux ubuntu 22.04
Commit hash: 9165ac2

#### Expected behaviour
It should be possible to send ICA commands to Osmosis (via `MsgCreateBalancerPool` for instance), given that the ICA Host controller has already been integrated.

#### Actual behaviour
When sending the `MsgCreateBalancerPool` over ICA to Osmosis, the following err

[2022-06-09 03:48] p0mvn opened #1722 "Validate updates to numShares and newLiquidity in `CalcJoinPoolShares`"
Unit tests for `CalcJoinPoolShares` validating that these updates happen should be added in  a separate PR

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/1721#discussion_r893043336_

[2022-06-09 15:30] p0mvn opened #1726 "Unit test `joinPoolSharesInternal` in stableswap"
We should unit test `joinPoolSharesInternal` separately

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/issues/1723#issuecomment-1151282189_

[2022-06-09 19:26] p0mvn opened #1733 "Ensure multiplicative tolerance for share unit tests is as `actualShares <= expectedShares`"
We should also ensure that `actualShares <= expectedShares` right?

_Originally posted by @ValarDragon in https://github.com/osmosis-labs/osmosis/pull/1731#discussion_r893878529_

[2022-06-09 23:23] p0mvn opened #1740 "add more calcSingleAssetJoinTestCases"
Commenting to create an issue for further work.

More test cases should be added in a separate PR:
- with error return (#1751)
- with another value of `tokensIn` (we consistently use 50000 which isn't the best practice
   * Need one that is large relative to liquidity
      * with swap fee
      * no swap fee
   * Need one that is greater than the pool liquidity
       * with swap fee
      * no s

[2022-06-10 05:29] czarcas7ic opened #1744 "v10 Replace Mintscan Links"
Update mintscan links (one example here https://github.com/osmosis-labs/osmosis/commit/2bf34ddb229d43620622263f1882ac4e3001d8d8#diff-27f66338b65628440c075318651b24c6df974603549d69c1530b1aae1ce54d0dR52) with the new txs that change out community pool verbiage for multi sig account

[2022-06-10 05:45] ValarDragon opened #1745 "Make separate methods for single vs multi tokensIn calc."
This is not specific to this PR. I just kept thinking about this while working on this method over these past few days. Basically, I think that we should have separate methods for single tokenIn calc and multi tokensIn calc.

The way it is done currently is violating the "Single responsibility principle" in SOLID where the method does 2 things.
It makes it less testable and less abstract IMO. We s

[2022-06-10 06:24] AlpinYukseloglu commented on #1745
We should wait until #1721 is merged until we do this or work directly off that branch to avoid conflicts

[2022-06-10 10:18] faddat opened #1748 "Try buildjet CI for faster CI times"
## Summary

Propose that we use buildjet.io

We'd need to pay a very reasonable price to use it:

https://buildjet.com/for-github-actions/pricing

And then, we can take all of our current jobs running on ubuntu-latest, and change that to to one of the models in this table

https://buildjet.com/for-github-actions/docs/runners

<img width="612" alt="Screen Shot 2022-06-10 at 5 16 11 PM" src="https:/

[2022-06-10 15:49] mattverse opened #1752 "fix: Change `PowApprox` to return one when exponent is 0"
## Background

`PowApprox` currently returns zero when the exponent is zero, whilst imo should be returning 1 when the exponent over is zero.
https://github.com/osmosis-labs/osmosis/blob/main/osmomath/math.go#L86-L88

We should change this to return `sdk.OneDec()`

## Acceptance Criteria

- [ ] confirm that this `PowApprox` should be returning `1` instead of `0` in the case of having zero exponent

[2022-06-10 16:28] mattverse opened #1753 "refactor: separate methods for single / multi token calculation in `CalcJoinPoolShares`"
## Background

Currently `CalcJoinPoolShares` handles two different methods within the methods:
1. calculating join pool shares for single token in
2. calculating join pool shares for multiple tokens(namely all tokens within the pool).

Currently these two different roles of calculating is separated by a single logic gate of `if` statement, we should create two separate methods to call within the

[2022-06-10 16:52] mattverse commented on #1722
We need https://github.com/osmosis-labs/osmosis/pull/1732/files merged to push this foward

[2022-06-10 17:42] ValarDragon commented on #1752
oof, can you PR a fix. Lets get this backported.

[2022-06-10 18:01] mattverse commented on #1722
Currently on getting #1713 getting merged by adding test cases with different ratio

[2022-06-10 18:19] p0mvn opened #1756 "Make `TestPowApprox` and `TestPow` table-driven and add more test cases"
Commenting to create an issue for post v10 work (not in this PR):

Make `TestPowApprox` and `TestPow` table-driven and add more test cases

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/1755#discussion_r894791047_

[2022-06-10 18:26] ValarDragon opened #1758 "Make IBC middleware to prevent IBC deposits when channel clearly filled with many timeouts"
## Background

Note to self to make a more involved issue on IBC.

We need to get ibc middleware on many chains, to ensure that packets don't keep getting made / funds keep getting stuck, while the channel is clearly filled with packets that should time out by local validity predicates.

This is a very valuable user fund protection mechanism during times of issues / footgun prevention scheme.

##

[2022-06-10 18:41] hieuvubk commented on #1218
@xBalbinus @ValarDragon could u take a look at this pr. I think it can close this issue. Thank u so much!

[2022-06-10 18:41] #1752 closed

[2022-06-10 18:45] alexanderbez commented on #1748
Thoughts @ValarDragon?

[2022-06-10 19:10] xBalbinus commented on #1218
A kind reminder that Bez commented something you may want to change, otherwise I defer to @ValarDragon’s judgement because I have less context

[2022-06-10 21:15] sunnya97 commented on #548
@hieuvubk Which PR?

[2022-06-11 00:18] #1740 closed

[2022-06-11 02:08] mattverse commented on #1722
https://github.com/osmosis-labs/osmosis/pull/1767 closes this

[2022-06-11 02:08] #1722 closed

[2022-06-11 02:45] ValarDragon opened #1772 "Improve backport bot"
## Background

We should make our backport bot able to make a commit to fix any import version mismatches / conflicts when backporting a PR.

## Suggested Design

TODO: if theres no merge conflict, its easy, not sure how to best do it in presence of merge conflicts.

[2022-06-11 02:52] mattverse commented on #1733
Yeah alot of the test cases get broken when we add `	require.LessOrEqual(t, actualShares, expectedShares)`

further investigating

[2022-06-11 02:52] hieuvubk commented on #548
https://github.com/osmosis-labs/osmosis/pull/1725

[2022-06-11 02:57] p0mvn opened #1773 "Create TestCalcJoinPoolShares test case to fall outside of the error tolerance"
This is interesting – I wonder if we can set up a case where this falls outside of error tolerance just for proper coverage? Or would it always pass due to error tolerance?

_Originally posted by @AlpinYukseloglu in https://github.com/osmosis-labs/osmosis/pull/1721#discussion_r894167070_

[2022-06-11 03:01] p0mvn opened #1774 "Add the check suggested in linked discussion"
What do you think about having this check here:
https://github.com/osmosis-labs/osmosis/commit/f6071c9757448dc929f3933b3ead336efcbcd9e3

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/1721#discussion_r894112091_

[2022-06-11 03:03] p0mvn commented on #1773
We need a test case to fall outside of the error tolerance for when we are testing multi token calcs by joining one after another in `calcJoinSingleAssetTokensIn`.

We should be able to achieve that by having large token in values relative to the pool liquidity

[2022-06-11 07:23] ValarDragon commented on #1748
Im extremely down

[2022-06-11 07:24] #1744 closed

[2022-06-11 07:24] ValarDragon commented on #1744
Irregular state change removed.

[2022-06-11 09:43] ValarDragon commented on #1733
The existing situation should be safe. Spent awhile investigating this. First, details of the situation:
* PowApprox for exponents that != .5 has an insufficient accuracy threshold, 10^-8. This ends up translating to errors on the order of 10^-7 % - 10^-8% of total share amount in these tests.
* PowApprox is called in single asset join methods, and swaps
* This means they can all be off (in the po

[2022-06-11 17:01] p0mvn opened #1785 "Update import paths from v9 to v10 on v10.x"
**Context**

v10.x branch has outdated import paths ([example](https://github.com/osmosis-labs/osmosis/blob/e1babbdbe480b04ed1c0b80c07dbfe884420b902/x/epochs/abci.go#L7)). We need to update them with v10 by doing search and replace

**Acceptance Criteria**
- all import paths are updated to v10 on `v10.x` branch
- all tests continue to pass

[2022-06-11 20:35] alexanderbez commented on #1748
I guess we just need to setup billing and then what else do we do @faddat?

[2022-06-11 20:39] alexanderbez commented on #1772
What's a "import version mismatches / conflicts"?

[2022-06-11 21:59] p0mvn opened #1788 "test: investigate and document all methods that use exit fee to futher unit-test"
## Background

Most of our test cases use 0 exit fees. We should ensure that we also test with non-zero where applicable.

## Acceptance Criteria

- Compile a list of all methods that use/take exit fee. That includes all pools in `x/gamm/pool-models`
- Create issues for unit testing each

[2022-06-11 22:09] AlpinYukseloglu commented on #1733
Hmm even though there's still a rounding error in the swap fee case, shouldn't the swap fee eclipse it and cause those tests to pass?

Or do you mean the no swap fee case still errors?

In any case, would it be too much to implement a minimum swap fee of 1e-7 (or just make it so a 0 swap fee effectively still takes a 1e-7 fee) to prevent a pool from outputting more than it takes in in any situatio

[2022-06-12 07:33] ValarDragon commented on #1772
A commit to main uses the "github.com/osmosis-labs/osmosis/v7" import path, the commit in the backport needs  "github.com/osmosis-labs/osmosis/v9"

[2022-06-12 07:51] ValarDragon opened #1795 "Make one line command to setup next cosmovisor upgrade"
## Background
Cosmovisor instructions are overly long

[2022-06-12 16:26] chris-remus opened #1797 "Log Message - ERR no delegation distribution info"
## Background

During the network restart using ``v10.0.0`` our logs displayed only the following message immediately after restarting ``osmosisd``.

```ERR no delegation distribution info```

Upon [reporting this](https://discord.com/channels/798583171548840026/842550346865180682/985578355648774174) to the Osmosis Validators discord channel, @ValarDragon [explained ](https://discord.com/channels/

[2022-06-12 16:32] mattverse commented on #1788
Also add tests for hand derived values

[2022-06-12 17:09] mattverse opened #1798 "Make panic be wrapped to show block height"
## Background

Current panic does not leave any information on the block height it panicked, we'd love to have the panic be wrapped around block height for better logging.

## Acceptance Criteria

-  make panic log panic height

[2022-06-12 18:46] Pharaon1993 opened #1799 "EpochInfos ABCI query returns incorrect currentEpochStartTime"
#### System information

Osmosis version: `Osmosis version`
OS & Version: Linux
osmosisd v10.0.0

#### Expected behavior

currentEpochStartTime is set to the time the block is committed to the blockchain.

See: [Mintscan Log of Epoch 355's block](https://www.mintscan.io/osmosis/blocks/4713066)

#### Actual behavior

currentEpochStartTime is set to the expected time of the Epoch. This is not the ca

[2022-06-13 18:14] ValarDragon commented on #1799
So how it acts right now is intended behavior, its a separate question of is this intended behavior the correct semantic.

Each of these epochs is representing an interval of time, and the desire is to have the intervals one after another. E.g. some epoch N starts at time T, but block N is at time T-1, and N+1 is at time T+2. We still want the 'tick' for the epoch to be at time T, evne though we e

[2022-06-13 19:46] ValarDragon commented on #1733
I think we can close this, our current behavior is correct

In the swap fee case, we still could be greater than expected in the wolfram calculation test vector. But the point is that the error is tolerable due to the swap fee.

The Exit(Join(input)) < input invariant will hold due to swap fee, even with the roundup behavior.

We should increase the accuracy from 10**-7 generally though

[2022-06-13 19:46] #1733 closed

[2022-06-13 22:22] czarcas7ic commented on #1799
Ah this makes more sense now. Maybe semantically it should be currentEpochCalculatedStartTime.

[2022-06-14 04:00] ValarDragon opened #1801 "Make GA action that runs weekly to clear go cache"
## Background

Go caches can get misc. extra data. We should setup a github action that automatically runs (say) once a week or on push, that cleans up the go caches.

## Suggested Design

Make a github action workflow that downloads the cache, runs `go clean --cache` and saves the new cache.

[2022-06-14 04:01] ValarDragon commented on #1748
@faddat can you take a look / a stab at it? My first attempt doesn't have any speedup on the go test either, but could be some odd cache effects:

before: https://github.com/osmosis-labs/osmosis/runs/6848775384?check_suite_focus=true
after: https://github.com/osmosis-labs/osmosis/runs/6848775384?check_suite_focus=true

it actually got 20 seconds slower!

[2022-06-14 05:27] pyramation commented on #1696
Seems that we should eventually aim for this based on the [Protocol Buffers naming conventions](https://developers.google.com/protocol-buffers/docs/style#message_and_field_names):

[code]

Given current events, If v10 is very soon, it could make more sense to try and get into v10 and if not v11 to have space allow FE to work on more pressing issues.

[2022-06-14 05:40] pyramation commented on #1696
From what I looked at with @Thunnini and @mattverse I learned that if you run the `make proto-all` proto gen command in osmosis, it should generate a bunch of files name like `protofilename.pb.go` that shows what the changes are that the FE should have to account for.

I'm pretty sure that we have to update the FE everywhere we call `this.base.sendMsgs` with a `aminoMsgs` array for all messages. I

[2022-06-14 07:58] meetrick opened #1803 "fix typo in annotation"
I found a typo. And I wrote a PR, too.

[code]
- I think the **twap** of the comment above should be changed to **swap**.

[2022-06-14 15:26] mturkia opened #1805 "Statesync broken on v10.0.0"
#### System information

Osmosis version: v10.0.0
OS & Version: Linux (most likely all OSes)
Commit hash: 7ca72c5fc4547f62b9984e62cd83639727691b62

#### Expected behaviour

Chain successfully synced to last statesync snapshot.

#### Actual behaviour

Statesync fails with following error:

[code]

After setting expected app version and starting the chain again, I get following error:
[code]

#### S

[2022-06-14 15:45] #1803 closed

[2022-06-14 15:52] PolkachuIntern commented on #1805
We have the exactly same issue while state-syncing.

[2022-06-14 16:23] p0mvn commented on #1805
Thanks for the issue.

Before we try anything to resolve this, I think we need to merge this first: https://github.com/osmosis-labs/osmosis/pull/1698 and test again. That PR adds some logic for wiring wasm snapshotter correctly. We haven't had the time to include or test it for v10.

This is likely to be unrelated to the main issue but I would like to note that the app version did not get increase

[2022-06-14 16:55] alexanderbez commented on #1696
IMO we should follow Protobuf convention for field names and stick with snake-case.

[2022-06-14 16:57] alexanderbez commented on #1798
What panics in specific?

[2022-06-14 20:02] hieuvubk commented on #1753
@mattverse
There are some changes to the CalcJoinPoolShares function. Do we still intend to separate it up?

[2022-06-14 22:07] pyramation commented on #1696
One thought about the fact that this was already merged — it may be best to revert so it doesn't block other features that need to ship from main? I think it's safer and then we merge back in when we're ready and tested.

[2022-06-15 02:29] ValarDragon opened #1808 "Update to IBC-go v3.1.0"
## Background

We should update to IBC-go v3.1

It requires a state migration to fix IBC'ing of assets with a slash in them (LP shares)

## Suggested Design

I'd suggest this be blocked until a decision is reached for https://github.com/cosmos/ibc-go/issues/1542 , would prefer the full function's complexity not have to be in our repo.

## Acceptance Criteria

- [ ] Upgrade to IBC v3.1.x
- [ ] Stat

[2022-06-15 16:22] alexanderbez commented on #1808
Totally agree here.

[2022-06-15 16:47] #1218 closed

[2022-06-15 19:25] p0mvn commented on #1805
Got state sync to work with #1698 and https://github.com/osmosis-labs/cosmos-sdk/pull/264 (WIP)

I discovered that state sync snapshots do not share the param store. The app version was stored there. As a result, the app version would not be propagated to the state-synching node, resulting in the reported error.

I made 2 changes. First, moved the app version to be stored in the multistore instead

[2022-06-15 21:01] PolkachuIntern commented on #1805
Thanks for the update. Look forward to v11.

[2022-06-15 22:35] IbrarMakaveli opened #1814 "Distribution events not displaying for external gauges"
#### System information

Osmosis version: `10.0.0`
OS & Version: Windows/Linux/OSX
Commit hash:

#### Expected behaviour

Display `"distribution"` event in the json block BeginBlock/EndBlock that displays the distribution external rewards for each address, which worked before the v9 upgrade

#### Actual behaviour

Download block_result : https://cloud.digitalocean.com/spaces/osmosis-halt-data?i=c2

[2022-06-15 23:39] mattverse commented on #1798
basically anything that panics: we want to add the paniced blocked height along with the panic log

[2022-06-16 00:13] ValarDragon commented on #1798
Wouild be nice for anything panic. What we observed in chain relaunch was in `osmoutils.ApplyFuncIfNoError`

[2022-06-16 03:43] catShaark commented on #1413
@czarcas7ic, this is still relevant right ? now that the incident is over, should we continue working on this ?

[2022-06-16 03:50] czarcas7ic commented on #1413
Yes very relevant, will get back to it tomorrow, thanks for the ping

[2022-06-16 07:26] mattverse commented on #1798
tbh, along with adding a wrapper to show panic height, I think we should strictly restrict the usage of `osmoutils.ApplyFuncIfNoError`, they can turn out to be super gnarly

[2022-06-16 16:16] #1511 closed

[2022-06-16 16:53] mattverse commented on #1452
Closing this issue since testings have diverged from the point this issue was opened, we should open a separate PR if there are more components to be visited for gamm testing

[2022-06-16 16:56] mattverse commented on #1635
Hey @xBalbinus  mind if I take over this real quick?

[2022-06-16 16:59] xBalbinus commented on #1635
Hey Matt, I’ve already started some work on it, could you help feedback
this? Im sending it to you over slack

On Thu, Jun 16, 2022 at 12:57 PM Matt, Park ***@***.***>
wrote:

[2022-06-16 17:32] #1697 closed

[2022-06-16 17:36] ValarDragon commented on #1758
Issue made https://github.com/cosmos/ibc-go/issues/1543

[2022-06-16 17:36] #1758 closed

[2022-06-16 17:55] ValarDragon commented on #1798
Can you expand a bit more on what you mean by "we should strictly restrict the usage of osmoutils.ApplyFuncIfNoError, they can turn out to be super gnarly" ?

[2022-06-16 21:12] pwang00 opened #1818 "Idea: add property-based testing to Osmosis via QuickCheck"
## Background

I'm not sure if this is a good idea or applicable for Osmosis, but I was thinking we could also use https://pkg.go.dev/testing/quick in the future for writing tests in addition to what we currently have.  This is Go's version of Haskell's QuickCheck (https://hackage.haskell.org/package/QuickCheck).

QuickCheck essentially allows a programmer to test particular properties / invariant

[2022-06-17 01:48] #1263 closed

[2022-06-17 03:17] mattverse commented on #1818
oh intereseting, is this a fuzzing testing method?

[2022-06-17 03:17] mattverse commented on #1818
oh intereseting, is this a fuzzing testing method?

[2022-06-17 03:21] mattverse commented on #1814
This is interesting in the sense that we haven't changed any of the distribution code pre and post v9

[2022-06-17 13:55] p0mvn commented on #1818
This sounds like a great suggestion. I'm also wondering - what are the benefits that QuickCheck provides over 1.18 [Go Fuzzing](https://go.dev/doc/fuzz/)?

[2022-06-17 17:49] pwang00 commented on #1818
Yeah that's kind of what property-based testing aims to accomplish; there are distinctions between property-based testing (what QuickCheck does) and fuzzing though, which https://www.tedinski.com/2018/12/11/fuzzing-and-property-testing.html explains in more detail--in particular, this excerpt:

---

But the two techniques are best applicable in different circumstances:

 - Because property testing

[2022-06-17 18:50] stackman27 commented on #1773
Hi @p0mvn can i give this a shot?

[2022-06-17 18:52] #1651 closed

[2022-06-17 19:14] p0mvn commented on #1773
Hey @stackman27 . Yes, please, that would be awesome

[2022-06-18 19:31] czarcas7ic commented on #1597
Are we happy with the above tests? If so, I will close this issue

[2022-06-20 02:49] SlingshotCade commented on #1797
I too have run into this problem after upgrading to Osmosisd 10.0.0.    Once this issue shows up in the logs then the API stops responding (port 26657).    A couple times I restarted cosmovisor and it started to work again.   But then the "ERR no delegation distribution info"  shows up and then the server stops working.  Is there any more information on this?

[2022-06-20 03:36] ValarDragon commented on #1797
The API is down generally due to epoch time, which is a more a longstanding problem with queries aren't available during block execution.

[2022-06-20 03:54] ValarDragon opened #1826 "Proto message documentation"
## Background

Tracking issue for our milestone of significantly improving the documentation for each protobuf message and state entry.

Every field in every proto message should have documentation explaining what its for, and what values constitute valid input.
These can then get translated in every languages protobuf compilation, and help improve understandability.

## Modules

- [x] [x/Epochs](

[2022-06-20 04:49] ValarDragon commented on #1597
Yeah,thanks! We can just keep an eye on the total supply query on mainnet as a final sanity check

[2022-06-20 04:49] #1597 closed

[2022-06-20 04:55] ValarDragon commented on #1023
Closing in favor of #1413

[2022-06-20 04:55] #1023 closed

[2022-06-20 05:10] ValarDragon commented on #1624
Or we could even just include the container directly, and then make a custom `contianer.String()` method, that gets the `%s` formatted as we like here.

[2022-06-20 05:57] mattverse opened #1827 "Change synthetic lock proto structure"
## Background
cref: https://github.com/osmosis-labs/osmosis/blob/main/proto/osmosis/lockup/lock.proto#L62-L75

## Suggested Design

## Acceptance Criteria

[2022-06-20 14:22] ValarDragon commented on #1827
I think the structure introduced in this PR is really good for how synthetic locks should get deleted / moved: https://github.com/osmosis-labs/osmosis/pull/942

[2022-06-20 14:40] ValarDragon opened #1830 "Add section to Contributing.md detailing our desired pre-release code auditing process"
## Background

We should add a section to the contributing.md labeled "Major release" and detail:
* The actual release workflow #1663
* The pre-release internal auditing process we've discussed

## Suggested Design

The pre-release audit process we discussed last thursday was:
* For every module with notable changes, assign someone who was not a primary author of those changes to review the entire

[2022-06-20 14:59] ValarDragon opened #1831 "Internal auditing of our codebase"
## Background

We should go through an internal audit of every module in our codebase over this sprint, aiming to hit our new documentation standards as a component of this.

- Document all "entry points"
  - Proto messages, public keeper methods, hooks that we listen onto
  - Review the logic for these, add comments for things took time to grok
  - Ensure functionality that seems relevant is cove

[2022-06-20 15:02] ValarDragon opened #1832 "[Placeholder] Simulator epic"
## Background

Epic for simulator, TODO to write this up in more detail

## Suggested Design

## Acceptance Criteria

[2022-06-20 15:04] ValarDragon opened #1833 "Labeller: Add docs label for any PR that edits a readme or spec folder"
Need to update the `.github/labeller.yml` to add docs label for any PR that edits a readme or spec folder

[2022-06-20 15:14] #1687 closed

[2022-06-20 15:45] ValarDragon opened #1834 "x/Epochs - internal audit & documentation"
- [x] Document module #1821
- [x] Move BeginBlock to keeper #1870
- [x] Review tests
- [ ] Add direct tests for AddEpochInfo & InitGenesis

[2022-06-20 15:45] ValarDragon opened #1835 "x/gamm"

[2022-06-20 15:47] ValarDragon opened #1836 "x/gov - Expedited proposal"

[2022-06-20 15:47] ValarDragon opened #1837 "x/incentives - internal audit"

[2022-06-20 15:48] ValarDragon opened #1838 "x/lockup - internal audit"
To be done in three seperate PR
- [ ] #1828
- [ ] https://github.com/osmosis-labs/osmosis/pull/1900
- [ ] https://github.com/osmosis-labs/osmosis/pull/1936
- [ ] https://github.com/osmosis-labs/osmosis/pull/1937
- [ ] https://github.com/osmosis-labs/osmosis/pull/1951
- [ ] #1968
- [ ] https://github.com/osmosis-labs/osmosis/pull/1979

[2022-06-20 15:49] ValarDragon opened #1839 "x/mint"

[2022-06-20 15:49] ValarDragon opened #1840 "x/pool-incentives: Internal audit & cleanup"
- [x] Adding detailed docs for every proto message / struct in the pool incentives module
- [x] Reviewing what API's are exported to other modules
- [x] Seeing how is taking in other modules / does it make sense / can it be clarified better
- [x] Check that the tests cover everything, and are well structured + understandable
- [x] Comment any confusing logic in the code in detail
- [x] If there is

[2022-06-20 17:58] p0mvn opened #1843 "e2e: fix superfluid tests when upgrade is disabled"
## Background

Superfluid e2e tests are currently broken when run from the current branch (without upgrade logic):
[code]

The initial guess is because superfluid logic is coupled to the upgrade tests.

## Suggested Design

Superfluid tests should run independently from the upgrade tests. They should pass with and without upgrade logic

## Acceptance Criteria

- e2e `TestSuperfluidVoting` works wh

[2022-06-20 19:47] #1710 closed

[2022-06-20 19:55] ValarDragon opened #1845 "Improve tokenfactory/keeper/admins_test ChangeAdmin test"
Within `xtokenfactory/keeper/admins_test.go`, I suggest we change the test case structure to improve readability.

Instead of `tc.setup()`, I think we should add four fields:
* `ChangeAdminMsg`
* `exoectedAdmin`
* `*MintMsg` (and can be nil)
* `expMintPass`

_Originally posted by @ValarDragon in https://github.com/osmosis-labs/osmosis/pull/1691#discussion_r900979369_

[2022-06-20 19:55] #1418 closed

[2022-06-20 23:54] #1833 closed

[2022-06-21 13:33] ValarDragon opened #1847 "Rename x/epochs to x/timers"
## Background

The more I work on the x/epochs module, the more I think everything about its naming and explanation would be greatly simplified by renaming it to `x/timers`, and renaming every reference to `epoch` as `timer`.

The reason it was called x/epochs, is due to the phrase "epoched staking". I'm pretty historically unclear on where this came from, I'm pretty sure I caught onto saying it f

[2022-06-21 18:41] xBalbinus commented on #1830
May be closed by [#1848](https://github.com/osmosis-labs/osmosis/pull/1848)

[2022-06-22 04:43] ValarDragon opened #1850 "Make a daily workflow to check that every link isn't broken"
## Background

A common problem is that links to other sites in the code / documentation break. We should have a daily CI action that can scan every markdown file, and report on breaking links in a github issue / slack bot

## Acceptance Criteria

- Automated reporting of link breakage {exists}

[2022-06-22 07:43] faddat commented on #1748
hey, worrying thing-- I may have similar results elsewhere.

I am doing this / working on this for pylons, but may even remove it.

Having decent servers can be an easy massive sppeedup, but I am not sure that this is going to get us there.

[2022-06-22 13:49] ValarDragon opened #1851 "[Epic] Simulator"
## Background

Currently the simulator acts as a way of building complex state machine states, via running many messages that are expected to pass.

We want to integrate the simulator into Osmosis, but a key roadmap for us is:
* Massively reduce the boilerplate involved with simulator code
* Path to make the simulator act for fuzzing the API boundary
  * Right now we rely on our ability to perfect

[2022-06-22 17:11] #1635 closed

[2022-06-22 18:39] ValarDragon commented on #1851
After working on this for a few hours, I think the easiest way to write this w/ desired dev UX in mind is going to be:
* bring the simulator into Osmosis
* getting it working as I want with just simulating gamm messages
* Make it backwards compatible to support 'legacy' API

[2022-06-23 03:53] p0mvn commented on #1832
Duplicate of https://github.com/osmosis-labs/osmosis/issues/1851

[2022-06-23 03:53] #1832 closed

[2022-06-23 15:24] #1605 closed

[2022-06-24 06:17] stackman27 commented on #1831
Hi @ValarDragon can i do internal auditing for txfees?

[2022-06-24 18:20] p0mvn opened #1863 "e2e: convert runPostUpgradeTests method to a test fixture"
**Background**

`s.runPostUpgradeTests()` should be in its own fixture `func TestPostUpgrade(t *testing.T)` in `e2e_test.go`.
_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/1809#discussion_r905597341_

**Acceptance Criteria**
- `TestPostUpgrade` fixture is created
- `s.runPostUpgradeTests()` method is removed
- e2e tests continue to pass

[2022-06-24 19:56] p0mvn opened #1864 "docs: all module README.mds are located in module root"
## Background

Sometimes, our `README.md`s for each module are located in `< module >/spec/README.md`. Sometimes, there are 2 READMEs per module in a different location.

## Suggested Design

For each module, we should have a README in the module's root.

For example, for `tokenfactory` module, we would have a **single** README.md in `x/tokenfactory/README.md`

## Acceptance Criteria

- For every

[2022-06-24 19:56] p0mvn commented on #1864
This issue is blocked by: https://github.com/osmosis-labs/osmosis/issues/1831

We should do this once all audits are complete to avoid conflicts

[2022-06-25 00:21] p0mvn opened #1869 "e2e: add comment to explain fork logic in set up"
We should add a small comment as to what we're doing here and why.

_Originally posted by @alexanderbez in https://github.com/osmosis-labs/osmosis/pull/1866#discussion_r906436320_

[2022-06-25 16:42] ValarDragon commented on #1031
Lets re-open with some ideas! This was made as part of making issues for sub-items in an epic, that we decided to track elsewhere!

[2022-06-25 16:42] #1031 closed

[2022-06-25 16:43] ValarDragon commented on #642
Closing this for now, what needs to happen for fix is documented in https://github.com/osmosis-labs/osmosis/issues/1805

[2022-06-25 16:43] #642 closed

[2022-06-25 16:50] #1496 closed

[2022-06-26 15:50] ValarDragon commented on #1381
Closing in favor of tracking in #1805

[2022-06-26 15:50] #1381 closed

[2022-06-26 15:51] ValarDragon commented on #1159
Closing in favor of #1805

[2022-06-26 15:51] #1159 closed

[2022-06-26 15:53] ValarDragon commented on #609
From talking to Adam in the past, we decided to just do this stuff via get.osmosis.zone, and focus on getting that to be a better UX

[2022-06-26 15:53] #609 closed

[2022-06-27 09:54] ItsFunny opened #1875 "testnet faucet is not working !"
I want to take some testnet tokens ,but there has something wrong about testnet ! ,please fix this

[2022-06-27 09:55] ItsFunny commented on #1875
This is my address : osmo10whr2tvcxmveces87kdrwp6xl42h02e8ah2ac9 ,  Send me some testnet tokens If it is available for you ~

[2022-06-27 11:22] mattverse opened #1877 "Add invariant to `x/lockup` for module balance"
## Background

`x/lockup` keeper should have an invariant to ensure that the module balance and the sum of all tokens within all locks have the equivalent amount of tokens.

## Suggested Design

Add this invariant check in `invariants.go`

[2022-06-27 13:34] #1830 closed

[2022-06-27 14:26] #1196 closed

[2022-06-27 14:27] p0mvn opened #1878 "e2e: support nodes with varying CPU architectures and operating systems"
**Background**

We would like to support nodes running all supported OSs and CPU architectures.

**Acceptance Criteria**
- all supported operating systems and CPU architectures are integrated into e2e
- e2e tests continue to pass

[2022-06-27 14:31] p0mvn commented on #1878
Marking this is as blocked for now as more thought needs to be put into defining concrete steps for this issue. This is low-priority

[2022-06-27 14:32] #1414 closed

[2022-06-27 14:33] p0mvn commented on #1517
These are all now complete, the only remaining part is to approve #1 via governance and release

[2022-06-27 14:33] #1517 closed

[2022-06-27 14:33] p0mvn commented on #1688
The draft is created and approved. What is our plan for this?

[2022-06-27 14:34] p0mvn commented on #1392
This is blocked on deciding the future of: https://github.com/osmosis-labs/osmosis/pull/1459

[2022-06-27 14:49] p0mvn opened #1879 "e2e: enable state-sync"
## Background

We would like to be testing state-sync in e2e. To make it work, a refactor needs to be done.

It has been started in:

- https://github.com/osmosis-labs/osmosis/pull/1844
- https://github.com/osmosis-labs/osmosis/pull/1824
- https://github.com/osmosis-labs/osmosis/pull/1591
- [`roman/e2e-chaininit-refactor`](https://github.com/osmosis-labs/osmosis/tree/roman/e2e-chaininit-refactor)

[2022-06-27 15:00] AlpinYukseloglu opened #1880 "x/gamm: Refactor MultihopSwapExactAmountOut to make it more intuitive"
## Background

The current structure for `MultihopSwapExactAmountOut` is confusing and unintuitive. As a result, it needed to be heavily commented to make it clear what certain parts were doing and why. Given how it is a part of our core GAMM module, it is worth refactoring this code to do intuitively what the comments currently say it does.

The method being referred to: https://github.com/osmosi

[2022-06-27 15:14] DevOpsFarina commented on #1875
Thank you for reporting. The issue has been fixed. I tested by sending some tokens to you and you now have a balance.

Cheers!

[2022-06-27 15:15] daniel-farina commented on #1875
Thank you for reporting. The issue has been fixed. I tested by sending some tokens to you and you now have a balance.
Cheers!

[2022-06-27 15:15] #1875 closed

[2022-06-27 19:02] p0mvn opened #1882 "bank supply CLI query reports different values from REST"
#### System information

Osmosis version: `10`

Currently, the supply reported via REST is different from when queried via CLI. These should be identical.

#### Expected behaviour

Supply values queried by different means report the same result

#### Actual behaviour

These differ. REST seems to be incorrect while CLI is fine.

#### Steps to reproduce the behaviour

Query via CLI, query via REST,

[2022-06-28 13:17] ValarDragon commented on #1529
See https://github.community/t/how-to-detect-a-pull-request-from-a-fork/18363 for how we'd do it

[2022-06-28 13:18] ValarDragon commented on #1529
cc @xBalbinus is this something you'd be down to take on?

Will help everyone working on forks to not have constant errors on their PRs

[2022-06-28 14:27] alexanderbez opened #1887 "rename stableswap params to pool_params.go"
Let's rename stableswap params to `pool_params.go` as well for consistency

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/1868#discussion_r906887455_

[2022-06-28 15:24] JohnnyWyles opened #1888 "Update-Pool-Incentives Description field error"
#### System information

Osmosis version: `10.0.1`
OS & Version: Linux
Commit hash: e2217ddc22646f1be93a23132fdbf130275984a7

#### Expected behaviour
Update-Pool-Incentives proposal submission to change Community Pool gauge (0) to 25000000.

#### Actual behaviour
Proposal description is lost, flags are no longer available on v10.0.1 so json proposal used instead.  Json proposal has the deposit inf

[2022-06-28 15:32] ValarDragon commented on #1888
cc @czarcas7ic

[2022-06-28 15:34] xBalbinus commented on #1529
Yep! Got it, down to take this on

[2022-06-28 15:57] czarcas7ic commented on #1888
I'll get a PR up soon

[2022-06-28 21:21] #1529 closed

[2022-06-28 21:46] xBalbinus commented on #1256
May be closed by [#1892](https://github.com/osmosis-labs/osmosis/pull/1892)

[2022-06-29 02:06] czarcas7ic commented on #1888
This issue became slightly more involved than I initially thought it would be. In order to be able to deliver my incentives audit on time I had to move off of this, but after discussion with @p0mvn we agreed the following has to be done:

- add proposal-specific flags to NewCmdSubmitUpdatePoolIncentivesProposal and NewCmdSubmitReplacePoolIncentivesProposal
- disable poolincetives tx commands since

[2022-06-29 06:56] #1845 closed

[2022-06-29 07:41] mattverse commented on #1678
Closing this issue with the decision that integrating the API module is alot work and not considered stable in SDK yet.

[2022-06-29 07:41] #1678 closed

[2022-06-29 14:36] czarcas7ic opened #1896 "Flag to remove wasm byte code from proposal list"
## Background

As it stands on testnet, when listing proposals the list becomes unreadable due to all the byte code shown in each wasm prop.

## Suggested Design

There are many ways to go about this, but I suggest we hide the wasm byte code by default, but can show the code with a flag

## Acceptance Criteria

- Proposal list is once again readable
- Wasm byte code can be displayed if desired

[2022-06-29 14:36] czarcas7ic commented on #1896
![Screen Shot 2022-06-29 at 9 33 30 AM](https://user-images.githubusercontent.com/40078083/176463885-897fd8e0-5132-4265-84c4-d00686128a63.png)
Goes on, and on, and on

[2022-06-29 20:55] p0mvn opened #1897 "proposal: enable staticcheck"
## Background

I noticed that our linters do not catch unused variables. Upon running `staticcheck` with:
[code]
I discovered around 30 lint issues related to unused code. We should consider enabling `staticcheck` as this is a useful static analysis tool.

## Suggested Design

We can enable it via `golanglint-ci` without much effort:
https://github.com/osmosis-labs/osmosis/blob/a785de13eebcfd91b68

[2022-06-30 00:15] ValarDragon commented on #1897
IIRC, staticcheck is super slow

[2022-06-30 03:19] mattverse commented on #1838
To be done in three seperate PR

- [ ] One PR for deleting unused methods, renaming methods, and the documentations cleanup
- [ ] One PR for refactoring `Lock` method.
- [ ] One PR for ensuring API safety for `ExtendLock`, where we used to take lock of pointer references as parameter. This is bad for ensuring API safety, now it takes in lockID as parameter.

[2022-06-30 04:09] AlpinYukseloglu opened #1903 "x/gamm: Charge gas for computation in swaps instead of just I/O"
Swaps currently only charge gas for I/O, regardless of the amount of computation they take up. One minor but useful change would be to make it so that gas is also charged for computation in swaps.
[
](https://github.com/osmosis-labs/osmosis/pull/1858)

[2022-06-30 04:16] AlpinYukseloglu opened #1904 "x/gamm: Consider deleting IsActive and related checks"
## Background

Consider deleting `IsActive` and related checks, including `getPoolForSwap()`. These checks were introduced for a feature that no longer exists (namely, letting people add/remove liquidity from a pool while disallowing swaps in it). Currently, `IsActive` is [hard-coded to return true](https://github.com/osmosis-labs/osmosis/blob/85529c76683f2d2f2ffb2121125baf0e39463f84/x/gamm/pool-m

[2022-06-30 04:25] AlpinYukseloglu opened #1905 "x/gamm: Consider renaming CalcExitPoolShares to CalcExitCoinsFromShares"
## Background

`CalcExitPoolShares` calculates the expected tokens output by a pool given some number of shares. With the current name, it's not clear whether or not the function calculates the number of shares from output tokens or output tokens from the number of shares, so I think it might be worth considering renaming it to something like `CalcExitCoinsFromShares` (or something else that bette

[2022-06-30 04:54] AlpinYukseloglu opened #1906 "x/gamm: Add check for correct input asset denoms to CalcJoinPoolShares"
## Background

Our [current implementation](https://github.com/osmosis-labs/osmosis/blob/85529c76683f2d2f2ffb2121125baf0e39463f84/x/gamm/pool-models/balancer/amm.go#L336) of `CalcJoinPoolShares` checks to make sure the _number_ of denoms sent in for an all-asset join is correct ([here](https://github.com/osmosis-labs/osmosis/blob/85529c76683f2d2f2ffb2121125baf0e39463f84/x/gamm/pool-models/balancer

[2022-06-30 04:59] AlpinYukseloglu opened #1907 "x/gamm: Consider removing DeletePool from GAMM keeper"
## Background

Since we do not support pool deletion, `DeletePool` is entirely unused code, so I suggest we delete it for now. If we decide to implement pool deletion in the future, it will require a more robust implementation than the current version anyway, so I don't see why we should keep this function around.

https://github.com/osmosis-labs/osmosis/blob/85529c76683f2d2f2ffb2121125baf0e39463f

[2022-06-30 05:07] AlpinYukseloglu opened #1908 "Investigate potential rounding error in getMaximalNoSwapLPAmount"
## Background

`getMaximalNoSwapLPAmount` uses QuoInt to calculate the share ratio needed to enter the pool, which does floor division and therefore might underestimate the amount of input liquidity needed from each token. Any underestimate related to this might be eclipsed by the subsequent round-up for each token's liquidity, but it's not clear to me whether this is always the case.

https://git

[2022-06-30 10:28] mattverse commented on #1838
All the other components are finished as well in the branch `mattverse/audit-lockup`, but holding on those until #1900 gets closed since likely to cause too much merge conflicts

[2022-06-30 12:25] #1401 closed

[2022-06-30 12:41] #1834 closed

[2022-06-30 13:04] #1877 closed

[2022-06-30 13:17] #1569 closed

[2022-06-30 13:24] ValarDragon opened #1911 "Minor release testing workflow"
## Background

We should make a workflow for testing minor releases against mainnet for state compatibility. The goal would be that on a branch thats in a PR to v10.x, there is some manual thing I could easily run to check a node against it. In case of app hash failure, being given the last {say} thousand lines of logs would be helpful

## Suggested Design

* We sync a new node against mainnet, us

[2022-06-30 13:47] p0mvn commented on #1897
You're right. It's slow. Took 5 seconds on the first pass. Reused cache a second time, taking approximately 1 second.

To mitigate, what do you think about the following:
- adding a makefile step that is separate from our main `golangci-lint` linter i.e `make staticcheck`
   * This should only be used if someone sees CI failing and wants to reproduce locally
   * Our regular linting is done separa

[2022-06-30 14:20] alexanderbez opened #1914 "x/tokenfactory - internal audit"

[2022-06-30 14:35] ValarDragon commented on #1897
Why not just add the deadcode linter?

[2022-06-30 17:04] p0mvn commented on #1897
I've been framing this in terms of the dead code detection benefit so far because of recency bias.

However, `staticcheck` is also useful for [the variety of other checks](https://staticcheck.io/docs/checks/) it supports, helping spot erroneous errors and maintain code standards. It would also help reduce manual linting in PRs.

With only a quick skim, these are the linters that I've seen to be ma

[2022-06-30 17:41] p0mvn opened #1915 "x/mint: understand and refactor keeper tests"
## Background

This is a subset of #1839

Some tests in `x/mint` keeper are complex and poorly understood. We need to refactor them for clarity if applicable. This includes:
- `TestMintCoinsToFeeCollectorAndGetProportions`
- `TestDistrAssetToDeveloperRewardsAddrWhenNotEmpty`

## Acceptance Criteria
- investigate the above tests
- refactor if needed
- add comments to make them clear

[2022-06-30 17:50] p0mvn opened #1916 "x/mint: refactor, document and unit test keeper's `DistributeMintedCoin`"
## Background

This is a follow-up to #1839

[DistributeMintedCoin](https://github.com/osmosis-labs/osmosis/blob/97e1bc60a441a5fbeaff5ff94c6f241973b3da28/x/mint/keeper/keeper.go#L194) does too many things and violates the separation of concerns. It should be refactored to focus on one thing and potentially call other methods.

## Suggested Design

- [Distributing developer rewards](https://github.

[2022-06-30 18:04] p0mvn opened #1917 "x/mint: fix rounding issues"
#### Background

This is a follow-up to https://github.com/osmosis-labs/osmosis/issues/1839

https://github.com/osmosis-labs/osmosis/pull/1874 helped to uncover rounding issues with minting. Please follow the PR description to understand the context.

There are currently 2 discovered rounding issues:

1. Truncating epoch provisions
- Line that causes this: https://github.com/osmosis-labs/osmosis/b

[2022-06-30 18:06] p0mvn commented on #1917
Blocked by #1916

[2022-06-30 18:07] p0mvn commented on #1916
Marking this as blocked by #1915.

This is better be done after the existing tests are understood and refactored

[2022-06-30 18:22] p0mvn commented on #1908
Do you propose to convert `totalSharesAmount` to `Dec`, perform the division, and round up?

I think that makes sense to me

[2022-06-30 18:23] p0mvn commented on #1908
I also see no unit tests for `getMaximalNoSwapLPAmount`. I think we should invest in unit testing this function with calculations verified by Wolfram.

[2022-06-30 18:26] p0mvn commented on #1908
Another architectural issue is that we are passing a `PoolI` to this function just to perform some calculations by using the pool:
[code]

where it is called like:
[code]

Instead, I think this function should be defined on the pool interface so that we can call it in the following way:
[code]

[2022-06-30 18:26] AlpinYukseloglu commented on #1908
Yes, my suggestion is to make the following change:
https://github.com/osmosis-labs/osmosis/blob/85529c76683f2d2f2ffb2121125baf0e39463f84/x/gamm/keeper/pool_service.go#L232
to this:

`shareRatio := shareOutAmount.ToDec().QuoInt(totalSharesAmount)`

cc: @ValarDragon, would love to validate whether this is a valid concern before pushing a PR for this change

I agree, will make a separate testing-rel

[2022-06-30 18:27] p0mvn commented on #1907
I agree we should not have unused code. If we decide to bring back the ability to delete pools, there is always `Git` history

[2022-06-30 18:32] p0mvn commented on #1905
I like the idea. Suggest even being more verbose for clarity: `CalcExitPoolCoinsFromShares`

[2022-06-30 18:44] p0mvn opened #1918 "x/mint: understand and refactor hook tests"
## Background

This is a follow-up to #1839

Some tests in `x/mint` hooks are complex and poorly understood. We need to refactor them for clarity if applicable. This includes:
- `TestEndOfEpochMintedCoinDistribution`
- `TestMintedCoinDistributionWhenDevRewardsAddressEmpty`
- `TestEndOfEpochNoDistributionWhenIsNotYetStartTime`

## Acceptance Criteria
- investigate the above tests
- refactor if need

[2022-06-30 18:49] p0mvn opened #1919 "x/mint: refactor AfterEpochEnd hook and add more tests"
## Background

This is a follow-up to #1839

After [the refactor of `DistributeMintCoin` ](https://github.com/osmosis-labs/osmosis/issues/1916) and the refactor of [hook tests](https://github.com/osmosis-labs/osmosis/issues/1918) are complete, we can investigate whether [`AfterEpochEnd` Hook](https://github.com/osmosis-labs/osmosis/blob/d34df6ecbdf15dc8bbc597045f357935b92f1341/x/mint/keeper/hooks.

[2022-06-30 18:50] p0mvn commented on #1919
Blocked by #1916 and #1918

[2022-06-30 19:06] p0mvn opened #1920 "x/mint: make all fixtures in keeper package use `KeeperTestSuite`"
#### Background

Currently, there are 2 test suites in `mint` `keeper`:
- [`KeeperTestSuite`](https://github.com/osmosis-labs/osmosis/blob/d34df6ecbdf15dc8bbc597045f357935b92f1341/x/mint/keeper/keeper_test.go#L23)
- [`MintTestSuite`](https://github.com/osmosis-labs/osmosis/blob/d34df6ecbdf15dc8bbc597045f357935b92f1341/x/mint/keeper/grpc_query_test.go#L13)

The only difference between them is that

[2022-06-30 20:47] ValarDragon commented on #1897
Just checked:
* On my laptop first run takes 16 seconds
* Second run immediately after took 1.5 ish seconds

It had a 5x speedup in 2019: https://staticcheck.io/changes/2019.2/ , and another big one in 2020: https://staticcheck.io/changes/2020.2/ , so thats why the recollection of minutes is wrong.

Of the lints you were listing, I'm not totally sold on a lot of them being important or worth the s

[2022-06-30 21:08] #1882 closed

[2022-06-30 22:20] #1225 closed

[2022-07-01 00:11] AlpinYukseloglu opened #1925 "x/gamm: Remove commented CleanupBalancerPool function"
## Background
Remove the following function in `pool.go` to minimize code clutter. This function also would need to be reimplemented with the removal of DeletePool in #1907.

https://github.com/osmosis-labs/osmosis/blob/85529c76683f2d2f2ffb2121125baf0e39463f84/x/gamm/keeper/pool.go#L107-L114

## Suggested Design

N/A

## Acceptance Criteria

- All existing and new tests pass

[2022-07-01 00:18] AlpinYukseloglu commented on #1925
cc: @ValarDragon I believe this was your addition

[2022-07-01 00:36] AlpinYukseloglu commented on #1905
cc: @ValarDragon @alexanderbez thoughts?

[2022-07-01 00:52] AlpinYukseloglu opened #1929 "x/gamm: Add check to ensure JoinPoolNoSwap cannot be called with arbitrary denoms"
## Background

Our current implementation of `JoinPoolNoSwap` only checks for whether the input set of tokens _includes_ the tokens in the pool, but does not have any check that prevents someone from putting in an arbitrary number of arbitrary tokens. Since this is a no-swap/all-asset join, there are no other immediate checks so an invalid input can make it directly to the state-changing `JoinPool

[2022-07-01 01:54] AlpinYukseloglu commented on #1908
cc: @ValarDragon

[2022-07-01 02:31] ValarDragon commented on #1907
Closing this, lets discuss in #1925 , its the same discussion.

[2022-07-01 02:31] #1907 closed

[2022-07-01 02:43] AlpinYukseloglu commented on #1880
After spending quite a bit of time trying to refactor this to make it cleaner, I've come to the conclusion that any change will add more complexity than it will remove. The comments I added during our internal GAMM audit should suffice for making it clear how the function works.

[2022-07-01 02:43] #1880 closed

[2022-07-01 03:57] #1929 closed

[2022-07-01 04:27] ValarDragon commented on #815
I believe @pyramation built something to this extent between his Telescope and Cosmology work!

[2022-07-01 04:32] ValarDragon opened #1935 "x/gamm: Delete the height < v10forkheight { use broken code } check"
## Background

During v10 we added height gating, to make the v10 binary compatible with v9 until the fork height.

Now that were on v10, we should delete this code off of main.

## Suggested Design

Delete logic introduced in this commit: https://github.com/osmosis-labs/osmosis/pull/1792

cc @AlpinYukseloglu

[2022-07-01 14:55] ValarDragon commented on #1897
Looking into this more, the golangci-lint `gosimple` linter is a subset of the staticcheck linters, namely these: https://github.com/dominikh/go-tools/blob/master/simple/doc.go (Every lint that is `S####`)

Which of the ones you listed is most of them, and has ~no execution time tradeoff. If we want stylecheck, thats also separated out into its own linter with golangci-lint. Similar for QF as "Qui

[2022-07-01 15:28] p0mvn commented on #1897
Good catch, seems that there are [4 components](https://github.com/golangci/golangci-lint/discussions/1989#discussioncomment-745004):
- staticcheck: https://github.com/dominikh/go-tools/blob/331bcca40621580531c9b8a9cb7d5c2c06c709d2/staticcheck/analysis.go#L23
- stylecheck: https://github.com/dominikh/go-tools/blob/331bcca40621580531c9b8a9cb7d5c2c06c709d2/stylecheck/analysis.go#L14
- simple: https:

[2022-07-01 17:41] p0mvn opened #1940 "lint: investigate and fix errcheck linter"
## Background

Our `errcheck` linter does not seem to be working.

Two occurrences where it did not fail when should have:
- https://github.com/osmosis-labs/osmosis/blob/2007babdee01e9bb7743ccadeff097cdab9b7236/x/gamm/keeper/pool_service.go#L222
- https://github.com/osmosis-labs/osmosis/pull/1936#discussion_r911973832

Running `golangci-lint linters` shows it as enabled. We need to investigate why

[2022-07-01 17:50] ValarDragon commented on #1940
I think whats happening is errcheck only checks if an error is returned and you don't assign a variable to it. I suspect its not actually checking that the error was used for something (assumes golang unused var elimination would do that for you)

[2022-07-01 17:55] AlpinYukseloglu commented on #1935
Agreed – we should probably delete all related broken functions as well right?

[2022-07-01 18:08] stackman27 commented on #1920
Hi @p0mvn is this in the works already? If not i can take a shot

[2022-07-01 18:22] p0mvn opened #1942 "x/gamm: test that swap and LP events are emitted"
## Background

Currently, our tests are missing assertions about events. Moreover, it seems that some of our events are missing based on #1939

Therefore, this issue is twofold:
1. Investigate if / which events are missing and restore them
3. Add assertions in tests that events are being emitted in the correct places

## Acceptance Criteria
- all events are in the right places
   - [x] swap events

[2022-07-01 18:22] p0mvn commented on #1942
I have some progress started here: https://github.com/osmosis-labs/osmosis/tree/roman/gamm-events

[2022-07-01 18:25] p0mvn commented on #1920
Hi @stackman27 . No, this is available. Please feel free to take it. Thank you

[2022-07-01 19:08] AlpinYukseloglu opened #1943 "x/gamm: refactor all pool_service.go tests to be properly table-driven"
## Background

All of the current tests in `pool_service.go`, while technically structured as table-driven tests, have complex nested "setup" functions that defeat the purpose of structuring them in a tabular way. We should refactor all of these to be properly table-driven by grouping test cases by logic and setting them up in such a way that none of the test cases have unique complex logic in the

[2022-07-01 19:17] AlpinYukseloglu opened #1944 "x/gamm: refactor all pool.go tests to be properly table-drive"
## Background

Similar to #1943. These tests should not include unique test logic in case-specific functions.

## Suggested Design

- Group tests by similar logic and factor out case-specific functions

## Acceptance Criteria

- All tests work as intended and pass

[2022-07-01 19:24] AlpinYukseloglu opened #1945 "x/gamm: Make all internal set functions private"
## Background

I believe these functions were only public because they needed to be for an older SDK version. I think it would be appropriate to make them private now so that they aren't exposed to other modules.

cc: @ValarDragon @alexanderbez @p0mvn for discussion

## Suggested Design

- Convert all the following public GAMM set functions to private:
`SetParams`
`SetPool`
`SetNextPoolNumber`
`Se

[2022-07-01 20:05] #1935 closed

[2022-07-01 20:06] p0mvn opened #1946 "test/devux: helper function for assertions conditional on error"
**Background**

We tend to use a common pattern for asserting on the results in table-driven tests:
[code]

We should make a helper for this pattern. e.g. `osmoutils.ConditionalPanics(suite, expPanic, func)`

_Originally posted by @ValarDragon in https://github.com/osmosis-labs/osmosis/pull/1872#discussion_r911602155_

**Acceptance Criteria**
- helper is created
- skim our tests and replace / refa

[2022-07-01 20:17] p0mvn opened #1947 "proposal: adapt our test standards to alias relevant keepers in the module's test suite"
**Background**

In unit tests of every module, our test setup often requires us to initialize the app and then access its keepers in the following way:
[code]
having to prefix each call with `app.` adds verbosity to our tests, making them less readable.

We should consider adopting our test standards to alias relevant keepers in the module's suite.

For example, `mint` module utilizes `AccountKeep

[2022-07-01 20:50] stackman27 commented on #1946
Hi @p0mvn I can work on this!

[2022-07-02 20:10] pyramation commented on #815
Yes! we do have an alpha version. Beta soon and tracking issue here: https://github.com/osmosis-labs/telescope/issues/95

[2022-07-02 21:08] p0mvn commented on #1946
Awesome, thank you

[2022-07-03 15:03] ValarDragon commented on #815
Awesome, going to close this issue in favcr of more discussions there!

[2022-07-03 15:03] #815 closed

[2022-07-03 20:59] AlpinYukseloglu commented on #1945
@ValarDragon it seems as though a bunch of our gamm tests use the gamm keeper set up in `suite.App`, which is only allowed to use public keeper methods. For example, if we make `SetParams` private, the following call has no way to access it:
https://github.com/osmosis-labs/osmosis/blob/8f018a6c638b64912c1b22c7df04f84abe667ba0/x/gamm/keeper/pool_service_test.go#L212-L213

Any ideas on how we can ge

[2022-07-03 21:07] AlpinYukseloglu commented on #1903
Yes, some fixed cost for now with a TODO to turn it into a param later (since making it a param now would require migration code and it's too small of a change to be worth it for that)

[2022-07-03 23:26] AlpinYukseloglu opened #1950 "discussion: how can we minimize unintentional stake centralization in top validators?"
## Background

A whale delegating a large amount of OSMO to a top 6 validator apparently caused our Nakomoto coefficient dropped from 15 to 6 recently: https://twitter.com/blockpane/status/1543699870292365313

While we cannot feasibly stop intentional stake centralization, I wonder if it would make sense for us to set up guardrails to at least prevent _unintentional_ stake centralization. I've lis

[2022-07-03 23:27] AlpinYukseloglu commented on #1950
cc: @ValarDragon @alexanderbez

[2022-07-04 05:10] vuong177 commented on #1915
Hi @p0mvn. Could  I work on this issue?

[2022-07-04 06:51] mattverse commented on #1947
Do you think having extra keepers in the App, instead of having only the needed keepers is desirable?

Just asking out of curiosity, don't have strong opinions!

We might need keepers outside the scope of what the normal keeper would require though, for example, the cases where we need an extra keeper to test/check something specific

[2022-07-04 06:52] mattverse commented on #1945
use `export_test.go` if there's need to test private functions!

[2022-07-04 07:25] mattverse commented on #1650
Closing this issue with the decision that integrating the API module is alot work and not considered stable in SDK yet.

[2022-07-04 09:34] mattverse commented on #361
this is resolved per the PR that suppressed the help command!

[2022-07-04 09:34] #361 closed

[2022-07-04 13:25] ValarDragon commented on #1947
Just realized, we could make the entire `OsmosisApp` an embedded field on the suite, but that may be even more confusing

[2022-07-04 13:29] #1562 closed

[2022-07-04 13:36] ValarDragon commented on #1420
Closed by Bez' recent PR!

[2022-07-04 13:36] #1420 closed

[2022-07-04 13:39] #310 closed

[2022-07-04 13:40] #1256 closed

[2022-07-04 13:50] ValarDragon commented on #1915
Hey, we're trying to formulate some testing standards / architecture of module tests and the like right now. Really appreciate the enthusiasm!

I feel like this was made into its own issue too soon, whereas it should have been a sub-item in #1839 until we stopped working on that :sweat_smile: (or self-assigned when the issue was made!)

I think this will be better for informing testing standards &

[2022-07-04 14:25] p0mvn commented on #1370
My e2e spike didn't cover this. I think we might want to keep this open and revisit after the spike is fully merged.

In my view, this is a low-priority issue. Could be a good first issue for someone to onboard on e2e tests though

[2022-07-04 14:52] ValarDragon commented on #1903
Agreed, lets add a fixed cost for now.

[2022-07-04 14:53] p0mvn commented on #1940
I think you're correct.

This false positive seems to occur when we declare an `err` variable and reuse it by many calls:

For example, the following case would go uncaught:
[code]
- Although we do not handle it for B, the `err` ends up being read by error checking `doA`. So, it is not caught by the `unused` (or similar) linters. At the same time, the assignment of the result of `doB()` to `err` m

[2022-07-04 14:53] #1940 closed

[2022-07-04 14:57] ValarDragon commented on #1851
This sprint goals for simulator:
- [ ] Complete the initial refactor
  - [ ] (Steps are mostly documented in the PR, but the main blocker is getting genesis initialization to work cleanly before and after refactor, then adding new post-refactor property check functionality)
- [ ] Add gamm operations for:
  - [ ] Spot price change before and after every swap
  - [ ] Each gamm message
  - [ ] Balanc

[2022-07-04 15:42] ValarDragon commented on #1911
Per discussion: We have a snapshot service, maybe we set it to some time before epoch each day, and then sync some number of blocks from there.

We have to figure out how to trigger it exactly, and report on results (is it a slackbot? Comment on a PR? )

[2022-07-04 16:06] ValarDragon opened #1954 "Start making a test standards / template doc"
## Background

We should make a list in contributing.md's, of TDD that follow good standards that we can copy/paste from.

List of some good example tests we can copy/paste from:
- https://github.com/osmosis-labs/osmosis/blob/main/x/epochs/keeper/abci_test.go#L20
- https://github.com/osmosis-labs/osmosis/blob/main/x/tokenfactory/keeper/admins_test.go#L122
- {Roman to c/p} Gamm unit tests that are

[2022-07-04 16:18] mattverse opened #1955 "x/superfluid - internal audit"
- [ ] #1991
- [ ] #2027
- [ ] #2059
  - [x] #1797
- [ ] Consolidate usage and remove code duplication between `SuperfluidDelegation` and `IncreaseSuperfluidDelegation`

[2022-07-04 16:23] p0mvn commented on #1954
- https://github.com/osmosis-labs/osmosis/blob/5be82920fa67a97c2c2dff1c06edd10e0ab66319/x/gamm/pool-models/balancer/pool_test.go#L423
  * I like how this one tests what kind of error has specifically occurred and not just presence/absence of an error
- https://github.com/osmosis-labs/osmosis/blob/5be82920fa67a97c2c2dff1c06edd10e0ab66319/x/gamm/pool-models/balancer/pool_test.go#L211
   * This is a

[2022-07-04 16:42] AlpinYukseloglu commented on #1904
Agreed for both. I think we also discussed adding a test that would cover the "flipping" functionality – @ValarDragon you briefly mentioned mock testing as an option. Do we have any examples of something like that in our codebase/how did you envision it would look?

[2022-07-04 16:46] #1275 closed

[2022-07-04 17:48] p0mvn opened #1958 "x/gamm: PoolAsset.ValidateWeight - enable overflow validation"
## Background

There is currently dead code here:
https://github.com/osmosis-labs/osmosis/blob/1517e651c8af8417009f6a2392833265106b7d64/x/gamm/pool-models/balancer/pool_asset.go#L21-L24

This seems to be a valid check that we should enable and unit test

## Acceptance Criteria
- the check is enabled
- unit test added

[2022-07-04 18:03] p0mvn opened #1959 "x/gamm: clean up balancer pool_asset.go"
## Background

There  are currently several issues in `pool_asset.go`:

1. Dead code that should be removed
https://github.com/osmosis-labs/osmosis/blob/1517e651c8af8417009f6a2392833265106b7d64/x/gamm/pool-models/balancer/pool_asset.go#L41-L47

2. type declared in the middle of the file (should be at the top)
https://github.com/osmosis-labs/osmosis/blob/1517e651c8af8417009f6a2392833265106b7d64/x/g

[2022-07-04 18:04] p0mvn commented on #1959
CC: @AlpinYukseloglu just FYI in case any of these are already covered in your PRs

[2022-07-04 18:18] vuong177 commented on #1915
Thank you for your advice @p0mvn. I'll ask carefully so as not to waste time!

[2022-07-04 18:26] p0mvn commented on #1897
The candidates to be removed if `golangci-lint run` time becomes an issue, in my opinion, are:
- gosimple: https://github.com/osmosis-labs/osmosis/pull/1957#issuecomment-1174017505
- stylecheck: https://github.com/osmosis-labs/osmosis/pull/1960#issuecomment-1174058394

[2022-07-04 18:51] catShaark commented on #1756
@p0mvn, I think we should randomized the test, may be have a python file generating all the random test values to test against. We should treat complex math functions like this since they have many edge cases. wdyt?

[2022-07-04 18:56] vuong177 opened #1961 "x/pool-incentives : refactor test in pool-incentives keepers to be properly table-driven"
## Background
 - This issue is following #1840
 - Now some test in pool-incentives keeper is complex and unintelligible. We need to refactor it to better structure.

## Suggested Design
- Group test cases in `distr_test.go` and `grpc_query_test.go` .

## Acceptance Criteria

 - All existing and new tests should pass

[2022-07-04 19:00] czarcas7ic commented on #1837
The following are the remaining TODOs from the first pass. Would like to decide which of these we want to tackle as part of this audit and which we should just create issues for:

- [ ] Fixed rewards estimation to work sometimes, but other times it panics [Discussion](https://github.com/osmosis-labs/osmosis/pull/1885/files#r909126390)
- [ ] Optimize getToDistributeCoinsFromGauges [Discussion](http

[2022-07-04 19:20] p0mvn commented on #1756
Good idea. However, while I agree that randomized tests would be useful and we could have a separate issue for it, I think that we still need some well-thought-out table-driven tests.

Table-driven unit tests help to ensure that we cover the edge cases that are expected by the programmer.

On the other hand, randomized tests help to detect unanticipated errors.

So, in my opinion, both are useful

[2022-07-04 19:27] catShaark commented on #1756
ohh, sure thing, lemme close this issue with good old table test first, then I'll put up a new issue like you said

[2022-07-05 00:27] ValarDragon commented on #1756
Randomized tests for these functions would look different to the simulator work! I wonder how they'd work with go fuzz

[2022-07-05 04:08] catShaark commented on #1756
I caught this unexpected behavior of `Pow`, It returns incorrect result ( off by so many digits ) for large base ( close to 2 ) and large exp. I guess we should have a new issue about this
[code]

[2022-07-05 04:34] catShaark commented on #1756
The problem partly comes from sdk.Dec Power, it's not correct for large exp input either, what should we do?

[2022-07-05 17:51] #1905 closed

[2022-07-05 18:06] #1959 closed

[2022-07-05 18:07] #1906 closed

[2022-07-05 19:15] p0mvn opened #1972 "refactor: remove legacy `handler.go` files"
**Background**

From each module, we should remove legacy `handler.go` files.

A similar refactor was don in the SDK that can be referenced: https://github.com/cosmos/cosmos-sdk/pull/9650

**Acceptance Criteria**
- all `handler.go` logic is removed and refactored according to https://github.com/cosmos/cosmos-sdk/pull/9650
- all new functionality is covered by unit tests

_Originally posted by @ale

[2022-07-05 19:18] #1946 closed

[2022-07-05 20:45] #1914 closed

[2022-07-05 22:16] alexanderbez commented on #1972
literally just code deletion haha. I can tackle this

[2022-07-05 23:02] catShaark commented on #1756
I did not do anything to fix the problem. I think we have no choice but to simply accept it as a limitation of sdk.Dec. Well, If we really want to fix the problem, we have to fix sdk.Dec `Power` first which is a big deal so we should not include the fix into this PR anyway.

I definitely don't know how to fix this precision problem.

[2022-07-05 23:04] rrrliu commented on #1903
@AlpinYukseloglu is anyone working on this right now? If not, happy to take this!

[2022-07-06 01:07] AlpinYukseloglu commented on #1903
Nope, feel free to take it!

[2022-07-06 04:41] catShaark commented on #1958
@p0mvn, we have this [GuaranteedWeightPrecision](https://github.com/osmosis-labs/osmosis/blob/f0270d04bd77cc5e1c23f7913118b3c2ba737e97/x/gamm/pool-models/balancer/constants.go#L19) here that's used to scale up the weight provided by user. Since GuaranteedWeightPrecision = 1 << 30 already, maybe we should increase our 1 << 32 threshold ?

[2022-07-06 11:18] catShaark commented on #1756
From playing with the test, I draw the conclusion that the larger the out put number, the worse precision we get

[2022-07-06 15:41] catShaark commented on #1961
I think this makes sense

[2022-07-06 16:02] #1887 closed

[2022-07-06 19:40] vuong177 commented on #1961
Yep! My idea is to use driven-table test instead of the current test for more readable.

[2022-07-07 07:22] AlpinYukseloglu opened #1988 "Switch `expectError` to `expectPass` where applicable to keep tests consistent with each other"
## Background

Most of our table driven tests check errors by using `expectPass`, but there are a few tests lingering around that seem to use `expectError`. Since we are starting to introduce testing standards for our codebase, a small but important test cleanup would be to align all of our tests to use the same convention to remove the inconsistency.

## Suggested Design

- Switch `expectError` t

[2022-07-07 07:38] AlpinYukseloglu opened #1990 "Add suite.Run(...) to all table driven tests"
## Background

Our usage of `suite.Run(...)` is currently very inconsistent across tests in our codebase. One minor but useful addition would be to add this to the table driven tests that don't have it already and make it a testing standard to use it in future tests we create. This would have the primary effect of making our testing structure more consistent across our codebase, while also making

[2022-07-07 08:43] AlpinYukseloglu commented on #1444
Seems like `Go: Generate Unit Tests For Function` routes to [this file](https://github.com/cweill/gotests/blob/develop/templates/testify/function.tmpl) in `gotests`, which should be pretty straightforward to edit to fit our testing standards, but I'm struggling to figure out:
1. How to edit/run this locally
2. How to set it up with our repo so no additional IDE setup is required for it to work as

[2022-07-07 13:41] ValarDragon commented on #1444
It may require some IDE setup in vscode to point to it, but thats doable via https://github.com/osmosis-labs/osmosis/blob/main/.vscode/settings.json

I haven't tried editing templates before

[2022-07-07 14:34] p0mvn opened #1993 "lint(md): consider enforcing asterisk rule in our markdown files"
**Background**

There is a desire to have the asterisk being used for bullet points. We should configure our [markdown CI](https://github.com/igorshubovych/markdownlint-cli#readme) linter to be aware of this rule.

**Acceptance Criteria**
- The rule is applied to our markdown linter
- The CI passes for all files with the new rule

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osm

[2022-07-07 16:19] czarcas7ic opened #1995 "x/incentives: table driven tests"
## Background

distribute_test.go within the x/incentives/keeper folder had a lot of TODOs to re-write some of the tests to make them table driven. I have removed these TODOs in favor of this issue.

## Suggested Design

- Review each test within distribute_test.go
- If test would benefit from being changed to table driven, change that test

## Acceptance Criteria

- All existing and new tests sho

[2022-07-07 17:18] #1972 closed

[2022-07-08 00:25] xBalbinus commented on #1785
May be closed by #2000 (draft atm)

[2022-07-08 08:38] AlpinYukseloglu commented on #1990
Actually the more I think about it, the more it feels like this makes tests look a bit messy. Since including the test name as part of an assertion (e.g. `suite.Require().NoError(err, "test: %s", tc.name)`) achieves the same goal, what do you think about setting that as an expectation/standard instead @p0mvn?

[2022-07-08 14:39] ValarDragon commented on #1990
I think that the suite.Run() approach is preferrable. Name reporting done automatically, not left to complicate every subsequent suite check

[2022-07-08 18:51] #1785 closed

[2022-07-08 19:43] p0mvn opened #2002 "ux(e2e): Makefile steps to run e2e test suite locally"
## Background

Currently, there is a pre-requisites to get e2e working locally. This step includes building `osmosis:debug` image to be pre-built for testing the upgrades. This setup introduces a barrier to entry for developers new to e2e.

We should have 2 makefile steps that run e2e "out of the box" while installing everything needed in the background:
- `make test-e2e` - installs dependencies a