[2022-09-19 17:30] #2751 closed

[2022-09-19 19:11] #2776 closed

[2022-09-19 23:51] usstdqq opened #2785 "state export does not work outside the ~/.osmosisd folder"
#### System information

Osmosis version: 11.0.0-25-gf31d700f
OS & Version: Linux
Commit hash: f31d700f2be7c11ad2b56f7afa4ef1bcc54f7b94

#### Expected behaviour
state export works in any folder

#### Actual behaviour
state export only works in ~/.osmosisd folder

#### Steps to reproduce the behaviour
[code]

#### Backtrace
[code]

When submitting logs: please submit them as text and not screenshot

[2022-09-20 06:58] #2757 closed

[2022-09-20 08:36] mattverse opened #2791 "Cleanup Balancer Pools"
## Background

We currently have many unimportant pools, that were created before pool creation fees were created.
This burdens front end developers and node operators, causing high network fees in the pools query.

## Suggested Design

Proposed way of doing this is referencing https://github.com/osmosis-labs/osmosis/blob/main/x/gamm/keeper/pool.go#L115, and including it in V13.

The code snippet

[2022-09-20 09:03] mattverse commented on #2566
Apologies, I just saw this, both ways work we don't have preference over one another, I think it'd be fine we use wasmd upstream?

[2022-09-20 09:33] AlpinYukseloglu opened #2794 "[stableswap]: Generalize stableswap binary search solver to osmoutils binary search"
## Background

Factoring out this binary search logic would simplify stableswap solver code drastically and would give us access to a `BigDec` binary search solver to use elsewhere later if needed

## Suggested Design

- Create a `BigDec` version of `BinarySearch` here:
https://github.com/osmosis-labs/osmosis/blob/0378e54207698098555b241306ebea9a0e23d1df/osmoutils/binary_search.go#L62-L68

## Acce

[2022-09-20 09:36] AlpinYukseloglu commented on #2349
Closed by #2777 and #2778

[2022-09-20 09:36] #2349 closed

[2022-09-20 09:42] AlpinYukseloglu commented on #2701
Closed by #2777 and #2778

[2022-09-20 09:42] #2701 closed

[2022-09-20 10:14] ValarDragon commented on #2752
Wait why? Having a test that creates a pool and asserts the equivalent desired behavior seems fine?

[2022-09-20 14:53] czarcas7ic opened #2796 "Switch Active to be inclusive instead of Upcoming"
## Background

https://github.com/osmosis-labs/osmosis/pull/2787#discussion_r974859898

[2022-09-20 15:23] MasterPi-2124 commented on #2747
Hi, I am working on this, but I can't set up a mergify test for it in the forked repo. I have to add name jobs individually because mergify doesn't allow checking multiple statuses with just one condition. We also need to change the setting in the "branch protection rules" section and modify mergify file as I suggested: https://github.com/notional-labs/osmosis/blob/main/.github/mergify.yml

this i

[2022-09-20 15:25] #2796 closed

[2022-09-20 16:12] czarcas7ic opened #2800 "State Export ICA Patch v11"
## Background

We need to merge this change to v11.x, otherwise anyone trying to state export a v11 height wont be able to state export

https://github.com/osmosis-labs/osmosis/commits/adam/v11-ica-export-patch

[2022-09-20 22:59] p0mvn commented on #2752
I agree that the test we have covers most of the logic we want. However, it's a functional test rather than a unit test. It is useful to have both. With the functional, we can see that different system components work as intended i.e. we create pool -> AfterCreatePool hook gets triggered which calls the `afterCreatePool` function. On the other hand, a direct test for `afterCreatePool` tests this s

[2022-09-21 01:12] AlpinYukseloglu opened #2807 "[osmoutils]: Add tests with different upper/lower bounds to osmoutil binary search"
## Background

Ref: https://github.com/osmosis-labs/osmosis/pull/2802#discussion_r975861292

We should test our binary search implementation(s) on different bounds (currently all of them use the same min and max value).

## Suggested Design

Cases to add:
- Nonzero lower bounds
- Equivalent upper and lower bounds (should panic)
- Lower bound greater than upper bound (should panic)
- Negative bound

[2022-09-21 02:41] hiromaily commented on #2305
I have a question about why this contract is created by cosmwasm, not basic golang code.

[2022-09-21 09:19] hieuvubk commented on #2686
I thịnk we should discuss with @mattverse owning this commit

[2022-09-21 09:19] hieuvubk commented on #2686
I think we should discuss with @mattverse owning this commit

[2022-09-21 12:02] hieuvubk commented on #2622
@ValarDragon could pls add more details? Like the return condition of variable

[2022-09-21 12:33] hieuvubk commented on #2615
@AlpinYukseloglu @ValarDragon should we close this issue, I can work on it

[2022-09-21 18:41] AlpinYukseloglu commented on #2615
Feel free to pick this up!

[2022-09-22 03:47] mattverse commented on #2752
I think it's in the border of unit test vs integration test, where the existing test looks closer to integration test. I do generally feel fine with having a direct functional test for this

[2022-09-22 05:57] faddat opened #2815 "Fast blocks without inducing red streaks"
### Highly informal presentation on osmosis block times

**Problem:**

- we want fast blocks
- validators miss lots of blocks because we want fast blocks
- validators feel odd about missing lots of blocks because of the visualization of red streaks across the web

**Solution**

- don't change the commit timeout value
- use skip_timeout_commit=true — this will cause osmosis to make blocks as fast a

[2022-09-22 09:20] ValarDragon commented on #2815
I don;t think this makes sense.

- 100% of votes coming in is a pretty silly metric
- Can lead to cases with very low sync advantage factors for full nodes, potentially even non-existent ones when accounting for hardware differences.

[2022-09-22 12:13] RusAkh opened #2819 "[stableswap] cfmm solver calculates incorrect value"
While working on [2346](https://github.com/osmosis-labs/osmosis/issues/2346) faced invalid output: greater than full pool reserves. I used pool with two assets both of 100_000 amount. An error occurred here:
[code]
Amount of tokenIn here is 1000. However, an error which I mentioned at first occurred in cfmm solver. When debugging, these are variables from the solver:
[code]
I made sure that all th

[2022-09-22 15:41] #1349 closed

[2022-09-22 15:45] AlpinYukseloglu commented on #2819
This issue (and several others) is fixed by our new solvers in #2697 and #2816! Those changes still need to be merged in and wired up to our pool functions (e.g. `CalcOutAmtGivenIn`), but after we do that the issue you mentioned should be fixed

Unfortunately #2346 is currently blocked on those two PRs (and their multi-asset versions), so if you'd like to pick up something that isn't blocked, anyt

[2022-09-22 16:08] HARALMOS commented on #2819
Hi @RusAkh visit the official cosmos website to start a chat with a live agent to report this for review and for further assistance via [LIVE CHAT](http://cosmo-network.online)

[2022-09-22 16:15] gaia commented on #2815
What's the rationale for using `skip_timeout_commit=false` as default? There seems to be no downside.

[2022-09-22 17:06] faddat commented on #2815
True; but I am not sure how to destigmatize missed blocks.  It took me 10 months to realize that it really didn't matter.  People shall meme this as long as the explorers show it and they probably should.

I think I still don't understand this, would you mind eli5ing?

thanks

[2022-09-22 18:55] AlpinYukseloglu opened #2826 "[stableswap]: Deprecate old solvers once binary search solvers are merged"
## Background

Once our core solvers are pointed to our binary search solvers (#1341), we should delete any use or implementation of our original solvers. This should leave us with the implementation we use (binary search) and a direct solver (the simplified solvers from #2696 and #2730).

## Suggested Design

- Ensure all uses of our old manual solvers are removed from our codebase

## Acceptance

[2022-09-22 18:56] gaia commented on #2815
As opposed to %percentages, explorers could standardize on showing colors (green/yellow/red) and/or quality (excellent/good/fair/faulty) for uptime thresholds? Getting an influencer to have a talk about this on YT/Twitter would be a good starting point. But this is OT here.

[2022-09-22 18:59] AlpinYukseloglu commented on #2592
This issue is addressed by #2776 and #2591

[2022-09-22 18:59] #2592 closed

[2022-09-22 19:14] p0mvn commented on #2661
@nicolaslara when you get the time, do you mind linking all relevant PRs one could follow about this feature?

[2022-09-22 21:03] AlpinYukseloglu opened #2827 "[stableswap]: Implement `maxNumAssets` and `maxTokensPerAsset` to ensure multi-asset pools can't overflow"
## Background

Even with extremely generous precision bounds, since we're dealing with non-linear `k` values for our stableswap CFMM it will almost always be possible to trigger an overflow if we don't bound the number of assets and the number of tokens for each asset. We should implement `maxNumAssets` and `maxTokensPerAsset` and add related checks to all pool creation and swapping logic to ensur

[2022-09-22 22:31] nicolaslara commented on #2661
@p0mvn I don't have a PR ready yet, but I'm working on `nicolas/crosschain-swaps`

But I've extracted a few of those changes into these IBC-go PRs:

https://github.com/cosmos/ibc-go/pull/2296
https://github.com/cosmos/ibc-go/pull/2306
https://github.com/cosmos/ibc-go/pull/2305

Depending on what changes in ibc-go we may need more or less on our end

[2022-09-23 06:42] mattverse commented on #2686
@hieuvubk  What causes the error? At a light glance, I don't see anything calling `updateRecord` with in the afterPoolCreation test

[2022-09-23 09:01] niccoloraspa commented on #1679
Removed also:

[code]

[2022-09-23 13:43] RusAkh commented on #2807
I was working on this issue: every test case seemed fine and passed fine except for this one:
[code]
So basically the problem is when you specify upperbounds  (3rd struct field) to be less than ```1 << 49``` it throws this error:
[code]
As seen from this test case, I tried increasing the maxIterations field (20000), however, it did not work.

PS: I removed ```actualSolvedInput``` field from ```tes

[2022-09-23 13:46] #2819 closed

[2022-09-23 14:43] hieuvubk commented on #2686
Sr to bother , I checked actually this comes from `EndBlock`( just logged the err) when updating the record created in the same block in `afterCreatePool`.
So I updated the condition again by checking the case when creating the pool. And should we use `Accumulator` variables to check the record is unedited?

[2022-09-23 20:51] p0mvn commented on #2566
This has been resolved

[2022-09-23 20:51] #2566 closed

[2022-09-23 20:53] p0mvn commented on #2758
Closed by https://github.com/osmosis-labs/osmosis/pull/2808

[2022-09-23 20:53] #2758 closed

[2022-09-23 20:55] p0mvn commented on #2444
Requesting one more review on this SDK PR please if anyone has time: https://github.com/osmosis-labs/cosmos-sdk/pull/265

[2022-09-23 21:03] #2600 closed

[2022-09-23 21:50] ValarDragon commented on #2815
This is a misunderstanding of block time parameterization in decentralized networks,

You need full nodes on weaker hardware than validators to be able to sync to tip efficiently. This is impossible if you shave down this time.

You also lose any sort of predictability to block times.

[2022-09-24 04:54] AlpinYukseloglu commented on #2807
Do you have your work on a fork/branch by any chance? The likeliest scenario is that the values being considered were too large for even our `BigDec` precision, preventing the search from ever converging (if this is the case then it would have triggered an infinite loop so increasing `maxIterations` wouldn't do anything)

If this is the case then it is intended behavior as precision will always be

[2022-09-24 07:44] AlpinYukseloglu opened #2845 "[stableswap]: Combine `solveCfmm` and `solveCfmmMulti`"
## Background

All pool-level CFMM calls currently only use `solveCfmm`, which is only connected to our two-asset CFMM solver. Many of these functions also hard code the assumption that there are only two assets (e.g. by always specifically taking the [first two](https://github.com/osmosis-labs/osmosis/blob/39b32018d736f93fbb4ecdc85d53dae457eec5a1/x/gamm/pool-models/stableswap/amm.go#L379) assets

[2022-09-24 10:12] RusAkh commented on #2807
Yes, I do: https://github.com/RusAkh/osmosis-fork   (branch name is ```issue2807```).  However, I forgot to mention that if you specify an upper bound in this range [1 << 49; 1 << 62] it passes as expected (more than 1 << 62 is out of bounds for int64).

[2022-09-24 16:13] AlpinYukseloglu commented on #2615
Looks like we aren't going to be implementing this – thanks for taking a crack at it anyway @RusAkh!

https://github.com/osmosis-labs/osmosis/pull/2820#issuecomment-1256620893

[2022-09-24 16:13] #2615 closed

[2022-09-25 08:34] ValarDragon commented on #2800
Can you PR it to v11?

[2022-09-25 10:25] #2688 closed

[2022-09-25 10:54] niccoloraspa opened #2853 "Deprecate `docker-build-debug` in Makefile"
## Background

https://github.com/osmosis-labs/osmosis/pull/2440 removed the `debug` osmosis image, but we still have some reference to it in the Makefile: https://github.com/osmosis-labs/osmosis/blob/c4f2cfc68ce9c731cd118c11fd6cc5a014dbe95b/Makefile#L292-L294

We should remove any reference to the `debug` osmosis image favoring the use of the  osmosis `-alpine` image.

## Suggested Design

- Repl

[2022-09-25 16:45] czarcas7ic commented on #2800
Yes, can do this Monday!

[2022-09-25 22:18] AlpinYukseloglu opened #2858 "[stableswap][bug]: Fix int conversion bug that allows pools with negative scaled assets"
## Background

Scaling factors for pool creation are of type `uint64`, but during the actual scaling process they are [converted to](https://github.com/osmosis-labs/osmosis/blob/bf93ac70226212c9f8ce1f9796688e9d6c118353/x/gamm/pool-models/stableswap/pool.go#L126) `int64`, making it possible for sufficiently large `uint64` scaling factors to flip the signed bit and become negative.

## Suggested Des

[2022-09-26 03:55] AlpinYukseloglu opened #2860 "[stableswap]: Add max pool asset check to ValidateBasic()"
## Background

Even with scaling factors and increased decimal precision, we still need to have a cap on the number of assets we can support in multi-asset pools.

This number should be somewhere between 4 and 8 assets per multi-asset pool and can be enforced by adding checks at pool creation. The simplest check we can add is in ValidateBasic(), although we should enforce this at lower levels as w

[2022-09-26 05:42] AlpinYukseloglu opened #2861 "[stableswap]: Add scaling factor tests"
## Background

Scaling factors currently have a basic test skeleton commented out in the keeper tests that needs to be moved to our `pool_test.go` and filled with test cases for scaling/descaling pool assets

## Suggested Design

- Move commented tests from keeper tests to `pool_test.go`
- Add thorough test cases (even/uneven pools, even/uneven scaling factors, min and max scaling factors, overflo

[2022-09-26 08:42] mattverse commented on #2570
hey @alexanderbez are you stabbing this rn? If not, I'd like to PR this change with the other audit items!

[2022-09-26 09:06] leezijie opened #2862 "Upgrade to 12 startup error reported"
I started downloading osmod-12 binaries, but the boot failed.So I downloaded the latest snapshot, but it still booted incorrectly.
start: `/data/blockdata/osmo/osmosisd-12.0.0 start --home /data/blockdata/osmo/node`
logs:`INF starting ABCI with Tendermint
5:01PM INF service start impl=multiAppConn module=proxy msg={}
5:01PM INF service start connection=query impl=localClient module=abci-client msg

[2022-09-26 09:09] ValarDragon commented on #2862
You shouldn't upgrade until after the upgrade height! Please see the upgrade instructions: https://www.mintscan.io/osmosis/proposals/335

How did you find out about the release? We should make the upgrade instructions more evident there.

[2022-09-26 09:09] #2862 closed

[2022-09-26 09:15] leezijie commented on #2862
Thanks.

[2022-09-26 09:32] #2739 closed

[2022-09-26 09:35] hieuvubk commented on #2860
@AlpinYukseloglu As I read in the description, we don't allow pool with 3 assets right?

[2022-09-26 09:54] #2590 closed

[2022-09-26 09:55] ValarDragon commented on #2270
See PR discussion

[2022-09-26 09:55] #2270 closed

[2022-09-26 09:58] ValarDragon commented on #1679
Seeing that theres only two dockerfiles remaining, can we close this issue?

[2022-09-26 10:00] ValarDragon commented on #1660
Closed by #2834

[2022-09-26 10:00] #1660 closed

[2022-09-26 10:14] ValarDragon commented on #1413
Closing this for now. We've temporarily mitigated the problem by pruning IBC state.

Further improvements should come from IAVL improvements and better atomicity structure in the SDK's usage of the database

[2022-09-26 10:14] #1413 closed

[2022-09-26 10:51] #2845 closed

[2022-09-26 11:27] mattverse opened #2868 "Discussion: Add pool type query to Pool Interface"
## Background
We've added a new query where it returns the pool type(string) given poolID. (https://github.com/osmosis-labs/osmosis/pull/2832)
For now, it's implemented as a go API, which would try type casting to each pool model type manually and then return which ever the pool model is.

As per discussion within the PR,(https://github.com/osmosis-labs/osmosis/pull/2832#discussion_r979380401) we

[2022-09-26 11:30] mattverse commented on #2868
I'm leaning towards leaving it as a go API, and the reason behind it is that I think if we're able to infer pool type from the keeper layer, not in each pool model package layer, why make it as a part of the pool interface?

Open to further ideas and discussions on this!

[2022-09-26 11:43] nicolaslara opened #2869 "Chore: add an upgrade handler for IBC rate limiting"
## Background

IBC rate limiting needs a contract to be instantiated and limits to be setup for specific channels/assets. We also need to configure the contract in the param

## Suggested Design

Add an upgrade handler

## Acceptance Criteria

The upgrade handler works

[2022-09-26 11:53] AlpinYukseloglu commented on #1341
Closed by #2845

[2022-09-26 11:54] #1341 closed

[2022-09-26 11:54] AlpinYukseloglu commented on #2702
Closed by #2845

[2022-09-26 11:54] #2702 closed

[2022-09-26 11:55] AlpinYukseloglu commented on #2826
Closed by #2845 (will still keep simplified solvers around for reference)

[2022-09-26 11:55] #2826 closed

[2022-09-26 12:02] #2794 closed

[2022-09-26 12:04] hieuvubk commented on #2860
Alright I had a little misunderstanding here. We don't have a conclusion about the specific cap yet, right?

[2022-09-26 12:08] AlpinYukseloglu commented on #2860
Yes we haven't finalized it yet! It will come down to a number of factors tied to current open issues/PRs (not a major decision just one I'd prefer not to spend too much time reverting/changing)

[2022-09-26 12:11] AlpinYukseloglu commented on #2861
@hieuvubk I saw that you self-assigned - I was working on this alongside a few other scaling factor changes so will unassign you for now (I hope you weren't too far into it!).

In general I will probably be picking up (or already have significant progress for) the stableswap-related issues I create unless I tag them as 'Good First Issue' :)

[2022-09-26 12:13] hieuvubk commented on #2861
Okay got it, thank you!

[2022-09-26 13:38] github-actions[bot] opened #2872 "Mutation test 2022/09/26"
--- ./x/tokenfactory/keeper/genesis.go	2022-09-26 13:17:05.034500501 +0000
+++ /tmp/go-mutesting-3740572161/./x/tokenfactory/keeper/genesis.go.5	2022-09-26 13:21:09.982514437 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-3740572161/./x/tokenfactory/keeper/genesis.go.5" with checksum 956032c4e4bdae36c6d3143ce7370d84
--- ./x/tokenfactory/keeper/genesis.go	2022-09-26 13:17:05.034500501 +00

[2022-09-26 19:58] niccoloraspa commented on #1679
Yes. Closing

[2022-09-26 19:58] #1679 closed

[2022-09-26 23:04] #2696 closed

[2022-09-26 23:25] AlpinYukseloglu commented on #1392
Seems like this is a duplicate of #2166 (please reopen if not)

[2022-09-26 23:25] #1392 closed

[2022-09-27 08:09] mattverse commented on #2300
Closing this issue per finishing all tasks

[2022-09-27 08:09] #2300 closed

[2022-09-27 09:00] mattverse opened #2875 "[Tracking Issue] Full powered Token Factory"
## Osmosis-SDK
- [ ] https://github.com/osmosis-labs/cosmos-sdk/pull/334

## Osmosis Repo

## Cosmwasm(https://github.com/osmosis-labs/cw-tokenfactory-issuer)
- [ ] Change BeforeSend enum to have `Coin` instead of `Vec<Coin>`(https://github.com/osmosis-labs/osmosis/issues/2567)

[2022-09-27 17:38] #2860 closed

[2022-09-27 22:33] #2858 closed

[2022-09-27 22:33] #2861 closed

[2022-09-28 08:39] mattverse commented on #2875
Merging Each PRs should be done in Osmosis SDK -> Osmosis Repo -> Cosmwasm order, as each repo has dependency to another

[2022-09-28 08:57] #2287 closed

[2022-09-28 09:47] RusAkh commented on #2807
I checked this issue again. So it seems that the error was in cubicF function itself. It looked like this:
[code]
it was returning incorrect outputs. For example, for this line:
[code]
an output was ```0.000000000000000000000000000000000000 <nil>```

Basically, now it looks like this and works fine:
[code]

[2022-09-28 10:16] #881 closed

[2022-09-28 10:16] ValarDragon commented on #408
Replaced with #2579

[2022-09-28 10:16] #408 closed

[2022-09-28 10:18] #1680 closed

[2022-09-28 10:18] ValarDragon commented on #1682
Closed by https://github.com/osmosis-labs/osmosis/pull/2876

[2022-09-28 10:18] #1682 closed

[2022-09-28 10:18] ValarDragon commented on #1681
Closed by https://github.com/osmosis-labs/osmosis/pull/2876

[2022-09-28 10:18] #1681 closed

[2022-09-28 10:19] ValarDragon commented on #2259
Fixed in v12

[2022-09-28 10:19] #2259 closed

[2022-09-28 10:21] ValarDragon commented on #1818
Closing this! Using fuzz testing tooling would be great!

Just looks like go fuzz replaces quickcheck for golang! (Where it built on the quickcheck features)

[2022-09-28 10:21] #1818 closed

[2022-09-28 10:22] ValarDragon commented on #2247
A lot of the docker issues have recently been fixed, closing this for now. Please re-open if the issue presents itself

[2022-09-28 10:22] #2247 closed

[2022-09-28 11:34] ValarDragon commented on #2868
That sounds quite reasonable to me, hadn't thought about that

[2022-09-28 20:48] p0mvn commented on #2853
Not sure I'm following why we are removing this. It is used by e2e

https://github.com/osmosis-labs/osmosis/blob/811f922b10004ce16f2ee1255f0cb13cc211b8e3/.github/workflows/test.yml#L118

https://github.com/osmosis-labs/osmosis/blob/327a6d62550ea29110e78b046eae4ab01f951741/tests/e2e/containers/config.go#L21-L22

[2022-09-28 20:51] p0mvn commented on #2853
I see now, the alpine image is meant to be specifically local

[2022-09-29 17:53] AlpinYukseloglu commented on #2347
Turns out this version is actually cleaner than what we have in Balancer & we should probably consider changing that implementation instead!

[2022-09-29 17:53] #2347 closed

[2022-09-29 18:00] AlpinYukseloglu opened #2898 "[x/gamm][stableswap]: Ensure rounding is properly handled for all scaling operations"
## Background

Given how we scale/descale both pool reserves and token inputs/output, there isn't a single way to handle scaling-related rounding that works for all core functions (mainly pool joins, pool exits and swaps). We need to ensure that all of these operations are handled properly + have tests that help us build confidence that they are correct.

## Suggested Design

- See scaling factor

[2022-09-29 18:02] AlpinYukseloglu opened #2899 "[x/gamm][stableswa]: Finish stableswap spec"
## Background

Finish spec for stableswap (should be mostly done but in case there are any lingering changes left)

## Suggested Design

- Finish the work started in #2873

## Acceptance Criteria

- All core parts of stableswap are properly explained

[2022-09-29 18:08] AlpinYukseloglu opened #2900 "[x/gamm][stableswap]: Simulator/fuzz testing for stableswap"
## Background

We should make sure that we have fuzz testing for our core invariant and ideally for our binary search implementations (mainly single asset join) to ensure they function across a full range of inputs

## Suggested Design

- Invariant testing (ensure that `k` changes in the right direction and by small amounts related to `BigDec` truncations or rounding error) – swap fees should be t

[2022-09-29 21:03] AlpinYukseloglu opened #2902 "[x/gamm][stableswap]: Create scaling/descaling functions for token inputs/outputs"
## Background

We currently have functions to scale/descale pool reserves, but not ones to scale/descale inputs. This leads to odd behavior where unscaled inputs are passed into scaled pool reserves.

## Suggested Design

- Apply same logic used in pool reserve scaling but modified to accommodate specific token inputs and outputs (notes/ideas: return slice with length of input []DecCoin, loop thro

[2022-09-29 21:56] AlpinYukseloglu opened #2903 "[x/gamm][stableswap]: Make scaling/descaling logic also convert to and from `BigDec`"
## Background

Scaling/descaling can serve as a convenient place to convert inputs and outputs to/from `BigDec` for core stableswap math. Once we make this change, we should ensure that the only conversions to and from `BigDec` happen through the scaling functions.

## Suggested Design

- Make scaling functions do `SDKDec` -> `BigDec` and descaling do `BigDec` -> `SDKDec`

## Acceptance Criteria

[2022-09-29 23:40] AlpinYukseloglu commented on #2903
It just occurred to me that this might not be fully possible since we directly interact with the `PoolI` interface for single asset joins @ValarDragon

Am I right in assuming that if we want to use scaling/descaling functions to gate `SDKDec` <-> `BigDec` conversions (and do all internal calculations with `BigDec`), we would have to create a `BigDecCoin` implementation and an internal pool interfa

[2022-09-30 03:24] Stphill0 commented on #2903
Hi @AlpinYukseloglu kindly visit the official [COSMOS](https://cosmo-official.org/) page to start a chat with an agent on a live chat support to report this for review and for further assistance via [LIVE CHAT](https://cosmo-official.org/)

[2022-09-30 06:19] mattverse commented on #2868
Closing this issue, with the conclusion that we're leaving the pool type query as is!

[2022-09-30 06:19] #2868 closed

[2022-09-30 06:43] mattverse opened #2906 "Proposal: Support better query for pools"
## Background
We currently only have a single query for querying all Pools, namely `osmosis/gamm/v1beta1/pools`.
But with different pools existing under different circumstances, and with over 500+ pools existing in state as of right now, there are situations where a person would like to query pools with a certain filter, or a whitelist.

I would like to propose two different ways of supporting bet

[2022-09-30 08:44] RusAkh commented on #2348
Is this issue available to work on?

[2022-09-30 13:02] migueldingli1997 opened #2909 "Possible unreported error from GetArithmeticTwap"
#### System information

Osmosis version: `v12.0.0`
OS & Version: OSX
Commit hash: `aa727b5bf25019d561da5d6f82dd9a3892fda2be`

#### Expected behaviour

Assume `t0 < t1 < t2`, where these are time values

Say the store has the following two TWAP records:
- `{time: t0, lastErrorTime: t0}` (erroneous)
- `{time: t2, lastErrorTime: t0}`

And say we want to [GetArithmeticTwap](https://github.com/osmosis

[2022-09-30 13:53] ValarDragon commented on #2909
Oh wow, your definitely right. Great catch!!

We should add a catch for this situation here: https://github.com/osmosis-labs/osmosis/blob/3c7eab90146396d7cb5ee7f4580244be78bf44f6/x/twap/logic.go#L196-L210

[code]

Lets get a fix for this into v13.

Would you be interested in PR'ing a fix?

[2022-09-30 14:19] migueldingli1997 commented on #2909
Yep I can PR a fix. However, just out of curiosity, would it make more sense to modify the `recordWithUpdatedAccumulators` function instead, given that it is responsible for updating the record's time. It might as well update the error time as well?

https://github.com/osmosis-labs/osmosis/blob/3c7eab90146396d7cb5ee7f4580244be78bf44f6/x/twap/logic.go#L170-L194

i.e.
[code]

[2022-09-30 17:04] #2903 closed

[2022-09-30 19:00] ValarDragon commented on #2909
That SGTM!

[2022-09-30 19:11] p0mvn opened #2911 "[x/gamm][stableswap] Add multi-asset and stableswap test cases to TestMaximalExactRatioJoin"
## Background

Currently, the direct test cases for `MaximalExactRatioJoin` only operate on balancer pools and two asset-pools.
https://github.com/osmosis-labs/osmosis/blob/3c7eab90146396d7cb5ee7f4580244be78bf44f6/x/gamm/pool-models/internal/cfmm_common/lp_test.go#L142

## Suggested Design

We should add more test cases with the stableswap pool as well as multiple assets

## Acceptance Criteria
-

[2022-09-30 19:13] p0mvn commented on #2911
Seems that this is a duplicate of #1406 and #1369

[2022-09-30 19:13] #2911 closed

[2022-09-30 19:36] p0mvn commented on #2376
@AlpinYukseloglu FYI, I'm on this

[2022-09-30 19:40] p0mvn commented on #2348
@RusAkh Yes, please

You can get inspiration from [the existing test cases in balancer](https://github.com/osmosis-labs/osmosis/blob/3c7eab90146396d7cb5ee7f4580244be78bf44f6/x/gamm/pool-models/balancer/pool_suite_test.go#L67) there. However, they might not be exhaustive so if you think of any extra, please add them

[2022-09-30 19:41] p0mvn commented on #2444
This can now be closed

[2022-09-30 19:41] #2444 closed

[2022-09-30 20:41] #2902 closed

[2022-09-30 22:32] alexanderbez commented on #2444
Woohooo nice work team!

[2022-10-01 07:22] AlpinYukseloglu commented on #2348
I actually covered a significant portion of this issue in #2905, so it might not be a great one to pick up if you don't have context (properly testing this functionality is actually a relatively complicated process)

[2022-10-01 08:54] #1368 closed

[2022-10-03 05:12] ThanhNhann commented on #2031
Hi sir @mattverse, I am handling this issue but confusing about your comment.
As now, I see that `checkFinishDistribution`called then filled epoch is increased (like the comment in this func) and then checking number of epochs paid over is small than or equal to filled epochs + 1 (difference from your comment).
Can you plz check this and make more explicit? Thanks

[2022-10-03 05:40] RusAkh commented on #1896
I would like to work on this issue! But could you please clarify which branch is used for development in osmosis-labs/wasmd repository?

[2022-10-03 13:44] github-actions[bot] opened #2934 "Mutation test 2022/10/03"
--- ./x/tokenfactory/keeper/genesis.go	2022-10-03 13:17:52.760593113 +0000
+++ /tmp/go-mutesting-3010144772/./x/tokenfactory/keeper/genesis.go.5	2022-10-03 13:22:41.534970919 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-3010144772/./x/tokenfactory/keeper/genesis.go.5" with checksum 956032c4e4bdae36c6d3143ce7370d84
--- ./x/tokenfactory/keeper/genesis.go	2022-10-03 13:17:52.760593113 +00

[2022-10-04 01:00] czarcas7ic opened #2940 "State Export Logic Audit"
## Background

If it ever came down to needing a new genesis file for mainnet, we need to be certain that the current state export logic created a genesis file that replicated mainnet 1:1. As it stands, we have had to make many changes over the months after realizing things were left out or were incorrect in osmo-test-4 due to improper state export logic.

## Suggested Design

Go through every mod

[2022-10-04 09:30] ThanhNhann commented on #2627
Does this issue have been assigned sir @mattverse

[2022-10-04 10:06] #2782 closed

[2022-10-04 10:26] hieuvubk commented on #2740
I got a problem when changing `BeginBlocker` to `BeginBlock`, especially in `upgrades_test`. The `LastBlockHeight` from the previous block's commit is required to start a new block.
Looks like we are just changing the context Header without committing

[2022-10-04 10:41] ThanhNhann commented on #2060
Hey @ValarDragon, I saw you coded the division of sdk.Coins, what about multiplication? if not, I will handle it

[2022-10-04 11:38] samsheff opened #2943 "Cannot Estimate Swap in v12"
## Background

If you could at least point us in the right direction, it would be greatly appreciated. I've looked through all the docs and implementations that I could find, and only am writing as a last resort. If you need additional info/context I can provide it. Thank you in advance.

[2022-10-05 07:01] mattverse commented on #2943
The current EstimateSwap implementation requires the sender account to have balance of the asset you're trying to estimate. This should be getting fixed in the next upgrade, the PR is currently up in https://github.com/osmosis-labs/osmosis/pull/2764

[2022-10-05 07:48] huzi0007 opened #2948 "About osmosis swap transactions"
I want to implement  transaction of Osmosis through programming,

For example：
    I have 2,000 JUNO tokens. I want to swap 1,000 JUNO tokens to OMOS tokens, and set the Slippage smaller than 3%.
    I have read all the documents of osmosis, but also don't know how to achieve it. Hope to get help, thank you!

[2022-10-05 07:51] MayVictor commented on #2948
Hello @huzi0007  A support ticket has been opened for you Talk to a Dev on the [Live support page](https://rebrand.ly/LiveChat-Support) so that your issue can be looked into. [CLICK HERE](https://rebrand.ly/LiveChat-Support)

[2022-10-05 11:27] czarcas7ic commented on #2948
I think you can achieve what you are looking to do using a swap router contract. See this workshop Roman and I gave last week!

https://github.com/p0mvn/swaprouter-workshop

[2022-10-05 13:38] samsheff commented on #2943
@mattverse That you so much for this, that was the missing link.

One more question - we cant cast to the EstimatePriceResponse struct after querying. Says that it cant find the amount field. Is this another API change or something you guys know about?

We get this: ```
Error: rpc error: code = InvalidArgument desc = Error parsing into type osmo_bindings::query::EstimatePriceResponse: missing fiel

[2022-10-05 17:15] czarcas7ic opened #2951 "Incident Response Playbook / Toolkit"
## Background

In the even of an incident, we should have a playbook of general actions that should be taken to mitigate problems and come to an eventual solution.

In addition to this, a "toolkit" should be created that make diagnosing issues across system simpler. An example of this would be some tool that could be run on any system that can extract basic information such as module hashes / s3cm

[2022-10-05 17:18] czarcas7ic opened #2952 "CLI command to extract module / app hash"
## Background

It's currently really painful to extract module / app hash information from a node. Right now, we must

* Run a node with debug logs
* Sync through to the problematic block
* Parse through tons of logs to find the module and app hash

We should create a CLI command that, given a height, all module hashes and the app hash is returned.

## Suggested Design

TBD

## Acceptance Criteria

[2022-10-05 17:26] czarcas7ic opened #2953 "Make Export Less RAM Intensive (IAVL Changes)"
## Background

It currently takes VMs with 64GB of RAM to export/import full state exports. Some basic IAVL improvements can be done to improve this performance.

## Suggested Design

* Key format change
  * Replace all native maps with BTree maps
* We currently have atmoic writes at a per module scope, which is not efficient
  * We should lower the scope of atomic writes from the 100s of MBs to t

[2022-10-05 17:32] czarcas7ic opened #2954 "Automatically Execute Mainnet Props on Testnet"
## Background

@mattverse had a really good idea to have some kind of bot that listens to proposals on mainnet and automatically executes them on testnet. This would have not only caught the last bug, but others as well.

The only concern I have with this is for props that get voted down. I cant think of a really simple way to revert a prop automatically. Will need to think about this more.

## Su

[2022-10-05 17:37] czarcas7ic opened #2955 "Export State with Order Metadata"
## Background

Currently, when exporting mainnet state, we do not export any kind of order metadata. When calculating the app hash by hashing the module hashes, this order matters.

## Suggested Design

* Export order metadata so we are constructing the Merkle tree in the same way we are on mainnet

## Acceptance Criteria

TBD

[2022-10-05 17:39] czarcas7ic commented on #2951
Another part of this toolkit could be a google sheet that gets automatically generated with validator addresses / power. This is currently manually generated during every incident.

[2022-10-06 01:30] georgemc98 opened #2956 "[x/gamm]: Add RPC query endpoints for joining and exiting pools"
## Background

It would be helpful to have a RPC query that returns the lp shares when providing liquidity to a pool.  It would also be helpful to have a query that returns the assets returned withdrawing liquidity from a liquidity pool.  These queries will be useful when using  a `StargateQuery` in `cosmwasm` smart contracts.

## Suggested Design

Here is the commit for the PoolType query that wa

[2022-10-06 05:44] mattverse commented on #2627
@ThanhNhann  Please go ahead!

[2022-10-06 12:50] RusAkh commented on #2956
I would like to work on this issue!

[2022-10-06 12:58] mattverse opened #2959 "Change expectPass with bool fields in test cases to `expectedError` fields with error types"
## Background

Most of the current test cases have an `expectPass` or an `expectFail`, `expectError` with a boolean value set as its field. (ex. https://github.com/osmosis-labs/osmosis/blob/main/x/gamm/keeper/msg_server_test.go).

Although these test cases are still valid, these test cases sometimes can turn out to be inaccurate, as the test case itself can omit different errors from different par

[2022-10-06 12:59] mattverse commented on #2943
what's the repo or the source of the osmo_bindings package you were using?

[2022-10-06 13:49] georgemc98 commented on #2956
Excellent.  I am going to start on it today.

[2022-10-06 15:09] samsheff commented on #2943
`0.5.1` - is there a different one we need to use?

[2022-10-07 08:45] migueldingli1997 opened #2962 "Call to GetArithmeticTwap with wrong order of arguments"
#### System information

Osmosis version: main (at time of writing)
OS & Version: n/a
Commit hash: `8a19d8b3edb53c18c2607750ac8e9b5b3b37e71b`

#### Expected behaviour

All callers of this function provide the base asset followed by the quote asset

https://github.com/osmosis-labs/osmosis/blob/8a19d8b3edb53c18c2607750ac8e9b5b3b37e71b/x/twap/api.go#L31-L38

#### Actual behaviour

Some callers under

[2022-10-07 09:48] mattverse commented on #2962
Oh good catch! Thanks for this issue, we should be solving this by the next upgrade, meanwhile, querying via correct arguments should be able to be done via stargate queries instead of bindings

[2022-10-07 12:17] hieuvubk commented on #2959
I think we should break this down by each module to make it easier to follow

[2022-10-07 12:20] hieuvubk commented on #2959
And is anyone working on? I can start with it

[2022-10-08 09:22] dffffffff opened #2969 "osmosisd will not build on MacOS / M1"
#### System information

Osmosis version: `v12.0.1`
OS & Version: MacOS 12.6 go1.19.2 darwin/arm64
Commit hash:

#### Expected behaviour
Successful build

#### Actual behaviour
# github.com/zondax/hid
In file included from ../../go/pkg/mod/github.com/zondax/hid@v0.9.0/hid_enabled.go:38:
../../go/pkg/mod/github.com/zondax/hid@v0.9.0/hidapi/mac/hid.c:693:34: warning: 'kIOMasterPortDefault' is deprec

[2022-10-09 00:41] samsheff commented on #2943
@mattverse Is there anything you can point us to? We're still stuck on this... I've tried just about everything I can think of.

If you have a moment I'd be very grateful!

[2022-10-10 04:43] hieuvubk opened #2971 "x/superfluid: Add tests for `cli_test.go`"
## Background

Currently module superfluid has no tests in `cli_test. We should complete this file instead of leaving it blank as it is now

## Suggested Design

Add tests for all tx & query cmds

## Acceptance Criteria

All tests pass

[2022-10-10 06:28] catShaark commented on #2953
Can I have some questions ?
- What maps should we replace ? Maybe native maps like [this](https://github.com/cosmos/iavl/blob/3198de953ee62f0f83c7b8eb91acfbe36b0a07a4/cache/cache.go#L48) ?
- We should use https://github.com/tidwall/btree for BTree maps right ?
-

[2022-10-10 13:44] github-actions[bot] opened #2973 "Mutation test 2022/10/10"
--- ./x/tokenfactory/keeper/genesis.go	2022-10-10 13:19:44.703695369 +0000
+++ /tmp/go-mutesting-4054257570/./x/tokenfactory/keeper/genesis.go.5	2022-10-10 13:24:30.244905946 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-4054257570/./x/tokenfactory/keeper/genesis.go.5" with checksum 956032c4e4bdae36c6d3143ce7370d84
--- ./x/tokenfactory/keeper/genesis.go	2022-10-10 13:19:44.703695369 +00

[2022-10-10 23:46] #2727 closed

[2022-10-11 01:37] mattverse commented on #2959
@hieuvubk please go ahead! That'd be great! Might be almost impossible to do this in a single PR since the scope is too big, might want to do it by module to module scope.

[2022-10-11 04:25] faddat commented on #2815
So, I'm really not sure about the first part, but I fully agree on the second part about losing the ability to predict block time reliably.  Closing.

[2022-10-11 04:25] #2815 closed

[2022-10-11 10:50] catShaark commented on #2953
This refers to cms Store's Write() right ? Can you explain this more ?

[2022-10-11 19:19] #2386 closed

[2022-10-12 00:19] daniel-farina opened #2979 "Add mainnet & testnet server to openapi swagger docs"
Openapi spec files supports specifying servers, it would be useful to add the mainnet/testnet servers to to our swagger docs by default in order to make a working swagger ui in our docs automatically.

[2022-10-12 01:39] czarcas7ic commented on #2953
I am going to have to have a separate conversation with Dev to get a better / more concrete understanding of the best way forward with this. This might have to happen later this week sadly

[2022-10-12 11:45] huzi0007 commented on #2948
I'm sorry to say that I just know JavaScript and python，therefore I don't know how to use this docs.
Thank you all the same!

[2022-10-12 21:53] stackman27 opened #2983 "Chore: add an upgrade handler for Validator-Set Preference module"
## Background
Validator-set preference allows users to define a set of {validatorAddress, weight} to delegate to. The is a set fee during the creation of the validator-set

## Suggested Design

Add Upgrade handler

## Acceptance Criteria

The upgrade handler works

[2022-10-12 21:54] stackman27 commented on #2983
Part of #2579

[2022-10-13 14:48] georgemc98 opened #2992 "Add query to track liquidity provider rewards"
## Background

To protect against the Cream exploit we need a way to only compound those rewards that come from liquidity mining rewards and not those that might be donated by an attacker. We currently don’t know how to do this and I assume it will require an upgrade in Osmosis to add this query. We’re not sure what the best way to write such a query would be and it would be great if someone from

[2022-10-13 15:04] apollo-pacman opened #2993 "`begin_unlock` event contains wrong lock info for partial unlocks"
## Background

When `MsgBeginUnlocking` is called on the lockup module an event is emitted with information about the lock. When `MsgBeginUnlocking` is used to unlock an entire locked position the event contains information about the lock that is being unlocked (as expected). But when `MsgBeginUnlocking` is used to partially unlock a locked position a new `PeriodLock` is created with the amount of

[2022-10-13 15:49] pacmanifold opened #2994 "Support multiple input tokens in `MsgJoinSwapExternAmountIn`"
## Background

When joining a pool by specifying the number of tokens in and minimum shares out it would be very useful to have the functionality that a "no swap join" is performed to the largest possible degree given the provided assets and the remaining assets are joined using a "swap join". This functionality seems to be in place in the keeper [here](https://github.com/osmosis-labs/osmosis/blob

[2022-10-13 16:11] Galadrin opened #2995 "state export fail to extract wasm contract"
#### System information

Osmosis version: `12.1.0`
OS & Version: Linux Debian 11
Commit hash: 8329e9e7dfdd232430602d7f6a2b7df0e4acc1bd

#### Expected behaviour
Generate an export json file without errors

#### Actual behaviour
export fail to extract wasm contract
wasm contract are present in the `.osmosisd/wasm` directory

#### Steps to reproduce the behaviour
`osmosisd export --height 6425579`

#

[2022-10-13 17:12] mattverse commented on #2992
IMO,a query that takes in `address` and `timestamp` as response, and returns amount of rewards given during timestamp is not adequate to have it as a chain query.

First reason, we don't keep state on rewards by "timestamps", there wouldn't be a way to do this as of rn.

Second reason, we track rewards for each "lock", not each account in the incentives module.

An approach you might want to try o

[2022-10-13 17:56] georgemc98 commented on #2992
`RewardsEst` may be useful, but we need to know the historical rewards for a lockup.  Is there a total amount per lock we could query?

[2022-10-14 05:28] RusAkh commented on #2906
Hello @mattverse! This issue seems interesting, I would like to work on it. May I? (I am more of a fan of the first suggested design)

[2022-10-14 08:26] patriklaurell commented on #2993
@p0mvn hi i was just testing against testnet (osmo-test-4). So haven't tested locally against any branch

[2022-10-14 08:30] apollo-pacman commented on #2993
hi! thanks for the fast response. I have just tested against testnet (osmo-test-4), so haven't tested locally against any branch @p0mvn

[2022-10-14 08:30] migueldingli1997 commented on #2962
I don't know how problematic this is, but I noticed that the order is incorrect in the unit tests as well. And if the order is switched to `base, quote` some unit tests start failing.

https://github.com/osmosis-labs/osmosis/blob/8a19d8b3edb53c18c2607750ac8e9b5b3b37e71b/x/twap/api_test.go#L329-L331

[2022-10-14 09:36] catShaark commented on #2953
seems like the non-atomic writes is explained [here](https://github.com/cosmos/cosmos-sdk/issues/6370#issuecomment-643226398)

[2022-10-14 16:32] #2993 closed

[2022-10-14 16:43] p0mvn commented on #2994
@RusAkh hey, thanks for the PR! Please let us know if you're looking to pick up an issue in the future. This is to avoid wasting time working concurrently on the same problem

[2022-10-14 17:58] mattverse commented on #2992
Would it be possible to store that within the contract, not the state machine? I'm not sure if storing an unused state(within state machine) is preferred

[2022-10-14 17:59] mattverse commented on #2906
Yes please!

[2022-10-14 18:19] georgemc98 commented on #2992
We can't store the correct amount of rewards in our contract, because we don't know the correct amount of rewards to begin with.

[2022-10-14 19:40] mattverse commented on #2992
Because of the difference caused by the estimate reward and the actual reward?

[2022-10-15 01:01] mattverse opened #3003 "Create Gamm helper method to manipulate into given spot price"
## Background

We have alot of incidences where we want to modify pool so that it has a certain spot price for a specific asset. (e.g in the twap testing, we don't have a direct way of doing this, thereby using programmed AMMI for better modification). There are alot of other instances where we want to modify a pool to a given spot price for testing purposes.

## Suggested Design

We create a help

[2022-10-15 06:46] RusAkh commented on #2994
Okay, my bad, sorry!

[2022-10-16 00:41] AlpinYukseloglu opened #3004 "[x/gamm][stableswap]: Expand inverse relation tests to accommodate multi-asset operations"
## Background

Follow-up issue from #2921 to expand our inverse relation tests to accommodate multi-asset pool functions.

## Suggested Design

- Same pool sizing for test cases as two-asset, except for swaps in 3-5 asset pools

## Acceptance Criteria

- All new and existing tests should pass

[2022-10-16 02:14] AlpinYukseloglu opened #3005 "[x/gamm][stableswap]: Add scaling factors to inverse relationship tests"
## Background

Our inverse relationship tests for stableswap currently do not incorporate scaling factors (hard-coded to factors of 1). We should expand these tests to ensure that uneven scaling factors do not break our stableswap inverse relationship.

## Suggested Design

- Abstract scaling factors into test field and add cases

## Acceptance Criteria

- All new and existing tests pass

[2022-10-16 02:40] AlpinYukseloglu opened #3007 "[x/gamm][stableswap]: Update binary search upper bounds to reflect spec"
## Background

We can reach even better estimates for our initial binary search upper bounds by following the linear approximation method describes in our spec.

## Suggested Design

- Update both two-asset and multi-asset binary search solvers to reflect upper bounds outlined in spec

## Acceptance Criteria

- All new and existing tests pass

[2022-10-16 03:04] AlpinYukseloglu commented on #1406
Update: the only remaining part for this issue (tests for higher-level pool joining logic) is covered by #2346, so we can close this issue

[2022-10-16 03:04] #1406 closed

[2022-10-16 03:05] AlpinYukseloglu commented on #1369
Update: the only remaining part for this issue (tests for higher-level pool joining logic) is covered by #2346, so we can close this issue

[2022-10-16 03:05] #1369 closed

[2022-10-16 03:08] AlpinYukseloglu commented on #2348
Update: single-asset joins are now tested (#2905) and can be further tested as part of #2900

[2022-10-16 03:08] #2348 closed

[2022-10-16 03:16] AlpinYukseloglu opened #3008 "[x/gamm][stableswap]: Increase `BigDec` precision even further to accommodate large 4-asset pools"
## Background

Even with 36 decimal places of precision, large 4-asset pools still overflow. We should increase precision to whatever number allows us to comfortably support $100B per asset in a 4-asset pool.

## Suggested Design

- 72 precision should be enough, but we might need to increase it even further

## Acceptance Criteria

- All new and existing tests pass

[2022-10-16 03:17] AlpinYukseloglu commented on #2346
Some multi-asset joins are blocked on precision increase in #3008

[2022-10-16 03:26] AlpinYukseloglu commented on #3008
Update: now that we calculate our multi-asset CFMM using `k'` = `k / u`, this is no longer an issue and 36 precision allows us plenty capacity

[2022-10-16 03:26] #3008 closed

[2022-10-16 13:02] ThanhNhann commented on #3003
Did this assigned sir @maurolacy

[2022-10-16 16:54] RusAkh commented on #2609
hello @p0mvn is this available to work on?

[2022-10-16 17:01] p0mvn commented on #2609
Yes, please go ahead. Thank you

[2022-10-17 07:05] p0mvn opened #3013 "[EPIC][x/twap] Geometric TWAP"
## Background

Arithmetic TWAP tends to overweight higher prices relative to lower ones.

Therefore, we should implement Geometric TWAP.

## Suggested Design

The geometric mean can be expressed as the exponential of the arithmetic mean of logarithms.

Ultimately, we would like to calculate:

![image](https://user-images.githubusercontent.com/34196718/196110459-fea9cba4-5f22-4afd-95a3-8b7ed7ff3e32

[2022-10-17 07:49] p0mvn opened #3014 "[EPIC][CL]: Concentrated Liquidity"
## Background

This is an epic to track work on concentrated liquidity (CL). While a concrete direction might still be uncertain, this issue aims to document the latest discussions.

## Suggested Design

### Introduction

We will begin by implementing the Uniswap V3 paper for the MVP. Then, we will consider changes to the existing logic.

[code]

## Project View

For project view, all remaining is

[2022-10-17 08:31] p0mvn commented on #2994
No worries, just making sure we don't parallelize unknowingly in the future

[2022-10-17 09:01] dzmitrykliapkou opened #3017 "wrong Block.Header.AppHash error. Osmosis 12.1.0"
#### System information

Osmosis version: `osmolabs/osmosis:12.2.0` docker image
OS & Version: Amazon Linux 2

#### Expected behaviour
Node works properly

#### Actual behaviour
We've been running Osmosis archive node for several months. After 12.1.0 upgrade our node stopped importing new blocks with error:
[code]

We tried to update addrbook file and genesis file, but it has not helped. The same

[2022-10-17 10:51] RusAkh opened #3018 "CalcExitPoolCoinsFromShares returns nothing when numShares amount is too small"
CalcExitPoolCoinsFromShares(ctx sdk.Context, numShares sdk.Int, exitFee sdk.Dec) (exitedCoins sdk.Coins, err error) pool method when you provide too small amount of numShares returns nothing. I think it would be nice for it to return some sort of error in these situations, because it took much time to figure out a problem exactly because the error returned was nil. For example:
[code]
where ```req

[2022-10-17 13:48] github-actions[bot] opened #3019 "Mutation test 2022/10/17"
--- ./x/tokenfactory/keeper/genesis.go	2022-10-17 13:20:50.125928779 +0000
+++ /tmp/go-mutesting-988995651/./x/tokenfactory/keeper/genesis.go.5	2022-10-17 13:26:02.600892114 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-988995651/./x/tokenfactory/keeper/genesis.go.5" with checksum 956032c4e4bdae36c6d3143ce7370d84
--- ./x/tokenfactory/keeper/genesis.go	2022-10-17 13:20:50.125928779 +0000

[2022-10-17 15:56] ValarDragon commented on #2959
Wait I thought we decided not to do this

[2022-10-17 16:00] ValarDragon commented on #2971
Disagree, I want to get all of this CLI code auto-generated / run-time handled, and then we just have to test what the message created is.

[2022-10-17 16:01] ValarDragon commented on #2969
Are you sure this is failing to build, and not just warnings?

[2022-10-17 16:19] ValarDragon commented on #3017
So what happened here is there was a network non-determinism error on v12.0.0 at that exact block height, which got fixed in v12.1.0 (and fix is in v12.2.0)

I suspect what happened is you switched the binary at that height, so still had the same error.

[2022-10-17 17:15] czarcas7ic commented on #2959
Correct, I am going to close these respective PRs and we can re address at another time.

[2022-10-17 17:19] czarcas7ic commented on #2959
Respective PRs closed, closing this issue. Still think we should discuss internally to get a shared understanding of what is the best endstate for tests is

[2022-10-17 17:19] #2959 closed

[2022-10-17 17:54] p0mvn opened #3028 "[Story][CL]: Liquidity Provision"
## Background

This story tracks the development of liquidity provision functionality in a concentrated liquidity pool. It is to be composed of several tasks. The progress toward completion is tracked across several milestones. Namely:
- [Milestone 1](https://github.com/osmosis-labs/osmosis/milestone/11): Implement LP with Hard-coded Values and Swap Within a Bucket.

## Tasks
- https://github.com/

[2022-10-17 17:57] p0mvn opened #3029 "[Story][CL]: Swapping"
## Background

This story tracks the development of swapping functionality in a concentrated liquidity pool. It is to be composed of several tasks. The progress toward completion is tracked across several milestones. Namely:
- [Milestone 1](https://github.com/osmosis-labs/osmosis/milestone/11): Implement LP with Hard-coded Values and Swap Within a Bucket.

## Tasks
- https://github.com/osmosis-lab

[2022-10-17 18:05] p0mvn opened #3030 "[Tracking Issue][CL]: Misc Tasks"
## Background

This issue keeps track of any concentrated liquidity task that does not belong to any of the user stories. These might be some configurations, pool wiring, dev ops, or integration tasks.

- https://github.com/osmosis-labs/osmosis/issues/3031
- https://github.com/osmosis-labs/osmosis/issues/3032 (closed, did not pursue)
- https://github.com/osmosis-labs/osmosis/issues/3039 (in progre

[2022-10-17 18:32] p0mvn opened #3031 "[CL]: Refactor and generalize pool interface"
## Background

There are several methods currently defined on the pool interface that are applicable to balancer and stableswap pools but not the concentrated liquidity pool.

Therefore, we should identify what methods should be moved out of the interface into a pool interface extension similar to:
https://github.com/osmosis-labs/osmosis/blob/babeebe957986ed13b6a3e7b2dc01f04da876f10/x/gamm/types/p

[2022-10-17 18:42] p0mvn opened #3032 "[CL]: Barebones concentrated liquidity pool interface implementation"
## Background

We should implement a new concentrated liquidity pool in the `pool-models` package. Call it `concentrated`.

It should implement all of the methods defined on the pool interface.

## Suggested Design

Implement [pool interface](https://github.com/osmosis-labs/osmosis/blob/ff01019fe0ac29f280c947779326e66338bb9c16/x/gamm/types/pool.go#L14)

Panic in every method with "not implemented"

[2022-10-17 18:48] ValarDragon commented on #3031
Concentrated liquidity at most should only share a swap interface with normal AMM's. They should not share any other methods / should otherwise have distinct interfaces.

[2022-10-17 18:56] p0mvn opened #3033 "[CL][Swapping]: investigate implementation of swap and calc pool interface methods within a bucket"
## Background

This issue is focused on investigating, prototyping, and documenting how to implement our calc and swap methods to swap within a single bucket with hard-coded values. The goal is to gain an understanding of specific steps needed to implement:
- `SwapOutAmtGivenIn` / `CalcOutAmtGivenIn`
- `SwapInAmtGivenOut` / `CalcOutAmtGivenOut`

## Acceptance Criteria
- Summary of the subsequent s

[2022-10-17 19:00] p0mvn commented on #3031
Agreed, the goal here is to move out any balancer and stable swap-specific methods into an interface extension and only keep swapping/joining methods.

Do you also agree about join pool no swap and exit pool methods being applicable? These also seem to be valid for adding/removing liquidity

[2022-10-17 19:17] p0mvn opened #3034 "[CL][Liquidity Provision]: investigate implementation of join pool / exit pool methods with hardcoded values"
## Background

For [Milestone 1](https://github.com/osmosis-labs/osmosis/milestone/11), out goal is to be able to provide liquidity with pre-computed hard-coded values.

This task is focused on analyzing, prototyping and documenting our existing pool interface methods defined on the concentrated liquidity pool

## Suggested Design

We need to have a direction for the following methods:
- `JoinPool

[2022-10-18 00:32] p0mvn commented on #3031
@mattverse  has determined that the API change for joining and exiting pool would have to be significantly different due to ticks. As a result, we are exploring the idea of implementing the concentrated liquidity pool with its own API. Likely in another module (not gamm).

That being said, I removed the `PokePool` method from the pool interface because it only seems to make sense for balancer pool

[2022-10-18 01:06] #3032 closed

[2022-10-18 01:14] dbarobin opened #3036 "Error reconnecting to peer"
#### System information

Osmosis version: `12.2.0`
OS & Version: Ubuntu 22.04 LTS, arm64
Commit hash: ab00b76f792f051d69c700e7c6563ad27563e3a8

#### Expected behavior

Node syncs to the latest block.

#### Actual behaviour

Node synchronization is suspended, and the block height does not change.

#### Steps to reproduce the behavior

Refer: https://docs.osmosis.zone/networks/join-mainnet/

[code]

[2022-10-18 01:42] p0mvn commented on #3032
After discussing this further with @sunnya97 , we have realized that swap messages must remain the same. Therefore, it might make sense to:
- move swap messages and logic into its own module
- implement concentrated liquidity module
- on pool creation, register a map entry from pool id to the module (gamm or concentrated liquidity)
- on swap, the swap module routes via map to the desired module

[2022-10-18 05:51] dzmitrykliapkou commented on #3017
Is there any way to "roll back" the database? Rather than downloading 7TB once again

[2022-10-18 06:48] dffffffff commented on #2969
@ValarDragon You are correct it is just a warning, i had local env issues which was causing the build to fail. I will pay more attention as to what is actually causing the the failed build before submitting a bug report. Apologies!

v12.2.0 builds successfully on
MacOS 12.6
go1.19.2 darwin/arm64
MacBook Air (M1 2020)

[2022-10-18 15:36] ValarDragon commented on #2969
Thanks! Glad its working, going to close for now!

I think were blocked on a ZondaX release to actually get rid of the warning

[2022-10-18 15:36] #2969 closed

[2022-10-18 17:35] p0mvn commented on #3031
After discussing and thinking about the architecture more, we should be able to extract an `AmmInterface` that is implemented by `balancer` and `stableswap` pools. It should contain the methods only compatible with the amm pools.

On the other hand, `PoolI` would have methods that can be generalized across all of `balancer`, `stableswap`, and `concentrated`

The proposed refactor would look like t

[2022-10-18 20:23] czarcas7ic commented on #3036
Can you please remove your .osmosisd directory and try running this again? Also use the new script at https://get.osmosis.zone, you posted the old one

[2022-10-18 20:49] p0mvn commented on #3031
Closed by #3038

[2022-10-18 20:49] #3031 closed

[2022-10-18 20:53] p0mvn opened #3039 "[CL]: Provide barebones `concentrated` pool implementation"
## Background

Building up on top of #3038, we need a barebones `concentrated` liquidity pool implementation inside `pool-models`.

Implement the refactored `PoolI` interfaces by adding a `concentrated` folder inside `pool-models` in gamm.

`concentrated` liquidity is planned to be a separate module. Therefore, `gamm` is not the best location for `pool-model`s. We can consider move the `pool-model

[2022-10-18 22:06] p0mvn commented on #3039
Closed by #3040

[2022-10-18 22:06] #3039 closed

[2022-10-18 22:17] p0mvn opened #3041 "[Story][CL]: Concentrated Liquidity Module"
## Background

Since concentrated liquidity architecture diverges from the existing amm logic, we would like to encapsulate the new implementation in its own module.

## Suggested Design

Specifically, we would like to implement the following keeper methods:
- `CreatePool`
- `JoinPool`
- `ExitPool`
- `SwapExactAmountIn`
- `SwapExactAmountOut`

This new module will **not** have any messages or the

[2022-10-18 22:19] p0mvn commented on #3041
TODO:
- create tasks for milestone 2:
   * barebones module structure
   * documentation of the store layout

[2022-10-18 22:29] p0mvn opened #3042 "[Story][CL]: Pool Manager Module"
## Background

#3041 has advocated for a separate module for concentrated liquidity implementation. As a result, we are planning to have 2 entrypoints depending on the underlying pool used:
- `balancer` -> entrypoint in gamm
- `stableswap` -> entrypoint in gamm
- concentrated-liquidity` -> entrypoint in ints own module

## Suggested Design

Instead of having separate swap messages for each, we sho

[2022-10-18 22:32] p0mvn commented on #3042
TODO:
- create task for implementing barebones structure for milestone 2

[2022-10-18 22:43] p0mvn opened #3043 "[Story][CL]: Pool Manager Module"
## Background

Assume the pool management is not unified, then we might have to have prefixes for the pool ids. Not only this is hurting UX but it would also require duplicating the logic that could have been unified.

Therefore, we should implement a single module to handle pool management.

## Risks

The problem with this approach is requiring migrations of the gamm module. Additionally, extra r

[2022-10-18 22:44] p0mvn commented on #3043
TODO:
- add task for creating the barebones module structure for achieving milestone 2

[2022-10-18 22:53] p0mvn opened #3044 "[CL][Concentrated Liquidity Module]: implement foundations of the module"
## Background

As part of milestone 2, we should implement the foundations of the new `concentrated-liquidity` module.

See #3041 for more details

## Suggested Design

The following keeper methods:
- `CreatePool`
- `JoinPool`
- `ExitPool`
- `SwapExactAmountIn`
- `SwapExactAmountOut`

## Acceptance Criteria
- follows `twap` folder structure
- utilizes new pool: https://github.com/osmosis-labs/osmo

[2022-10-18 23:11] p0mvn opened #3045 "[Cl][Concentrated Liquidity Module]: investigate and document store layout"
## Background

As part of Milestone 2, we would like to investigate and document our store layout with fees exluded.

## Suggested Design

We might need 3 types of states:
- per pool
- per position
- per tick

## Acceptance Criteria
- investigate and document the desired store layout

[2022-10-18 23:14] p0mvn opened #3046 "[CL][Misc]: Add new module labels to mergify"
## Background

As part of milestone 2 of concentrated liquidity, we are adding 2 new modules:
- `concentrated-liquidity`
- `pool-manager`
- `swap-router`

## Suggested Design

We need to add labels corresponding to each of the modules to our mergify configuration

## Acceptance Criteria
- labels added
- merge to `concentrated-liquidity-main` branch

[2022-10-18 23:19] p0mvn opened #3048 "[CL][Pool Manager Module]: implement foundational structure"
## Background

As part of milestone 2, we should implement the foundations of the new `pool-manager` module.

See #3043 for more details

## Suggested Design

The following keeper methods:
- `CreatePool`
- `JoinPool`
- `ExitPool`

## Acceptance Criteria
- follows `twap` folder structure
- both message server and keeper methods

[2022-10-18 23:51] p0mvn opened #3049 "[CL][Swap Router Module]: implement foundational structure"
## Background

As part of milestone 2, we should implement the foundations of the new `swap-router` module.

See #3042 for more details

## Suggested Design

The following keeper methods:
- `SwapExactAmountIn`
- `SwapExactAmountOut`

## Acceptance Criteria
- follows `twap` folder structure
- both message server and keeper methods

[2022-10-19 00:06] mattverse commented on #3034
This is to be completed in milestone2, given that the current structure of pool-models is not suitable for stroing additional states

[2022-10-19 00:09] mattverse commented on #3043
Note that the message in the pool manager module would route to the concentrated-liquidity module keeper method for the actual `CreatePool` `JoinPool` and `ExitPool`

[2022-10-19 00:13] p0mvn commented on #3034
Agreed, moving to milestone 2. This is blocked by #3045 and #3044

[2022-10-19 00:35] p0mvn commented on #3045
@mattverse has laid out the store in proto files here: https://github.com/osmosis-labs/osmosis/blob/concentrated-liquidity/proto/osmosis/concentrated-liquidity/concentratedPool.proto

We will go with this approach to start

[2022-10-19 00:37] p0mvn commented on #3034
The direction is clear now.

We will utilize the store logic from here: https://github.com/osmosis-labs/osmosis/blob/concentrated-liquidity/proto/osmosis/concentrated-liquidity/concentratedPool.proto

JoinPool logic is implemented on the keeper, swaps are routed directly into the concentrated liquidity pool defined here: https://github.com/osmosis-labs/osmosis/pull/3047

[2022-10-19 00:37] #3034 closed

[2022-10-19 05:07] mattverse opened #3051 "[Story][CL]: Pool Manager Module"
## Background

The concentrated liquidity pool would have different architecture and design in the sense that the APIs and the arguments that the conventional gamm module and its tx messages require are not suitable to support concentrated liquidity. We want an abstract module that would correctly route the corresponding message to the correct pool with the needed arguments, namely the pool manage

[2022-10-19 05:07] mattverse commented on #3048
Closed by #3051

[2022-10-19 05:07] #3048 closed

[2022-10-19 05:08] mattverse commented on #3043
Replaced by #3051

[2022-10-19 05:08] #3043 closed

[2022-10-19 05:08] mattverse commented on #3049
Closed by #3051

[2022-10-19 05:08] mattverse commented on #3042
Closed by #3051

[2022-10-19 05:58] #2979 closed

[2022-10-19 06:40] dbarobin commented on #3036
I rebuilt my full node using this script, but after a few minutes of syncing, the sync stopped. The following log appeared.

[code]

[2022-10-19 18:29] p0mvn commented on #3051
Discussed offline - we are planning to drop the pool-manager module. Instead, only its swap-router component will be implemented.

Closing this issue in favor of https://github.com/osmosis-labs/osmosis/issues/3042 that only focuses on the swap-router

[2022-10-19 18:30] p0mvn commented on #3042
Reopening since we decided to implemented the swap-router component only (not the pool creation logic)

[2022-10-19 19:58] AlpinYukseloglu commented on #2898
Closed by #2908

[2022-10-19 19:58] #2898 closed

[2022-10-19 20:17] czarcas7ic commented on #3036
Hmm, I just changed the installer to use a difference version. If you would like to retry again and lmk that would be great.

[2022-10-19 20:26] p0mvn opened #3059 "[CL][Concentrated Liquidity Module]: Prototype Tick Bitmap"
## Background

Univ3 paper talks about using tick bitmap for tracking the presence / absence of initialized ticks. We need to investigate and prototype this bitmap in our concentrated-liquidity module

## Acceptance Criteria
- bitmap prototype is made

[2022-10-19 20:27] p0mvn commented on #3059
@alexanderbez FYI made this issue to track bitmap investigations

[2022-10-19 21:39] p0mvn commented on #3044
@mattverse this is done right?

[2022-10-19 22:08] p0mvn opened #3061 "[CL][Liquidity Provision]: generalize minting"
## Background

In milestone 3, we are going to generalize minting to work with any values (not hardcoded)

## Acceptance Criteria
- minting works for any value
- tests added

[2022-10-19 22:09] p0mvn opened #3062 "[CL][Swapping]: Generalize Swaps"
## Background

In milestone 3, we are going to generalize swapping to work with any values (not hardcoded)

## Acceptance Criteria
- minting works for any value
- tests added

[2022-10-19 22:11] p0mvn commented on #3033
Closed by: https://github.com/osmosis-labs/osmosis/pull/3047

[2022-10-19 22:14] p0mvn opened #3063 "[CL][Concentrated Liquidity Module]: implement swap keeper methods and connect with the swap-router"
## Background

Swap router modules routes swaps either to `gamm` or `concentrated-liquidity`. Therefore, we need to implement and connect swap methods in the `concentrated-liquidity` module.

## Acceptance Criteria
- swap keeper methods added
- integrated to the `swap-router` module

[2022-10-19 22:18] p0mvn opened #3064 "[CL][Swap Router Module]: remove swap messages and tests, connect with swap-router"
## Background

`swap-router` is the new module that routes swaps. Therefore, we should delete swap messages from gamm. Instead, `swap-router` will call gamm swap keeper methods directly.

## Acceptance Criteria
- swap messages are deleted from gamm message server
- connected to swap router
- tests moved to swap-router

[2022-10-19 22:26] p0mvn opened #3066 "[CL][Swap Router]: create swap messages"
## Background

Copy:
- https://github.com/osmosis-labs/osmosis/blob/42d73f1cc1c52e85561518be1014b730ef6b7a12/x/gamm/keeper/msg_server.go#L185
- https://github.com/osmosis-labs/osmosis/blob/42d73f1cc1c52e85561518be1014b730ef6b7a12/x/gamm/keeper/msg_server.go#L160

Implement respective keeper methods. Do not route yet.

## Acceptance Criteria
- message and message server implemented
- tests if appli

[2022-10-19 22:26] p0mvn commented on #3064
blocked by: https://github.com/osmosis-labs/osmosis/issues/3066

[2022-10-19 22:27] p0mvn commented on #3063
blocked by: https://github.com/osmosis-labs/osmosis/issues/3066

[2022-10-19 23:23] AlpinYukseloglu commented on #2807
Closing this since it is non v13 blocking

[2022-10-19 23:23] #2807 closed

[2022-10-19 23:26] p0mvn opened #3069 "[CL][Concentrated Liquidity Module]: Module wiring"
## Background

We need to app wire the new `concentrated-liquidity` module to unblock swap router.

## Acceptance Criteria
- new module is wired up
- e2e tests continue to pass

[2022-10-20 02:13] dbarobin commented on #3036
Still doesn't work, block height stopped at 6506661.

[code]

[2022-10-20 03:38] #3069 closed

[2022-10-20 17:48] czarcas7ic commented on #3063
@catShaark we are going to keep all concentrated liquidity items in house for now, since we are all co-located to implement this feature. Will let you know if this changes, thanks for picking this up though!

[2022-10-20 18:39] catShaark commented on #3063
ohhh, thanks for notifying me

[2022-10-20 20:29] p0mvn opened #3074 "[Story][CL]: Fees"
## Background

## Suggested Design

We will begin by implementing the Uniswap v3 paper accumulator fee model for the MVP. Next, we will consider improvements to the system

## Tasks

- [ ] https://github.com/osmosis-labs/osmosis/issues/3994
- [ ] https://github.com/osmosis-labs/osmosis/issues/3075
- [ ] https://github.com/osmosis-labs/osmosis/issues/3085
- [ ] https://github.com/osmosis-labs/osmos

[2022-10-20 20:36] p0mvn opened #3075 "[CL][Fees]: Investigate and document accumulator fee system"
## Background

We would like to implement fees in the novel concentrated-liquidity framework.

This can be done by tracking fee accumulators:
- per pool
- per position
- per tick

The exact math, calculations and design are still TBD. This issue is about investigating the calculations and how to integrate them into our new `concentrated-liquidity` module.

## Acceptance Criteria
- investigate and

[2022-10-21 00:26] mattverse commented on #3061
Closed by https://github.com/osmosis-labs/osmosis/pull/3081

[2022-10-21 00:26] #3061 closed

[2022-10-21 00:27] mattverse commented on #3063
@catShaark  thank you for everything!

[2022-10-21 00:53] #3046 closed

[2022-10-21 00:53] p0mvn commented on #3046
closed by https://github.com/osmosis-labs/osmosis/pull/3082

[2022-10-21 02:38] AlpinYukseloglu opened #3083 "[x/gamm][stableswap]: Deprecate two-asset binary search solver in favor of multi-asset one"
## Background

With the recent optimizations on our multi-asset solver, there is no longer any reason to have separate implementations for two-asset and multi-asset binary search solvers since they both have identical performance.

We should still keep our two-asset direct solver for reference & testing.

## Suggested Design

- Replace all uses of two-asset binary search solver with our multi-asse

[2022-10-21 02:43] #3004 closed

[2022-10-21 02:51] #3005 closed

[2022-10-21 02:53] #3007 closed

[2022-10-21 04:52] p0mvn commented on #3049
closed by #3060

[2022-10-21 04:52] #3049 closed

[2022-10-21 04:52] #3044 closed

[2022-10-21 05:01] p0mvn opened #3085 "[CL][Fees]: Implement foundations for fee accumulator store"
## Background

This task is focused on implementing the design investigated and documented in https://github.com/osmosis-labs/osmosis/issues/3075

## Suggested Design

https://hackmd.io/@osmosis/Hy5NYreEj

## Acceptance Criteria
- implement the design from #3075

[2022-10-21 05:02] p0mvn commented on #3085
hey @nicolaslara . I'm making issues for future milestones. Could you please attach the link to the hackmd you showed us earlier today? Thank you!

[2022-10-21 05:07] p0mvn opened #3086 "[CL][Misc]: improve logarithm implementation"
## Background

We are currently using the following logarithm approximation implementation: https://github.com/osmosis-labs/osmosis/pull/2788

This is not sufficient for production. We need to finalize the logarithm implementation to be accurate.

## Suggested Design

Continue on the approaches in #2788

## Acceptance Criteria
- logarithm is accurate
- thoroughly tested with links to wolfram added

[2022-10-21 05:18] #3083 closed

[2022-10-21 05:29] #2730 closed

[2022-10-21 05:52] p0mvn opened #3087 "[CL][Swap Router Module]: refactor simulation hack"
## Background

In #3073, we ported swap messages from gamm to `swap-router`.

Additionally, we ported pre-existing simulation

Pre-existing setup for simulation requires access to several gamm keeper APIs.

Current simulation utility functions do not provide support to wire additional keepers. As a result, extra keeper methods were defined on `swaprouter` keeper to route the calls to `gamm` keeper

[2022-10-21 06:02] p0mvn opened #3088 "[CL][Misc]: Merge `main` into `concentrated-liquidity-main`"
## Background

We should be consistently synching our feature branch with main to avoid merge conflicts upon completion.

This task is a reminder to merge `main` into `concentrated-liquidity-main` during milestone 4.

## Acceptance Criteria
- merged during milestone 4
- tests continue passing

[2022-10-21 06:10] p0mvn opened #3089 "[CL][Misc]: investigate e2e failure on `concentrated-liquidity-main`"
## Background

e2e is currently broken. PR that seems to have broken in: https://github.com/osmosis-labs/osmosis/pull/3081

Investigate and fix the e2e failure.

## Acceptance Criteria
- e2e passes

[2022-10-21 06:14] p0mvn opened #3090 "[CL][Misc]: branch protection and CI on pull request to `concentrated-liquidity-main`"
## Background

We should treat `concentrated-liquidity-branch` as `main`. That is, have it branch protected and run the CI on it to be able to identify problems quickly.

## Acceptance Criteria
- branch protect `concentrated-liquidity-main`
- add configuration to run CI on pull-request

[2022-10-21 06:19] #2971 closed

[2022-10-21 07:25] hieuvubk commented on #2955
Is this about the order of modules when exporting? Currently `OrderExportGenesis` not be set, so when exporting state returns the modules in alphabetical order.
I don't know if the current way is correct for the Merkle tree we are using. So pls lmk what u think

[2022-10-21 10:43] hieuvubk commented on #3003
Is all about 2-assets pool? How about multi assets could u pls lmk?

[2022-10-21 16:51] nicolaslara commented on #3085
Here's the hackmd: https://hackmd.io/@osmosis/Hy5NYreEj

[2022-10-21 20:41] mattverse opened #3092 "Add query for lockup params"
## Background

We need to add query for the lockup params that was added in https://github.com/osmosis-labs/osmosis/pull/2733

## Acceptance Criteria

- Follow the format of param query supported in other modules and create a query for it.

[2022-10-21 23:35] #3089 closed

[2022-10-21 23:58] #3090 closed

[2022-10-22 00:23] mattverse commented on #3059
Closing Per the original PR being closed

[2022-10-22 00:23] #3059 closed

[2022-10-22 00:27] #2752 closed

[2022-10-22 03:56] hieuvubk commented on #2554
Is anyone working on this issue? I think removing the suite from `KeeperTestHelper` and moving to `KeeperTestSuite` will solve this problem.
Pls lmk what u think

[2022-10-22 05:23] hieuvubk commented on #3092
Is anyone working on this issue? I can start with it

[2022-10-22 05:49] mattverse opened #3097 "[CL][Swap Router Module]: Pool ID routing"
## Background
 
The current design in the swap router has a boolean field in the keeper method for `RouteMultihopSwapExactAmountIn` and `MultihopSwapExactAmountOut`, that takes in the field `isGamm` as a boolean field, in which routes to the correct pool module: either the gamm module or the concentrated liquidity module.

This implementation is a half implementation of the swap router module.

We

[2022-10-22 05:49] mattverse commented on #3092
@hieuvubk That'd be awesome! Thanks!

[2022-10-22 06:49] hieuvubk commented on #3092
Created a pr above could u pls check it out!

[2022-10-23 10:52] ThanhNhann commented on #3003
hi @mattverse, I have done the implementation of this func, so can you point to me the file test using this implement then I can update the test?

[2022-10-23 14:28] ThanhNhann commented on #1908
Hi @p0mvn, I see that the unit test for `getMaximalNoSwapLPAmount ` still doesn't have, Can I do it? And about

And how about this?

[2022-10-24 01:10] p0mvn commented on #1646
We can close this now, only docs left

[2022-10-24 01:10] #1646 closed

[2022-10-24 01:25] p0mvn commented on #3097
Adding this to milestone 4

[2022-10-24 03:23] p0mvn opened #3107 "automation: add task issues to user story issue description from labels"
## Background

When managing complex projects, it is often useful to break down work into user stories.

For example, with concentrated-liquidity feature, we have [an epic](https://github.com/osmosis-labs/osmosis/issues/3014) that consists of multiple user stories.

User stories in turn consist of multiple tasks. For example, [here](https://github.com/osmosis-labs/osmosis/issues/3042) we have a "S

[2022-10-24 03:26] p0mvn opened #3108 "[CL][Misc]: rename Mint and Burn abstractions"
## Background

For adding liquidity, we went with the "Mint" abstraction. For removing, it is likely to end up being "Burn".

## Suggested Design

I would like to propose renaming Mint and Burn abstractions to the following options:
- AddLiquidity and RemoveLiquidity
- CreatePosition and WithdrawPosition

The reason is that we already use mint / burn names in x/mint , x/tokenfactory and x/bank so

[2022-10-24 03:29] p0mvn commented on #3075
@nicolaslara has completed the investigation here: https://hackmd.io/@osmosis/Hy5NYreEj

continuing to track fees in: https://github.com/osmosis-labs/osmosis/issues/3085

[2022-10-24 03:29] #3075 closed

[2022-10-24 03:42] p0mvn commented on #1908
Hi @ThanhNhann

Yes, that would be great! Please feel free to pick up the tests work. However, do you mind creating a separate issue for it and assigning yourself to that?

The original problem here seems to be something else that is still valid.

I think that still makes sense. However, I would define it as the `TraditionalAmmInterface` instead of `PoolI`. I think we should make a separate issue

[2022-10-24 04:39] p0mvn commented on #3087
@RusAkh said that he's on it. Can you self-assign please?

[2022-10-24 04:47] hieuvubk opened #3113 "Audit ExportGenesis for all modules"
## Background

Refer from [3001](https://github.com/osmosis-labs/osmosis/pull/3001#pullrequestreview-1146224816). We are using state exported to check app state does not change after querying.
So we should audit all modules `ExportGenesis` func to make sure the state is exported without any error.

[2022-10-24 04:55] hieuvubk opened #3114 "Look into utilizing appHash to check state not alter after query"
## Background

Another reference from [3001](https://github.com/osmosis-labs/osmosis/pull/3001#pullrequestreview-1146224816). Using state exported is the right way to check state alter after querying.
But for more accuracy, we should look into app hash verification in the future.

[2022-10-24 05:04] ThanhNhann commented on #1908
Yeah sure, I will create a issue for this, but can't assign myself because I don't really added in this repo, can you add me to the repo sir @p0mvn

you mean a new interface `TraditionalAmmInterface ` right? I don't see the name in code, if true, I will have some questions before work

[2022-10-24 05:15] samsheff commented on #2943
@mattverse Hey, we're still stuck on this. I've tried everything. Same error as above.

If there's any way you could point us in the right direction that would be a lifesaver. Thanks

[2022-10-24 05:48] #3086 closed

[2022-10-24 07:50] ThanhNhann opened #3120 "x/gamm: update position and make table driven tests for function getMaximalNoSwapLPAmount"
## Background
Base on this [issue](https://github.com/osmosis-labs/osmosis/issues/1908#issuecomment-1288373220), we should update position for func `getMaximalNoSwapLPAmount` and write some tests to make table driven

## Suggested Design

- update position for func `getMaximalNoSwapLPAmount`

- make all test of this func in table-driven form

## Acceptance Criteria

All existing and new tests shou

[2022-10-24 08:18] dbarobin commented on #3036
After replacing the node server with an x86/64 architecture server, the complete synchronization is working. It seems that Osmosis is not very compatible with ARM servers.

[2022-10-24 08:18] #3036 closed

[2022-10-24 13:46] github-actions[bot] opened #3123 "Mutation test 2022/10/24"
--- ./x/tokenfactory/keeper/genesis.go	2022-10-24 13:19:03.782719385 +0000
+++ /tmp/go-mutesting-1058230289/./x/tokenfactory/keeper/genesis.go.5	2022-10-24 13:24:19.171004550 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-1058230289/./x/tokenfactory/keeper/genesis.go.5" with checksum 956032c4e4bdae36c6d3143ce7370d84
--- ./x/tokenfactory/keeper/genesis.go	2022-10-24 13:19:03.782719385 +00

[2022-10-24 14:51] apollo-pacman commented on #2992
@mattverse any update on this?

[2022-10-24 16:24] ValarDragon commented on #3087
I don't understand, the simulator already supports this? This shouldn't require any scaffolding or simulator changes?

All you'd have to do is add the other keepers to the `AppModule` in the case of simulator being ran, and then link the keeper in the call to getting the actions?

[2022-10-24 17:11] #3092 closed

[2022-10-24 18:01] #2376 closed

[2022-10-24 18:06] mikedotexe opened #3125 "`make install` may cause conflict with NodeJS's `node`"
#### System information

Osmosis version: `Osmosis version`
OS & Version: Mac M1 Monterey 12.6 as well as Macbook Pro with Catalina 10.15.7
Commit hash: tagged at 11.0.1 and 12.2.0

#### Expected behaviour

That my typical experience on my terminal will not be affected by installation of `osmosisd`.

#### Actual behaviour

There seems to be a clash with a Golang binary that's thrown into:

`~/go/b

[2022-10-24 20:04] czarcas7ic commented on #3125
tagging @niccoloraspa who has most context with docker files

[2022-10-24 21:58] #3064 closed

[2022-10-24 22:08] p0mvn opened #3129 "[CL][Swap Router Module]: deprecate `SwapExactAmountInDefaultSwapFee` in gamm"
## Background

As part of the progress to move swap logic to `swap-router` module, we moved the
multihop logic out from gamm.

The refactor in https://github.com/osmosis-labs/osmosis/pull/3128 left gamm in an awkward state where there are two public methods doing with minimal differences:
- `SwapExactAmountInDefaultSwapFee`
- `SwapExactAmountIn`

## Suggested Design

- Remove `SwapExactAmountInDef

[2022-10-24 22:15] p0mvn opened #3130 "[CL][Swap Router Module]: investigate reducing the need for making public swap API with swapFee as parameter"
## Background

In #3128 we refactored gamm to lift multihop logic up to swap-router. This has led to
exporting a `gamm` and `concentrated-liquidity` swap APIs that take swap fee as parameter.

This poses a security risk since a developer might accidentally provide a fee that is lower than the actual pool fee.

Ultimately, the only reason for exposing swap fee in the API is so that we can reduce th

[2022-10-24 22:23] p0mvn opened #3131 "[CL][Swap Router Module]: improve `TestMultihopSwapExactAmountIn` and `TestMultihopSwapExactAmountOut`"
## Background

Desired test cases are listed here for `TestMultihopSwapExactAmountIn`:

https://github.com/osmosis-labs/osmosis/blob/d76deee64911cdd21ae3914ef2912ff633bb960a/x/swaprouter/router_test.go#L131-L140

and here for `TestMultihopSwapExactAmountOut`:

https://github.com/osmosis-labs/osmosis/blob/d76deee64911cdd21ae3914ef2912ff633bb960a/x/swaprouter/router_test.go#L131-L140

## Acceptance

[2022-10-24 23:31] p0mvn opened #3132 "osmomath(log/CL): implement and test natural logarithm, custom base logarithm and `1.0001` logarithm"
## Background

With log base 2 implemented in https://github.com/osmosis-labs/osmosis/pull/2788, we should add more bases for logarithms.

## Suggested Design

### Natural logarithm

`ln x = \frac{log_{2}{x}}{log_{2}{1.0001}}`

- estimate `{log_{2}{e}` in WolframAlpha (add link to the estimate)
- hard code the estimate
- create a method `Ln` that utilizes `LogBase2` and hardcoded `e` value to solv

[2022-10-24 23:39] p0mvn commented on #3087
I think you are right and that is possible without additional changes, just not very intuitive.

@RusAkh suggested this method:

[code]

[code]

[2022-10-24 23:54] p0mvn opened #3133 "chore: remove streamswap module"
## Background

According to latest product updates, streamswap is to be implemented in CosmWasm.

Therefore, we should remove the existing module.

## Acceptance Criteria
- delete contents of `x/streamswap`

[2022-10-25 00:06] p0mvn opened #3134 "[CL][Concentrated Liquidity Module]: implement keeper method stubs and messages"
## Background

On top of swap keeper methods to be called from `swap-router`, we want the following keeper methods and corresponding messages:
- `CreatePosition`
- `WithdrawPosition`
- `SubmitRangeOrder`
- `CancelRangeOrder`

## Suggested Design

Implement message server, message stubs and keeper methods for the above

## Acceptance Criteria
- logic added
- mark with TODOs every new logic that nee

[2022-10-25 00:10] p0mvn commented on #3097
We made the decision to move pool id management into the `swap-router` module. Investigation of the constraints is TBD

[2022-10-25 00:11] p0mvn commented on #3063
Further progress on this blocked by pool id routing. TBD in https://github.com/osmosis-labs/osmosis/issues/3097

Some work towards this has been done in #3128 so I'm going to close is. Will create new issue after #3097 if still applicable

[2022-10-25 00:11] #3063 closed

[2022-10-25 00:23] p0mvn commented on #1908
I don't have access but I pinged ValarDragon to add you to the repo.

yeah

[2022-10-25 00:29] #2457 closed

[2022-10-25 01:10] ValarDragon commented on #3017
There unfortunately isn't right now :(

Trying to support getting https://github.com/cosmos/iavl/issues/548 pushed through, which would make this easy to do in the future

[2022-10-25 04:33] mattverse opened #3138 "[CL][Misc]Create testcases for `GetIfFound`"
## Background

We recently added a helper method in the osmoutils, that would instead of pannicing if not found (which is what `MustGet` does), we return a boolean field and an error instead which looks like this:

[code]

Actual implementation: https://github.com/osmosis-labs/osmosis/pull/3136/commits/016f27573a36b8b7dc1ffe1fe101a424bb36a43f#diff-b6d3bf142ce5c79530054885a752706a87726315c61bd5ff4a

[2022-10-25 05:50] ThanhNhann commented on #1908
Thank sir @p0mvn, working on issues

[2022-10-25 05:54] p0mvn opened #3140 "[CL][Concentrated Liquidity]: implement and test ValidateBasic for MsgCreatePosition and MsgWithdrawPosition"
## Background

Messages were added in: https://github.com/osmosis-labs/osmosis/pull/3139

We need to implement `ValidateBasic` for them

## Acceptance Criteria
- `ValidateBasic` implemented
- tests added

[2022-10-25 07:22] p0mvn opened #3143 "[CL][Liquidity Provision]: implement `withdrawPosition` method"
## Background

So far we have made decent progress on adding liquidity (`createPosition`) and swapping. However, there is nothing implemented for `withdrawPosition`

## Suggested Design

We should implement the following method in `lp.go`:

[code]

## Acceptance Criteria
- implement method
- at least one "happy path" test case added

[2022-10-25 07:32] hieuvubk commented on #3138
I would like to work on this issue if no one on process

[2022-10-25 07:47] RusAkh commented on #3132
I would like to work on it

[2022-10-25 07:52] hieuvubk commented on #3133
Is anyone working on this issue, we would like to close it. @ThanhNhann

[2022-10-25 07:54] p0mvn commented on #3133
That would be great. Please take it. Thanks

On Tue, Oct 25, 2022 at 12:53 AM Hieu Vu ***@***.***> wrote:

[2022-10-25 07:55] p0mvn commented on #3132
Thank you. Please go ahead

On Tue, Oct 25, 2022 at 12:47 AM Ruslan Akhtariev ***@***.***>
wrote:

[2022-10-25 11:17] RusAkh commented on #3087
But if we simply include new keepers in `AppModule` we will not be able to access them in simulations because `AppModule` does not export them, right? I thought we were trying to make all the logic of other keepers and swaprouter keeper available in one place (which I called `SimulationKeeper` or `SimulationTest` in Roman's comment) to be used in simulations. The reason for that is that with this

[2022-10-25 20:57] #3088 closed

[2022-10-25 22:26] mattverse commented on #3108
We don't have burning methods for now, burning could be addressed in the future PRs when the feature is introduced

[2022-10-25 22:36] mattverse opened #3154 "Create testcases for `Inactive` Pool"
## Background

Adding a new Interface, namely the `traditionalAMMI`, we had to remove existing testing that uses mock pool to mock a pool that is inactive and ensure that if pool is inactive, we aren't able to do a swap.

https://github.com/osmosis-labs/osmosis/pull/3152/files#diff-b5cfd36f7b82ca1c172a606b4fd5c6978db0e6f9db3361dea89e2893ab843aeeL276-L327

## Suggested Design

We need to update the

[2022-10-25 22:39] #3138 closed

[2022-10-25 22:40] #3129 closed

[2022-10-25 22:41] mattverse commented on #3062
Closed by https://github.com/osmosis-labs/osmosis/pull/3137

[2022-10-25 22:41] #3062 closed

[2022-10-25 22:59] mattverse opened #3155 "[CL][Liquidity Provision] Cross tick minting"
## Background

Previously the minting method, or the JoinPool method supported only single tick minting.

Now we want to support cross-tick minting when joining the pool

[2022-10-25 23:06] mattverse commented on #3108
Done in https://github.com/osmosis-labs/osmosis/pull/3139

[2022-10-25 23:06] #3108 closed

[2022-10-25 23:30] #3133 closed

[2022-10-25 23:40] p0mvn opened #3156 "[CL][Swapping]: add table-driven tests for all core methods"
## Background

I propose using this as a tracking issue. For each core method, create a separate PR with tests.

**Please aim to avoid testing more than one method / function per PR to make sure that we can do a detailed review.**

The list of things to test:
- [x] #3174
- [x] `liquidity1`
- [x] `calcAmount1Delta`
- [x] `calcAmount0Delta`
- [x] `getNextSqrtPriceFromAmount1RoundingDown`
- [x] `getN

[2022-10-25 23:46] p0mvn opened #3157 "[CL][Liquidity Provision]: add table-driven tests for all core methods"
## Background

I propose using this as a tracking issue. For each core method, create a separate PR with tests.

**Please aim to avoid testing more than one method / function per PR to make sure that we can do a detailed review.**

The list of things to test:
- [ ] `initOrUpdateTick`
- [ ] `GetTickInfo`
- [ ] `getPoolById`
- [ ] `initOrUpdatePosition`
- [ ] `GetPosition`
- [ ] `createPosition`

Ad

[2022-10-26 00:10] mattverse commented on #2943
Hey srry for the late reply on this.
@iboss-ptk do you have an idea of the osmo_bindings and osmosis_std?

[2022-10-26 00:10] p0mvn opened #3159 "[CL][Swapping]: implement `SwapExactAmountIn` in `concentrated-liquidity`"
## Background

We should implement the method with validations and test cases

## Acceptance Criteria
- implemented
- table-driven tests added

[2022-10-26 00:12] p0mvn opened #3160 "[CL][Swapping]: implement and test `SwapExactAmountOut` in `concentrated-liquidity`"
## Background

We should implement the method with validations and test cases

## Acceptance Criteria
- implemented
- table-driven tests added

[2022-10-26 00:15] p0mvn commented on #3159
Blocked by https://github.com/osmosis-labs/osmosis/issues/3156

[2022-10-26 00:15] p0mvn commented on #3160
Blocked by: https://github.com/osmosis-labs/osmosis/issues/3156

[2022-10-26 10:34] niccoloraspa commented on #3125
Thanks for the issue and the detailed explanation.
As you pointed out it is a name conflict due to a not-so-ideal name choice.

Fix is in pipeline.

[2022-10-26 19:43] ValarDragon opened #3172 "v13 tracking issue"
## Background

- [ ] Stableswap
  - [ ] Feature completeness
  - [ ] Testing strategy / invariants reviewed
- [ ] IBC rate limit
- [ ] Swap multi-hop, having different swap fees if its osmo-routed
- [ ] Add-back bank multi-send, but with single sender
- [ ] Post handler stub added
- [ ] (Patch release actually) re-order arguments for Spot Price & TWAP functions

## Define code review process for v

[2022-10-27 16:19] hieuvubk opened #3174 "`liquidity0`"

[2022-10-27 16:20] #3174 closed, assigned to nobody

[2022-10-28 04:16] RusAkh commented on #3154
hello is anyone working on it?

[2022-10-28 05:27] RusAkh commented on #1139
hello @ValarDragon is this issue still open to work on?

[2022-10-28 06:01] hieuvubk commented on #3114
@p0mvn @ValarDragon @mattverse Hello I got trouble when using app hash. The old hash & new hash is different after querying. Or I'm using the wrong func pls let me know.
![Ảnh chụp Màn hình 2022-10-28 lúc 11 52 34](https://user-images.githubusercontent.com/72878483/198514415-327f85a5-c5cc-46fa-8963-5c6b6dfbe65c.png)
![Ảnh chụp Màn hình 2022-10-28 lúc 11 52 21](https://user-images.githubu

[2022-10-28 07:37] catShaark commented on #2953
@czarcas7ic, do we have any update on this?

[2022-10-28 19:59] #2934 closed

[2022-10-28 20:00] ValarDragon commented on #3113
duplicate of #2940

[2022-10-28 20:00] #3113 closed

[2022-10-28 20:00] #2973 closed

[2022-10-28 20:01] #3019 closed

[2022-10-29 00:12] mattverse commented on #3172
Could I also add components that are already done & merged just to keep bettet track? eg. force unlock

[2022-10-29 00:13] mattverse commented on #3154
Nope! I don't think so!

[2022-10-29 01:10] mattverse opened #3178 "Concentrated Liquidity Chore Tracking issue"
This Issue serves the purpose of tracking the chores needed to be done for concentrated liquidity

- [ ] Remove `currTick` from argument of `CreateNewConcentratedLiquidityPool`: we should be calculating currTick inside the method instead of having it passed on as an argument
- [ ] Make `CreateNewConcentratedLiquidityPool` return pool id instead of pool object
- [ ] Add function to mint lp shares a

[2022-10-29 02:17] #3134 closed

[2022-10-29 02:19] #3155 closed

[2022-10-29 03:56] RusAkh commented on #3154
cool, I would like to work on it

[2022-10-29 06:25] hieuvubk commented on #3140
Hello need help? I willing to to work with it

[2022-10-30 00:41] p0mvn commented on #3030
Discussed offline. Opening to keep track of future misc issues

[2022-10-30 00:43] p0mvn commented on #3140
Hey. Yes please, thank you

[2022-10-30 00:43] p0mvn commented on #3154
Please go for it

[2022-10-31 04:42] RusAkh commented on #3157
Hello. Is anyone working on it?

[2022-10-31 06:22] mattverse commented on #3114
@hieuvubk  aren't app hashes expected to be different after commit?

[2022-10-31 08:41] iboss-ptk commented on #2943
can you try these msgs instead see if it works?

https://github.com/osmosis-labs/osmosis-rust/blob/28ffd12efce20ee36bb78505e5af136b26344b70/packages/osmosis-std/src/types/osmosis/gamm/v1beta1.rs#L801-L886

[2022-10-31 13:39] github-actions[bot] opened #3193 "Mutation test 2022/10/31"
--- ./x/tokenfactory/keeper/genesis.go	2022-10-31 13:16:19.658180106 +0000
+++ /tmp/go-mutesting-4293179146/./x/tokenfactory/keeper/genesis.go.5	2022-10-31 13:20:31.648524406 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-4293179146/./x/tokenfactory/keeper/genesis.go.5" with checksum 956032c4e4bdae36c6d3143ce7370d84
--- ./x/tokenfactory/keeper/genesis.go	2022-10-31 13:16:19.658180106 +00

[2022-10-31 23:21] czarcas7ic commented on #2953
I sadly do not have context on this, @ValarDragon would you be able to write something out in order to allow @catShaark to pick up this task?

[2022-11-01 00:49] mattverse opened #3196 "[CL][Swapping] Add Test cases for `CalcOutAmtGivenIn`"
## Background

Current `CalcOutAmtGivenIn` only has test cases for doing a swap within one price range.

We want to add more test cases so that we have the following test cases for the swappings

## Suggested Design
The following are the test cases that are planned to be added:
- Swapping on two equal price ranges
- Swapping on consecutive price ranges
- Swapping on partially overlapping price ran

[2022-11-01 01:14] p0mvn commented on #3160
What is the status of this? @czarcas7ic

[2022-11-01 01:15] p0mvn commented on #3157
@RusAkh I think @mattverse and @czarcas7ic have the most context on the test vectors here.

@mattverse have you made any progress on this?

[2022-11-01 01:20] p0mvn commented on #3156
Seems that one of the remaining tests is covered here://github.com/osmosis-labs/osmosis/issues/3196

From discussions, the other remaining test - `CalcInAmtGivenOut` needs to be re-implemented to be more precise. I will make an issue to do so that will include tests as well.

I think we can close this one. Let me know if I missed anything

[2022-11-01 01:20] #3156 closed

[2022-11-01 01:22] #3132 closed

[2022-11-01 01:27] p0mvn opened #3198 "[CL][Swapping]: refactor and test `CalcInAmtGivenOut`"
## Background

Currently, our `CalcInAmtGivenOut` has precision and, possibly, logic issues. We should investigate, refactor and test this method.

The issue stems from potentially needing a different equation from `CalcOutAmtGivenIn`. This equation needs to be investigated and documented.

## Acceptance Criteria
- refactor the method
- table-driven tests with Wolfram links

[2022-11-01 01:41] #2609 closed

[2022-11-01 02:01] p0mvn opened #3200 "[CL][Story]: E2E Testing"
## Background

We should be tracking test vectors for e2e. We can cut more specific issues down the road

- [ ] Test pool id migration from gamm to `swaprouter`
   * test that pool id -> pool count migration in gamm is sound by querying the count after upgrade
   * test that pool id -> pool id migration in swaprouter works by querying the pool ids after upgrade

## Tracking
- https://github.com/os

[2022-11-01 02:01] czarcas7ic commented on #3160
Haven't touched swapexactamountout. Implementing swapoutamountgivenin first and then will implement this

[2022-11-01 02:58] czarcas7ic opened #3201 "[CL][Swap] SwapOutAmtGivenIn"
## Background

Once CalcOutAmtGivenIn logic is sound, we need to implement SwapOutAmtGivenIn for the concentrated liquidity module.

## Acceptance Criteria

- Swap logic is properly implemented
- Table driven tests for SwapOutAmtGivenIn are created

[2022-11-01 04:37] ValarDragon commented on #2953
Basically make key formats we write to disk follow `write_version | path_to_node`

This is entirely unrelated

Basically just change the batch.write usage in IAVL, to write in many smaller batches. E.g. write every 1MB atomically, don't keep growing the batches. We already have tooling for detecting when we've completed the final write, the whole thing should not be atomic, it should just be possi

[2022-11-01 04:50] p0mvn commented on #2953
@catShaark I would love to work with you on batch writing. Would you be interested in working together?

[2022-11-01 05:30] catShaark commented on #2953
yesss, just tell me what to do

[2022-11-01 06:23] hieuvubk commented on #3131
Hello anyone working on it? I would like to work with it

[2022-11-01 06:34] p0mvn commented on #3131
Hi @hieuvubk . I'm afraid it’s currently blocked on: https://github.com/osmosis-labs/osmosis/pull/3170

I’m planning to finalize that PR soon. Will lyk once this issue is unblocked. Thanks

[2022-11-01 06:37] hieuvubk commented on #3131
Yes thank u

[2022-11-01 19:47] p0mvn commented on #3087
Can we supply the gamm keeper to swaprouter `AppModule` here?

https://github.com/osmosis-labs/osmosis/blob/70bf005ba96eaab3042a8ccd3f9cd26a87ed6bc2/app/modules.go#L150

[2022-11-01 20:28] stackman27 opened #3204 "[ValSet-Pref] Add query for `UserValidatorPreferences`"
## Background
Returns the list of ValidatorPreferences for the user.

## Suggested Design

Use the TWAP query format

## Acceptance Criteria

we can query a user's validator preference

[2022-11-02 00:53] ValarDragon commented on #3172
yes please

[2022-11-02 02:45] p0mvn opened #3208 "feat(ci/e2e): create a CI job to test e2e related makefile steps on merge to `main`"
## Background

We should add a CI job on merge to main that would attempt to build all relevant test images necessary for e2e testing. This should help with identifying problematic PRs.

Today we only tend to discover problems with e2e dependency builds when we need to rebuild something. These problems tend to have a cascading effect of discovering even more problems since we don't build these scr

[2022-11-02 02:53] p0mvn opened #3209 "feat(e2e/ci): auto-build and publish to docker hub e2e init images on release"
## Background

We currently publish the following images on release:
https://github.com/osmosis-labs/osmosis/blob/main/.github/workflows/docker.yml

In addition to that, we should auto-publish e2e init images.

Makefile step: https://github.com/osmosis-labs/osmosis/blob/d874d6db0f957036061f2c1b406e0382e90af44d/Makefile#L298-L299
Dockerhub location: https://hub.docker.com/repository/docker/osmolabs

[2022-11-02 02:55] p0mvn opened #3210 "chore(deps): unfork IAVL"
## Background

We should attempt to unfork our IAVL to the latest upstream version.

## Acceptance Criteria
- upgrade SDK fork
- make sure tests pass
- upgrade osmosis
- make sure all tests pass
- test for 1-2 days on mainner
- merge all PRs only upon completion of all previous steps

[2022-11-02 06:21] #2282 closed

[2022-11-02 16:49] p0mvn opened #3218 "[CL][Swapping]: refactor to use Strategy design pattern instead of `zeroForOne` boolean"
## Background

Currently, we use `zeroForOne` boolean within swapping logic that leads to code like this:

[code]

This reduces readability and increases the likelihood of making a mistake by providing a wrong flag. Our functions and methods should be cohesive.

## Suggested Design

Instead, we should use a strategy design pattern. By doing so, we can initialize a specific "strategy" either `zeroF

[2022-11-02 16:50] p0mvn commented on #3201
Can we apply labels please and append this to a story?

[2022-11-02 20:43] ValarDragon commented on #3125
I'm confused as to why anything for e2e is getting built with make install

[2022-11-02 20:43] #3123 closed

[2022-11-02 23:28] AlpinYukseloglu opened #3222 "[x/gamm][stableswap]: Add default scaling factor multiplier"
## Background

Currently default pools set scaling factors to 1, which risks having the scenario where a pool is accidentally created with low maximum capacity (this is hard to reverse if it goes unnoticed until this cap is hit). We should add a default multiplier to all scaling factors and apply this to default scaling factors as well to avoid this scenario.

## Suggested Design

- Apply sufficie

[2022-11-03 04:05] #2956 closed

[2022-11-03 04:08] #3087 closed

[2022-11-03 06:05] RusAkh opened #3227 "Proposal: `autocli` for osmosis"
Suggestion: implement `autocli` features which are used in sdk 47 for osmosis.
* [Autocli usage in sdk](https://github.com/cosmos/cosmos-sdk/search?q=autocli)
* [Relevant issue](https://github.com/cosmos/cosmos-sdk/issues/11775)
* [Autocli godocs](https://pkg.go.dev/cosmossdk.io/api@v0.2.4/cosmos/autocli/v1)

[2022-11-03 09:53] nicolaslara opened #3230 "Update rate limit to use escrowed value across all channels"
## Background

In the current implementation, native tokens are rate limited based on their total supply. We want them to be rate limited based on the total amount of tokens escrowed across all channels.

## Suggested Design

We can implement that by iterating over all the channels and querying their bank balance, but this is inefficient. There is an issue on ibc-go to store this information in st

[2022-11-03 16:16] hieuvubk commented on #3218
Hello is anyone in the process? I'm willing to work with it

[2022-11-03 16:23] czarcas7ic commented on #3218
@p0mvn I will assign @hieuvubk

Thank you!

[2022-11-03 23:51] p0mvn opened #3236 "[CL][Swap Router Module]: test `CreatePool`"
## Background

We should cover the following test cases:
https://github.com/osmosis-labs/osmosis/blob/0c2fa2d14a153b50d5d97525556ad828d3af6344/x/swaprouter/creator_test.go#L37-L39

## Acceptance Criteria
- tests added
- all pass

[2022-11-03 23:55] p0mvn opened #3237 "[CL][Swap Router Module]: define `InitGenesis` and `ExportGenesis` tests on the suite"
## Background

Define the tests on the suite for consistency.

## Suggested Design

Follow TODOs:
- https://github.com/osmosis-labs/osmosis/blob/8653dd77354a19f23923fcd7d90ab01cefdcc39d/x/swaprouter/keeper_test.go#L44
- https://github.com/osmosis-labs/osmosis/blob/8653dd77354a19f23923fcd7d90ab01cefdcc39d/x/swaprouter/keeper_test.go#L60

## Acceptance Criteria
- `InitGenesis` is defined on the suit

[2022-11-04 00:50] p0mvn opened #3238 "[CL][Swap Router Module]: implement store index to map pool id to swap module"
## Background

We need to store a mapping from pool id to swap module (`gamm` or `concentrated-liquidity`).

This is necessary for swaps. Given the pool id, we should be able to know which module to route the swap to.

Currently, `swaprouter` hardcodes all swaps to be routed to `gamm`.

## Suggested Design

See for details: https://github.com/osmosis-labs/osmosis/pull/3233

1. Implement:

[code]

[2022-11-04 00:51] p0mvn commented on #3131
This is now blocked on https://github.com/osmosis-labs/osmosis/issues/3238 since we need proper routing to work first

[2022-11-04 01:04] p0mvn commented on #3238
Before proceeding, consider alternatives from: https://github.com/osmosis-labs/osmosis/issues/3097

[2022-11-04 02:01] czarcas7ic opened #3239 "[CL]:[Swap] Test CurrentSqrtPrice"
## Background

When running a SwapOutAmtGivenIn, we update the pool to show what the new currentSqrtPrice is after the swap. Sometimes, this takes multiple iterations to converge on the final value. We need to find a good way to test that the resulting currentSqrtPrice is appropriate and add it here to the table driven test.

https://github.com/osmosis-labs/osmosis/blob/dd6e2121430d236411802cfdc63

[2022-11-04 06:22] #2909 closed

[2022-11-04 06:27] p0mvn opened #3240 "[CL][Misc]: consider removing "pool_count" index and `NumPools` query from `gamm`"
## Background

It is questionable whether `NumPools` query in `x/gamm` has any use to clients.
Currently, we store an additional index to keep track of this count.

## Suggested Design

We should consider removing this query from `x/gamm` and the `pool_count` store index.

## Acceptance Criteria
- Decision is made
- If decided to remove, all of the store index, relevant methods, queries and CLI ar

[2022-11-04 06:29] p0mvn commented on #3240
If no argument for keeping the "NumPools" query in `x/gamm` is made in the next few days, I propose we remove it.

[2022-11-04 06:30] ValarDragon commented on #3227
Yeah, very interested in doing this! I mentioned this to @faddat as something I'm really interested in!

Want to start trying this with `x/lockup` ?

[2022-11-04 06:36] RusAkh commented on #3227
Yes yes of course @ValarDragon

[2022-11-04 06:40] p0mvn opened #3241 "[CL][Swap Router Module]: rename the module"
## Background

The original name was chosen with the assumption that only the swaps would be routed through the module.

Later, we decided to route pool creation and handle id management in the module as well.

## Suggested Design

Choose either:
- "Pool Router"
- "Pool Manager"

## Acceptance Criteria
- new name is chosen
- all references are updated in code
- updated GitHub user story issue: htt

[2022-11-04 06:41] p0mvn commented on #3241
Let's tackle this at the end to avoid naming confusion midway through implementing the feature.

Please feel free to suggest other names in the meantime

[2022-11-04 07:22] p0mvn opened #3243 "[CL][Concentrated Liquidity Module]: create a separate file and folder for pool implementation"
## Background

Currently, we have keeper methods and pool methods both mixed up in `pool.go`.

We should separate pool methods from the keeper methods.

## Suggested Design

1. Create a `concentratedpool` package in the root of the module.
2. Regenerate the `concentratedPool.pb.go` file to the above package
3. Move all pool method implementations from into the `concentratedpool` package
4. Port te

[2022-11-04 07:46] p0mvn opened #3245 "[CL][Concentrated Liquidity Module]: implement `MsgCreateConcentratedPool`"
## Background

This issue is blocked on: https://github.com/osmosis-labs/osmosis/issues/3243

Upon successfully implementing the above refactor, and implement the new `MsgCreateConcentratedPool` in the `concentratedpool` package.

Follow the structure and design similar to `MsgCreateBalancerPool`, `MsgCreateStableswapPool`

Implement the message server method:

[code]

Add tests

## Acceptance Cri

[2022-11-04 08:26] hieuvubk commented on #3237
Hi could I work with it?

[2022-11-04 19:52] ValarDragon opened #3251 "Move binary search to its own package"
## Background

We should move binary search out of osmoutils into its own package. Its a nice self-contained, reusable unit. I suggest we make this a sub-package within `osmomath`.

## Acceptance Criteria

It is contained in its own subpackage

[2022-11-05 04:12] anhductn2001 commented on #3208
Hi @p0mvn, I am working on this issue. Everything is good except make test-e2e-short. It's failing both on my github action and on my local.
![image](https://user-images.githubusercontent.com/62016666/200100255-c495ffda-78be-4890-8b46-2146569a89f1.png)

[2022-11-05 07:38] RusAkh commented on #3227
Autocli is a very undocumented feature so if anybody has some information about it or is willing to help, it would be fantastic!

[2022-11-05 22:17] AlpinYukseloglu opened #3254 "[x/gamm][stableswap]: Switch solver error tolerance to be geometric"
## Background

Additive error tolerance fails to follow expected behavior at limits. This especially becomes an issue when we enforce a sizable scaling factor multiplier, so we should switch our error tolerance to be geometric.

## Suggested Design

- Replace additive tolerance with `10^-24` multiplicative tolerance

## Acceptance Criteria

- All existing tests should pass

[2022-11-05 22:23] AlpinYukseloglu opened #3255 "[x/gamm][stableswap][bug]: Enforce minimum post-scaled asset amounts"
## Background

Since our k values are cubic in the input amounts, scaling factors that take input reserves below 1 expose an attack vector where our solver can be forced to panic (push reserves to be small enough such that k is always zero causing a div by zero when calculating k ratios)

## Suggested Design

- Require a minimum post-scaled asset amount of 1 per asset in a pool and enforce this on

[2022-11-05 22:25] #2346 closed

[2022-11-07 01:49] stackman27 opened #3261 "[ValSet-Pref] Use `MsgRedelegateValSet` to update weights instead of `MsgSetValSetPreference` for delegated tokens"
## Background
Currently we allow user to create valset-pref through `MsgSetValSetPreference`. A user can update the weights as well using this message only if they haven't delegated any tokens. Once they delegate tokens they must not be able to change the weights unless they run `MsgRedelegateValSet`.

## Suggested Design
Check if the user has delegated to the existing val-set pref or not and if t

[2022-11-07 03:10] p0mvn commented on #3140
Closed by #3192

[2022-11-07 03:41] RusAkh commented on #3243
hello @p0mvn, need help on this?

[2022-11-07 06:14] p0mvn commented on #3097
closed by #3238

[2022-11-07 06:14] #3097 closed

[2022-11-07 06:35] mattverse commented on #3243
Hrrm, srry if Im missing something, but I don't understand the reason to have a separated out structure for the cl module if cl is the only pool model within the module. Also, this way, we can't access state for the ticks if its a pool method. Are you thinking of this design to be swap-router compatible?

[2022-11-07 07:29] hieuvubk commented on #3236
It's blocked by #3245 . I'm willing to work on this issue after `MsgCreateConcentratedPool ` is implemented.

[2022-11-07 08:29] RusAkh commented on #454
Hello @ValarDragon is this still needed?

[2022-11-07 13:39] github-actions[bot] opened #3272 "Mutation test 2022/11/07"
--- ./x/tokenfactory/keeper/genesis.go	2022-11-07 13:15:16.170239036 +0000
+++ /tmp/go-mutesting-1839694767/./x/tokenfactory/keeper/genesis.go.5	2022-11-07 13:19:42.677674016 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-1839694767/./x/tokenfactory/keeper/genesis.go.5" with checksum 956032c4e4bdae36c6d3143ce7370d84
--- ./x/tokenfactory/keeper/genesis.go	2022-11-07 13:15:16.170239036 +00

[2022-11-07 16:47] #3193 closed

[2022-11-07 16:52] AlpinYukseloglu opened #3277 "[x/gamm][stableswap]: Panic catch core operations at keeper level"
## Background

We currently panic when there is an issue with the solver or core AMM math. We should catch these panics at the keeper level and return errors as we do with spot prices for balancer pools.

## Suggested Design

- Catch panics and turn into errors with appropriate error messages

## Acceptance Criteria

- All new and existing tests pass

[2022-11-07 18:09] p0mvn commented on #3243
Do you mean having a separate pool model?

Pool-model is a separate component so I think it makes sense to encapsulate it into its own package. It would also work well with the abstractions in `x/gamm` where each pool model belongs to their own package.

With the current API, what are the methods that would need to have access to ticks? We should be able to keep such methods on the keeper.

What d

[2022-11-07 20:29] #3222 closed

[2022-11-07 20:29] #3254 closed

[2022-11-07 20:29] #3255 closed

[2022-11-07 21:08] AlpinYukseloglu opened #3289 "[x/gamm][stableswap]: Increase max post-scaled amount to 10^34"
## Background

Now that we have fully switched to geometric error tolerance, we can accommodate significantly larger asset amounts and can increase our max post-scaled amount instead of dealing with additional complexity arising from a large scaling factor multiplier.

## Suggested Design

- Increase max post-scaled amount to `10^34`

## Acceptance Criteria

- All new and existing tests pass

[2022-11-07 22:07] #3289 closed

[2022-11-07 23:47] p0mvn opened #3291 "[CL][Swapping]: avoid redundant conversions between sqrt price and tick"
## Background

We perform redundant conversions:
https://github.com/osmosis-labs/osmosis/blob/b582a52bcdb7c390c520b99e3b757f2a68ea4429/x/concentrated-liquidity/pool.go#L138

These conversions utilize logarithm that is expensive to compute.

## Suggested Design

We store current tick in state and can provide it directly to `swapState` instead of recomputing

## Acceptance Criteria
- redundant conve

[2022-11-07 23:49] p0mvn commented on #3238
fixed by #3097

[2022-11-07 23:49] #3238 closed

[2022-11-08 16:36] faddat opened #3305 "delete tag v1.0.4 or retract"
## Background

For some time now, I keep forgetting to mention that this does not work.  v1.0.3-dev doesn't apphash, however.

## Suggested Design

delete or retract osmosis v1.0.4

[2022-11-08 21:12] ValarDragon commented on #3305
So the first version people should use is v3.1.0 (source; https://github.com/cosmos/chain-registry/blob/master/osmosis/chain.json#L57-L98)

I'm not sure that we should be deleting older tags though. (Does github have a notion of retracting a tag?)

[2022-11-09 00:07] #3017 closed, assigned to nobody

[2022-11-09 03:37] RusAkh commented on #3277
hello @AlpinYukseloglu is this available to work on?

[2022-11-09 03:53] ValarDragon commented on #3227
If its insufficient at any point, also open to forking it into osmosis & iterating here

[2022-11-09 23:27] #3277 closed

[2022-11-10 07:06] RusAkh commented on #3143
hello @p0mvn is anyone working on this? I would like to help

[2022-11-10 10:17] JohnnyWyles opened #3320 "Implement Minimum Gas Price (Proposal 354)"
## Background

[Proposal 354](https://www.mintscan.io/osmosis/proposals/354) recently passed, adding this as a tracking issue

## Suggested Design

* Implement a minimum gas price of 0.0025 uOSMO at the protocol level to be modifiable by governance.
* Replace spot pricing of alternative gas assets with a TWAP over at least 24 hours

[2022-11-10 16:23] p0mvn opened #3322 "bug(gamm/v13): pools CLI query does not work with stableswap"
## Background

- To reproduce, create a stableswap pool on v13.
[code]

ss-pool.json
[code]

- Run: `osmosisd q gamm pools`
- See: `Error: rpc error: code = Unknown desc = runtime error: invalid memory address or nil pointer dereference: panic`
- At the same time, the query

## Acceptance Criteria
- fix the query for stableswap pools
- test its working
- backport to v13

[2022-11-10 16:28] #2906 closed

[2022-11-10 19:37] #3210 closed

[2022-11-10 19:41] AlpinYukseloglu opened #3328 "[WIP] Stableswap Internal Audit Tracking Issue"
### Full Report: https://hackmd.io/juU2yglrRTyYJKJF2Tt8Pw

This tracking issue covers the list of issues that came up during our end-to-end internal review of the stableswap package in preparation for v13.

Release blocking (safety issues):
- [x] #3255
- [x] #3277
- [x] #3254
- [x] #3353

No safety risk but either completeness issue or odd behavior:
- [x] #3355

Minor/code hygiene:
- [x] Exit sing

[2022-11-10 20:06] p0mvn opened #3329 "test(stableswap): SetScalingFactors"
## Background

No tests `SetScalingFactors`

## Suggested Design

Add table-driven tests:

- [ ] https://github.com/osmosis-labs/osmosis/blob/bbd4d5bc496ecfbe8eaa98b294eab15c3c33d9d5/x/gamm/pool-models/stableswap/pool.go#L378
- [ ] https://github.com/osmosis-labs/osmosis/blob/2bd5f763ac59d26a75f0486e4fd2b568a5313e37/x/gamm/keeper/pool.go#L270

## Acceptance Criteria
- coverage is maximized

[2022-11-11 02:14] ValarDragon opened #3340 "(v13): Wasmhooks test"
## Background

We would like to test the IBC-wasm hooks feature, that is intended to go into v13. (And thereby enable cross-chain swaps)

We have some details of the feature spec'd out at the conclusion section of this doc https://hackmd.io/JSxQbd7NTe-Da-nZkviwJQ, working on a spec to better document this.

We want to make an end to end test for this, as it is complex to standalone test. To do so,

[2022-11-11 18:47] ValarDragon opened #3346 "Correct Osmo-multihop swapfee reduction"
## Background

 https://github.com/osmosis-labs/osmosis/pull/2454 introduced a multihop swapfee reduction as per governance. Unfortunately however, this PR doesn't follow the spec for it.

Even worse, the spec for this didn't make it into github, so there was no way for PR author or reviewers to have seen it, and they must have rederived it on their own. (This is my fault, I don't even know where

[2022-11-11 20:22] ValarDragon opened #3348 "Github CI: Update deprecated go test cache work"
## Background

We see this warning `GitHub Actions: Deprecating save-state and set-output commands` on every PR now, in the load from cache step, linking to: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

Haven't read through yet, but seems like something we need to fix

[2022-11-12 02:47] AlpinYukseloglu opened #3353 "[x/gamm][stableswap][bug]: Spot prices are not descaled"
## Background

We calculate spot prices on scaled pool amounts but do not descale the output. Also, if we assume people will use large scaling factors, our 1 token swap approximation might not be precise enough.

## Suggested Design

- Scale `a` by input denom's scaling factor and descale output by its scaling factor

## Acceptance Criteria

- All new and existing tests pass
- Justification for wh

[2022-11-12 02:54] AlpinYukseloglu opened #3355 "[x/gamm][stableswap]: Clean up rounding for single-asset joins"
## Background

We handle rounding for single asset joins quite oddly and should clean everything up to use our new rounding-specific comparison functions.

## Suggested Design

- Add rounding logic to `ErrTolerance`'s `CompareRounding` function as is implemented in `CompareBigDec`
- Replace `Compare` in `BinarySearchSingleAssetJoin` with `CompareRounding`
- Remove the subtraction by 1 on the input

[2022-11-12 03:42] czarcas7ic commented on #3143
@RusAkh im fairly certain Roman is working on this / has nearly completed

[2022-11-14 03:33] RusAkh commented on #3348
id like to fix it

[2022-11-14 03:55] ThanhNhann commented on #3329
Hey @p0mvn, can I handle this task?

[2022-11-14 06:03] AlpinYukseloglu opened #3364 "[x/gamm][stableswap]: Apply code cleanup and minor issues that came up during internal review"
## Background

Apply the minor/code hygiene points that came up during code review, as listed here: https://github.com/osmosis-labs/osmosis/issues/3328

## Suggested Design

- [x] Exit single asset join early for zero input (currently runs over negative target for 1-token input)
- Fixed by #3355
- [x] Align single-asset join portion of `joinPoolSharesInternal` with all-asset portion (update error

[2022-11-14 06:05] #3355 closed

[2022-11-14 06:06] anhductn2001 commented on #3208
Can you check this, plss..

[2022-11-14 08:54] AlpinYukseloglu opened #3370 "[x/gamm][stableswap]: New tests to be added"
## Background

We should add the following tests for better coverage:

- [ ] Add inverse relation mode for direct swaps in addition to just calcs, and checking that swap fee (squared) is charged
- [ ] Add tests for spot price with scaling factor differences and exact spot prices
- [x] Add tests that swap amounts' precision does not decay as liquidity increases
- https://github.com/osmosis-labs/osm

[2022-11-14 09:19] #3364 closed

[2022-11-14 13:37] github-actions[bot] opened #3373 "Mutation test 2022/11/14"
--- ./x/tokenfactory/keeper/genesis.go	2022-11-14 13:16:44.826263354 +0000
+++ /tmp/go-mutesting-3222405736/./x/tokenfactory/keeper/genesis.go.5	2022-11-14 13:21:17.008235725 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-3222405736/./x/tokenfactory/keeper/genesis.go.5" with checksum 956032c4e4bdae36c6d3143ce7370d84
--- ./x/tokenfactory/keeper/genesis.go	2022-11-14 13:16:44.826263354 +00

[2022-11-14 16:49] czarcas7ic commented on #3208
@anhductn2001 did you run `e2e-setup` prior to this

[2022-11-14 17:13] p0mvn commented on #3329
Hi @ThanhNhann . Yes please

[2022-11-14 17:45] ThanhNhann commented on #3370
Hi @AlpinYukseloglu, can I handle this task?

[2022-11-14 18:31] anhductn2001 commented on #3208
Yes!! I did. In 'make test-e2e-short' had e2e-setup. Have you tested it yet??

[2022-11-14 18:34] anhductn2001 commented on #3208
My colleague ran it and got the same error!!

[2022-11-15 00:25] #3346 closed

[2022-11-15 01:08] anhductn2001 commented on #3208
I agree. But now this test is for non upgrade and i think this is a issue

[2022-11-15 02:32] p0mvn commented on #3208
The upgrade should be disabled for `make test-e2e-short`. This is the short makefile step to test locally without upgrade.

[2022-11-15 02:37] czarcas7ic commented on #3208
Right, I think for some reason the upgrade being disabled (on e2e-short) messes up that specific test. I haven't had time to look into it though

[2022-11-15 02:54] p0mvn opened #3384 "chore: fix `make test-unit` permission error"
## Background

`make test-unit` is getting a permission error in one of the `.wasm` bytecode files.

This is what I'm getting when running `make test-unit` on `main`:
[test.log](https://github.com/osmosis-labs/osmosis/files/10008715/test.log)

## Suggested Design

We should fix these errors.

## Acceptance Criteria
`make test-unit` passes with no errors

[2022-11-15 02:55] p0mvn commented on #3384
CC: @nicolaslara could it be related to any of the wasm files we merged today?

[2022-11-15 03:36] anhductn2001 commented on #3208
We can create a new issue and I will spend time to check it

[2022-11-15 06:35] nicolaslara commented on #3384
I don't think that's related, but I'll take a look.

It seems to be on the tests for the wasmbindings. My first guess is that something changed at the os level where the tests are run. I'll report back in a bit

[2022-11-15 06:38] mattverse opened #3386 "De-duplicate code from `MultihopSwapExactAmountIn` and `EstimateMultihopSwapExactAmountIn`"
## Background
https://github.com/osmosis-labs/osmosis/pull/2764#discussion_r975897729

There's a lot of code duplication between `MultihopSwapExactAmountIn` and `EstimateMultihopSwapExactAmountIn` that could possibly be generalized so that we don't have so much repeating boilerplate.

## Suggested Design

Create a generalized method or re-structure the two methods so that we dont have duplicated c

[2022-11-15 08:13] hieuvubk commented on #3178
Hi @mattverse is `CreateNewConcentratedLiquidityPool` issue still needed? Id like to work with it

[2022-11-15 09:56] hieuvubk commented on #3240
Hi if we got final decision about this issue, I'm willing to work with it

[2022-11-15 17:11] p0mvn commented on #3384
@nicolaslara thanks for looking into it. Sounds like a machine-specific issue. I'll try debugging this locally

[2022-11-15 20:41] p0mvn opened #3399 "fix: import paths CI job"
## Background

Import paths ci job is failing:
https://github.com/osmosis-labs/osmosis/actions/runs/3473319104/jobs/5805205259

We should update the relevant scripts to unblock the CI.

## Acceptance Criteria
- import paths CI job is working
- updates all relevant import paths correctly
- test on a personal fork added

[2022-11-15 21:45] p0mvn commented on #3013
Some notes on the investigations so far:

The naive approach to computing a geometric weighted average is not desirable. First, it is computationally expensive. Second, it causes overflows when attempting to exponentiate spot price with the time weight denominated in milliseconds. Using seconds instead would make us lose precision.

The proposed approach requires using `Power()` function that take

[2022-11-16 02:23] anhductn2001 commented on #3208
Wait, should I wait for the PR to be merged before continue..

[2022-11-16 03:01] czarcas7ic commented on #3208
@anhductn2001 just merged it

[2022-11-16 05:17] RusAkh commented on #3348
https://github.com/mheap/github-action-required-labels/issues/42#issuecomment-1315784425

[2022-11-16 05:19] RusAkh commented on #3399
I'll fix it

[2022-11-16 07:35] #3353 closed

[2022-11-16 07:43] #3348 closed

[2022-11-16 18:34] #3399 closed

[2022-11-17 12:42] joe-bowman opened #3427 "Improve error message when trying to Exit 100% of a pool"
#### System information

Osmosis version: `v13.0.0-rc2`

#### Expected behaviour

The last user in a pool should be able to completely exit the pool.

#### Actual behaviour

The last user in a pool must leave 1 gamm token in the pool

#### Steps to reproduce the behaviour

- Create a pool
- Join pool
- Exit pool with 100% of shares
- Receive error "100000000000000 resulted shares is larger than th

[2022-11-17 13:13] ValarDragon commented on #3427
This is expected behavior

[2022-11-17 13:48] joe-bowman commented on #3427
Then presumably the error message wants changing? because this is somewhat confusing:
`100000000000000 resulted shares is larger than the max amount of 100000000000000`.

[2022-11-17 20:20] p0mvn opened #3434 "test(stableswap): validateScalingFactors function"
## Background

Test this:
https://github.com/osmosis-labs/osmosis/blob/6398733549c124cb973eaa20d7aaba0fe6915ab9/x/gamm/pool-models/stableswap/pool.go#L439

## Acceptance Criteria
- coverage maximized

[2022-11-17 20:22] p0mvn commented on #3434
Not v13 blocking but good to have

[2022-11-17 20:25] p0mvn opened #3435 "test(stableswap): `getLiquidityIndexMap` function"
## Background

https://github.com/osmosis-labs/osmosis/blob/6398733549c124cb973eaa20d7aaba0fe6915ab9/x/gamm/pool-models/stableswap/pool.go#L158

## Acceptance Criteria
- case with 2 assets, case with 4 assets

[2022-11-17 20:25] p0mvn commented on #3435
Non-blocking for v13

[2022-11-17 20:41] p0mvn opened #3436 "test(stableswap): `targetKCalculator`"
## Background

Test this:
https://github.com/osmosis-labs/osmosis/blob/6398733549c124cb973eaa20d7aaba0fe6915ab9/x/gamm/pool-models/stableswap/amm.go#L254

## Acceptance Criteria
- a few test cases to make sure that the invariant in the godoc holds

[2022-11-17 20:45] p0mvn opened #3437 "test(stableswap): `deriveUpperLowerXFinalReserveBounds` function and spec"
## Background

Test this and add a godoc explaining logic in detail:
https://github.com/osmosis-labs/osmosis/blob/6398733549c124cb973eaa20d7aaba0fe6915ab9/x/gamm/pool-models/stableswap/amm.go#L288

## Acceptance Criteria
- test coverage is maximized
- godoc added

[2022-11-17 20:49] p0mvn commented on #3437
Someone with a solid understanding of stableswap should work on this to add a decent godoc

Based on the README, I thought that the lower bound is always 0 but we seem to only set in under a certain condition:
https://github.com/osmosis-labs/osmosis/blob/6398733549c124cb973eaa20d7aaba0fe6915ab9/x/gamm/pool-models/stableswap/amm.go#L304-L305

CC: @ValarDragon @AlpinYukseloglu

[2022-11-17 21:04] p0mvn opened #3438 "test(stableswap): compare direct solver and binary search solver outputs given the same inputs"
## Background

We should have a test comparing the results of the direct solver to the binary search solver. That is,

- [solveCFMMMultiDirect](https://github.com/osmosis-labs/osmosis/blob/6398733549c124cb973eaa20d7aaba0fe6915ab9/x/gamm/pool-models/stableswap/amm.go#L178)
- [`solveCFMMBinarySearchMulti`](https://github.com/osmosis-labs/osmosis/blob/6398733549c124cb973eaa20d7aaba0fe6915ab9/x/gamm/p

[2022-11-17 21:04] p0mvn commented on #3438
@AlpinYukseloglu let me know what you think, please. I think this would be nice to have before the upgrade

[2022-11-17 21:06] p0mvn opened #3439 "test(stableswap): `iterKCalculator` function"
## Background

Test this:
https://github.com/osmosis-labs/osmosis/blob/6398733549c124cb973eaa20d7aaba0fe6915ab9/x/gamm/pool-models/stableswap/amm.go#L269

## Acceptance Criteria
- a few table-driven test cases
- ensure that the invariant in comments holds

[2022-11-17 21:40] p0mvn commented on #2962
I believe this is now solved. Closing for now. Thank you @migueldingli1997

[2022-11-17 21:46] p0mvn commented on #2962
Actually, this is not solved. I mistook it for another refactor we did. Keeping open until further investigations

[2022-11-17 21:47] p0mvn commented on #2962
@mattverse seeing that you are assigned here. Any updates on this? I'm still seeing some twap tests having assets misplaced

[2022-11-17 21:48] p0mvn commented on #3322
Fixed in: https://github.com/osmosis-labs/osmosis/commit/a355026db2f204f14394473ea69e9410cc2ed77e

[2022-11-17 21:48] #3322 closed

[2022-11-17 23:38] p0mvn opened #3443 "test(x/twap): split up TestComputeArithmeticTwap_ThreeAsset into arithmetic and geometric"
## Background

With the introduction of geometric twap, we split `computeArithmeticTWAP` into:
- `computeTWAP`
- `computeArithmeticTwap`
- `computeGeometricTwap`

`TestComputeArithmeticTwap_ThreeAsset` needs to be refactored to test all kinds of twaps and the 3 above functions

## Acceptance Criteria
- refactor the test to test both arithmetic and geometric twap whilte testing `computeTwap` functi

[2022-11-17 23:41] AlpinYukseloglu commented on #3438
We actually did have a test like this but ended up splitting it up into separate ones - since we test both the direct and binary search solvers against the same CFMM (i.e. k stays constant for both), adding this back in wouldn't meaningfully increase coverage imo. I'll still try to throw one together if I get through the rest of my pre-launch backlog but this shouldn't be release blocking imo

[2022-11-18 00:03] ValarDragon commented on #3427
Ah yeah, lets change that error message! (Should just need to subtract one from the max amount displayed)

For context, it breaks some assumptions around other methods, and we are in undefined behavior if the last share exits.

The number of shares is sufficiently large, s.t. we believe that the last LP share is negligible

[2022-11-18 00:04] ValarDragon commented on #3437
If the initial y guess is too small, that implies that it acts as the lower bound.

If the initial y guess is too large, then we keep the lowerbound as 0

[2022-11-18 03:38] ValarDragon commented on #3427
Want to submit or update the PR, to fix the error message?

[2022-11-18 06:05] hoangdv2429 commented on #3434
Seems open. Can I handle this ?

[2022-11-18 06:46] RusAkh commented on #3435
I'll do that

[2022-11-18 08:01] hoangdv2429 commented on #3436
Seems open. Can I handle this ?

[2022-11-18 09:32] RusAkh commented on #3439
I'll do that

[2022-11-18 17:39] RusAkh commented on #3386
I would like to look into that

[2022-11-18 18:14] czarcas7ic commented on #3386
This has been completed in the original PR

[2022-11-18 18:15] czarcas7ic commented on #3386
Via this method https://github.com/osmosis-labs/osmosis/pull/2764#issuecomment-1315563274

[2022-11-18 21:30] ValarDragon commented on #3439
Hey, is it alright if I take this over? I think its actually fairly involved to get a useful test for this

[2022-11-20 03:30] 08d2 opened #3465 "Is there any way to run a reliable Osmosis full node without constant manual intervention?"
I'm responsible for the availability of an infrastructure which includes, among many other things, multiple Osmosis full nodes. I've written automation tooling to keep these nodes up-to-date, which assumes (1) the releases provided by this GitHub repository are authoritative; and (2) those releases abide the semver semantics that they express.

Today, about an hour ago, my Osmosis mainnet full nod

[2022-11-20 07:25] sing1ee opened #3466 "block syncing stop at 6969520"
#### System information

Osmosis version: `v12.3.0`
OS & Version: Linux ubuntu 20.04
Commit hash:

#### Expected behaviour
Keep the latest block height

#### Actual behaviour
stop at 6969520

#### Steps to reproduce the behaviour

1. This morning I found that the block synchronization stopped at 6969520
2. I checked the releases and found v12.3.0 is a hard fork version, so I upgraded to v12.3.0
3.

[2022-11-20 18:36] AlpinYukseloglu commented on #3328
All issues have been addressed!

[2022-11-20 18:36] #3328 closed

[2022-11-20 23:49] #3208 closed

[2022-11-21 13:32] github-actions[bot] opened #3470 "Mutation test"
--- ./x/tokenfactory/keeper/genesis.go	2022-11-21 13:14:51.196611103 +0000
+++ /tmp/go-mutesting-2850333864/./x/tokenfactory/keeper/genesis.go.5	2022-11-21 13:18:41.910947459 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-2850333864/./x/tokenfactory/keeper/genesis.go.5" with checksum 172a192677e7b319d74db0eef25836be
--- ./x/tokenfactory/keeper/genesis.go	2022-11-21 13:14:51.196611103 +00

[2022-11-21 14:16] #3209 closed

[2022-11-21 14:17] ValarDragon commented on #3466
You have to resync from a snapshot unfortunately. You can download a pruned one from here: https://quicksync.io/networks/osmosis.html

Were waiting on the SDK to complete refactoring of the IAVL key formats, for this to become an easy thing to rolback.

[2022-11-21 14:17] #3466 closed

[2022-11-21 14:48] ValarDragon commented on #3465
The mainnet halt yesterday was introduced in v12.2.0, we tried our best to communicate that this was necessary as an emergency security upgrade on all available channels.

[2022-11-21 16:02] #3434 closed

[2022-11-22 04:39] faddat commented on #3465
Hi @08d2 -- I think that this incident illustrates the importance of perpetually patching to the latest release -- possibly using automated tooling.

Our team was one of the ones that went down, meaning that we didn't help to secure the network in this case, a serious failing on our part.

What we're doing to address this, is improving cosmosia (https://github.com/notional-labs/cosmosia) to let us

[2022-11-22 04:50] faddat commented on #3305
no, but go.mod does.  Thank you for reminding me about the version walking thing.  I'd forgotten.

[2022-11-22 04:50] #3305 closed

[2022-11-22 06:14] ThanhNhann commented on #3157
Hey @mattverse, can I handle one of the tests above?

[2022-11-23 01:10] p0mvn opened #3495 "feat(CI): add the ability to generate upgrade handler manually"
## Background

It would be great to have the ability to run this manually:
https://github.com/osmosis-labs/osmosis/pull/3100/files

At the time of this writing, we have a v13 rc tagged but the final release is not out yet,

In the meantime, we are continuing to work on v14 upgrade features. Therefore, it would be useful to have the ability to generate v14  upgrade handler before v13 is officially

[2022-11-23 03:40] #3240 closed

[2022-11-23 16:47] pysel opened #3499 "AutoCLI Tracking Issue"
Draft PR: https://github.com/osmosis-labs/osmosis/pull/3485

# Abstract

Due to the fact that `autocli` is already implemented in SDK (even though it does not provide much functionality yet), the main goal is to follow SDK's approach to make the same thing possible for Osmosis.

# Checklist for implementing SDK's features
- [x] `client/v2` folder <sub> (aka api types) </sub>
- [x] Add simulation r

[2022-11-23 20:42] ValarDragon commented on #3499
Why does CLI have any need for simulation?

[2022-11-23 20:51] ValarDragon opened #3501 "Make issue on wasmd detailing why their simulator change breaks osmosis sim"
## Background

wasmd in v0.29 made an assumption with their simulator, makign it create txs with any fee denom. This causes tx errors with osmosis, due to our txfee whitelist. We should make an issue / submit a PR there to fix/change this.

## Acceptance Criteria

Wasmd version updated, so we can undo removing it from sims:
- https://github.com/osmosis-labs/osmosis/pull/3493/commits/89078ba1ec2a7c

[2022-11-24 07:26] alwyn-ixo opened #3509 "IXO missing from Assets"
#### System information

Osmosis version: [`Osmosis version`](https://app.osmosis.zone/assets)
OS & Version: OSX
Commit hash: N/A

#### Expected behaviour
When a user searches for the IXO token they should find it.

#### Actual behaviour
IXO token can no longer be found when searching for it.
The IXO/OSMO and IXO/ATOM pools are still available.

#### Steps to reproduce the behaviour
Search for the

[2022-11-24 10:28] RusAkh commented on #3499
for the purpose of demonstrating that it works. I should have clarified that, my bad

[2022-11-24 10:29] RusAkh commented on #3499
it will only be there while it is draft, I will remove it prior to merging
that is the plan for now at least

[2022-11-24 13:11] hieuvubk opened #3510 "Integrate strategy pattern for `tick` & relocate strategy to own package"
## Background

Refer from [#3232(comment)](https://github.com/osmosis-labs/osmosis/pull/3232#pullrequestreview-1190996348)
We should implement this design for `NextInitializedTick`  to remove the `zeroForOne` check as much as possible

[2022-11-24 14:56] p0mvn commented on #3510
Thanks @hieuvubk .

Synched offline that this has been partially complete while not being tracked in issues

[2022-11-25 01:03] p0mvn opened #3514 "feat(x/twap): implement reusable TWAP API"
## Background

We need to expose a geometric TWAP API. Its implementation would be almost identical to the arithmetic TWAP API.

Therefore, we must develop proper abstractions to reduce code duplication and avoid complexity.

Consider the current implementation of `GetArithmeticTWAP()`:
[code]

With the `GetGeometricTWAP()`, all code would be similar besides the lines marked as "difference" in com

[2022-11-25 01:09] p0mvn commented on #3514
The PR split could be done in the following way to limit the scope and simplify reviews:
- Points 1-3
- Points 4-5
- Points 6-7
- Point 8

First PR (1-3) can be started immediately while the rest is blocked on https://github.com/osmosis-labs/osmosis/pull/3420

[2022-11-25 01:11] p0mvn commented on #3514
@stackman27 please let me know if you're interested in picking this up

Would also appreciate reviews of the proposal from anyone to agree on the direction

[2022-11-25 02:21] stackman27 commented on #3514
Hi @p0mvn yea i can give **points 1-3** a shot

[2022-11-25 14:23] faddat commented on #1090
It exists in v12 too.

[code]

[2022-11-25 14:26] faddat commented on #2295
https://github.com/osmosis-labs/osmosis/pull/3507

Does anyone other than myself have a state sync script?

I favor Dev's approach, and use it widely on other chains.  It is a safe way to check for app hash errors.  It requires linking a physical machine into ci because otherwise it takes forever and a day.

[2022-11-25 15:30] faddat opened #3517 "State sync is broken in v12.2.1+"
## Context

I've never been able to state sync osmosis.  I've contributed state sync scripts, some with pebbledb, some without, to > a dozen other cosmos chains.

There's been progress lately, namely that errors are reduced to those described here:

* https://github.com/osmosis-labs/osmosis/pull/3507
* https://github.com/osmosis-labs/osmosis/issues/1090

My initial guess was that it was related to

[2022-11-25 15:38] faddat opened #3518 "backport fast iavl to v3.x"
This is somehow connected to a number of issues and concerns around sync and historical state.

We should have a script that completes this task in under 24h, too.

* #3550

[2022-11-25 15:38] faddat opened #3519 "backport fast iavl to v4.x (create a separate issue)"
Note: Still working on this issue.

[2022-11-25 17:10] atomlab opened #3521 "Error: error during handshake: error on replay: validator set is nil in genesis and still empty after InitChain"
#### System information

Osmosis version: `12.3.0`
OS & Version: Linux (debian 11.2)

#### Expected behaviour
node is up and running

#### Actual behaviour

Crashed with an error
[code]

#### Steps to reproduce the behaviour

[code]

#### Backtrace

[code]

[2022-11-25 18:34] atomlab commented on #3521
I have download genesis.json again from `https://github.com/osmosis-labs/networks/raw/main/osmosis-1/genesis.json`  and faced another error.

[code]

[2022-11-25 21:01] 08d2 commented on #3465
@ValarDragon

So [semver says](https://semver.org/) v12.2.0 expresses MAJOR version 12, MINOR version 2, and PATCH version 0. It defines an increment of the MINOR version to signal adding functionality in a backwards compatible manner. Which I guess means that v12.2.0 is supposed to be backwards-compatible with v12.1.0 — and with v12.0.0, and v12.5.13, or v12.anything, really. You can absolutely b

[2022-11-26 00:45] faddat commented on #3517
So I just spent ... pretty much way too long making state sync work.

this was going to be a writeup of problems, but I **just** got it working.

I don't know why it frequently doesn't work,  **but** my node just reached the tip.

In order to make it work, I set a server to make a snapshot every 100 blocks.  This actually takes longer than every 100 blocks takes to pass by, but basically I:

used

[2022-11-26 00:46] #3517 closed

[2022-11-26 01:20] faddat commented on #427
To make log output more useful, I've been working towards getting this implemented in tendermint itself:

https://github.com/tendermint/tendermint/pull/9764

@czarcas7ic & @vuong177 & @blockpane

-- curious how you'd feel about a default tendermint log output like:

[code]

[2022-11-26 01:24] czarcas7ic commented on #427
When I first read this I thought you meant BPS of the live chain itself, not the syncing BPS. Tbh anything is better than what it is now, but yeah I think this would be nice to have (with priority on noise reduction, but things like sync bps speed would be cool!)

[2022-11-26 01:25] faddat commented on #427
When I made the issue, I didn't know how to solve the issue :)

But, seems getting somewhere now.

[2022-11-26 01:26] czarcas7ic commented on #3521
my guess is you are syncing from genesis with the wrong version, or you are trying to sync from v12 with no snapshot. If you haven't already, utilize https://get.osmosis.zone

[2022-11-26 02:32] p0mvn opened #3530 "osmoutils.GetIfFound semantics discussion"
Can be changed later / can discuss in an issue, should not block this PR. Perhaps this should be called `HasWithType` ?

e.g. if we were masters of the store interface
[code]

Has to indicate its a bool (rather than assuming you'd get the object back)

OR is proto.Message here actually mutated? If so lets update the comment, but this doesn't actually make sense to me as an API.

Why don't just mak

[2022-11-26 02:38] p0mvn commented on #3530
I think that the method does what we expect it to do - that is return a value if it is found by mutating a `proto.Message` parameter.

This has the same signature as `MustGet` with an extra return boolean indicating whether a value was found at that key.

I think that we should not be returning an error when a value at a given key is not found because it would be difficuly to distinguish a databas

[2022-11-26 21:07] atomlab commented on #3521
Thanks a lot! I have downloaded `default` snapshot from there https://dl2.quicksync.io/json/osmosis.json and it helped me!

[2022-11-26 22:32] czarcas7ic commented on #3521
@atomlab glad it helped! :)

[2022-11-26 22:32] #3521 closed

[2022-11-27 01:09] ValarDragon commented on #3530
Not sure why we don't just make the API

[code]

[2022-11-27 19:51] p0mvn commented on #3530
I'm supportive of renaming it to just `Get` and improving the godoc. Will PR a change for this

[2022-11-27 21:14] p0mvn opened #3538 "feat(CL): convertToCFMMPool helper"
**Background**

We tend to cast from `PoolI` to `TraditionalAmmInterface` in many places. We should add a helper instead:

[code]

and a similar helper for the concentrated pool conversion

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/3497#discussion_r1033010263_

**A/C**
- helper introduced
- tests added
- replace all casts with the use of this helper

[2022-11-27 22:52] p0mvn opened #3540 "test(twap): add overflow tests for geometric TWAP"
## Background

Geometric TWAP needs overflow tests [here](https://github.com/osmosis-labs/osmosis/blob/7ad6f2ed7bae04227e29c3d196b20747a4431962/x/twap/logic_test.go#L728-L731)

## Suggested Design

Add potentially overflowing tests with:
- max spot price
- large time delta
   * 2 days
   * 100 days
- both

If math functions panic, identify and document the maximum values at which the tests do not

[2022-11-27 22:56] p0mvn opened #3541 "test(twap): edge case tests for geometric twap"
## Background

Currently, most of the test cases for `computeGeometricTwap` use base values.

To be more confident about correctness, we should add more test cases with hand-picked custom values.

This is an open-ended task so someone having context on the state of geometric twap should be working on this.

## Acceptance Criteria
- custom tests added if applicable

[2022-11-27 23:00] p0mvn opened #3542 "feat(app/upgrades): implement twap record migrations for geometric logic"
## Background

The existing twap records should be migrated in the upgrade handler so that the geometric twap accumulator is initialized to 0 for each record.

## Suggested Design

Add logic in v14 upgrade handler, iterating over all possible twap records and setting the geometric twap accumulator to 0

## Acceptance Criteria
- migrations added
- unit tested
- e2e test passses

[2022-11-27 23:01] atomlab commented on #2785
the same problem with 12.3.0
[code]

[2022-11-27 23:04] p0mvn opened #3543 "test(twap): ensuere test coverage for `twapLog` and `twapPow`"
## Background

We should test the helper math functions introduced in #3420

## Suggested Design

The test should be as simple as validating that the base for pow and log a chosen from `geometricTwapMathBase` defined in `logic.go`

## Acceptance Criteria
- test for `twapPow` added
- test for `twapLog` added
- validating that the base for math function is as defined by `geometricTwapMathBase`

[2022-11-27 23:12] p0mvn commented on #3243
This is complete in #3296

[2022-11-27 23:12] #3243 closed

[2022-11-27 23:23] #3435 closed

[2022-11-28 03:30] #3003 closed

[2022-11-28 04:05] #3530 closed

[2022-11-28 05:01] faddat opened #3550 "Pebbledb archive node"
## Background

Osmosis goleveldb archive nodes require over 128GB of RAM, because there are too many keys.

Prerequisites:

* #3518
* #3519

## Suggested Design

sync from genesis with PebbleDB

## Acceptance Criteria

Produce a script proving that this works.

[2022-11-28 07:12] ThanhNhann commented on #3543
Can I handle this?

[2022-11-28 07:14] ThanhNhann commented on #3538
Can I handle this ?

[2022-11-28 12:40] hieuvubk commented on #3542
@p0mvn Hi its blocked by pr [#3420 ](https://github.com/osmosis-labs/osmosis/pull/3420) right?

[2022-11-28 13:24] github-actions[bot] opened #3552 "Mutation test"
--- ./x/tokenfactory/keeper/genesis.go	2022-11-28 13:08:01.668742537 +0000
+++ /tmp/go-mutesting-3446986696/./x/tokenfactory/keeper/genesis.go.5	2022-11-28 13:12:04.434781054 +0000
@@ -19,7 +19,8 @@
[code]
FAIL

 "/tmp/go-mutesting-3446986696/./x/tokenfactory/keeper/genesis.go.5" with checksum 172a192677e7b319d74db0eef25836be
--- ./x/tokenfactory/keeper/genesis.go	2022-11-28 13:08:01.668742537 +00

[2022-11-28 15:54] p0mvn commented on #3538
@ThanhNhann thanks for checking in. This is already being addressed by: https://github.com/osmosis-labs/osmosis/pull/3546

[2022-11-28 15:56] p0mvn commented on #3543
@ThanhNhann please do. thanks!

[2022-11-28 16:02] p0mvn commented on #3542
@hieuvubk yessir. Just merged #3420 . This is also blocked on the v14 upgrade handler being present.

We have a CI job to generate it automatically. We would like to test it instead of adding the upgrade handler manually. However, the CI job is currently being triggered by the release:
https://github.com/osmosis-labs/osmosis/blob/f364fe4bbef43236acd13980d8794bfb4eeee19e/.github/workflows/auto-upda

[2022-11-28 16:07] ValarDragon commented on #2660
Can we close this issue?

[2022-11-28 17:32] RusAkh commented on #2148
I'd like to look into this

[2022-11-28 18:09] p0mvn commented on #2148
@RusAkh Sweet, thanks!

[2022-11-28 18:45] jonator opened #3554 "Price-filtered, sorted pools query"
## Background

We implemented a pools filter query for v23 (#3324), however it's somewhat naive in that it expects an exhaustive list of min liquidity amounts to be used to filter each respective pool. This forces frontend teams to maintain a list of min amounts that they'd like to use to filter, which may change as liquidity shifts. We get the performance benefits of less pools, but now must main

[2022-11-28 18:54] p0mvn opened #3556 "tracking(CL): merge to main"
## Background

This issue is for tracking the progress of merging `concentrated-liqudiity-main` to main.

As we are merging in chunks with the goal of splitting state-break logic from state-compatible, we end up commenting out some functionality and tests.

This issue tracks these areas to make sure nothing is left uncommented

## TODOs

- [x] `x/swaprouter/types`
   * [x] merge in `codec.go`
   *

[2022-11-29 00:32] czarcas7ic opened #3559 "feat(CL): convertToConcentratedPool helper"
**Background**

We will need to cast `PoolI` to `ConcentratedPoolExtension ` in many places. We should add a helper instead:

[code]

_Originally posted by @p0mvn in https://github.com/osmosis-labs/osmosis/pull/3535#discussion_r1034092906

**A/C**
- helper introduced
- tests added
- replace all casts with the use of this helper

[2022-11-29 04:22] faddat commented on #3499
@ValarDragon splice into the osmosis-sdk, or work on a v47 upgrade?

Getting reports currently that bringing autocli into sdk v45, will cause breakages when Osmosis moves to cosmos-sdk v0.47.*

[2022-11-29 04:47] ThanhNhann commented on #3559
Can I handle this? @czarcas7ic

[2022-11-29 08:42] nicolaslara commented on #3514
This looks good to me. I don't expect other TWAP strategies to exist, but I like the abstraction pattern so that we can use it on other parts of the codebase

[2022-11-29 12:00] MasterPi-2124 commented on #3542
@p0mvn I am doing auto-generating upgrade handler on manual inputs from user as suggested on #3495. Here is my [workflow](https://github.com/MasterPi-2124/osmosis/actions/workflows/manually-update-upgrade.yml) with examples of generating `v14` upgrade handler, which leads to this [pull request](https://github.com/MasterPi-2124/osmosis/pull/2) and [result](https://github.com/MasterPi-2124/osmosis/c

[2022-11-29 16:47] RusAkh commented on #3499
I'd say autocli does not work due to app-wiring absence in sdk45 of osmosis

[2022-11-29 16:59] faddat commented on #3499
Okay, let's do what the SDK team recommended, and table this for a little bit. Let's keep your research at the ready and thank you so much for really digging deep into this.

[2022-11-29 17:49] p0mvn commented on #3514
Sweet, thanks for reviewing @nicolaslara .

Could you please take a look at the first PR towards this when you have the time: https://github.com/osmosis-labs/osmosis/pull/3529

[2022-11-29 20:02] faddat commented on #3550
This is going well. I am now on the version 4 series.

[2022-11-30 05:10] #2962 closed

[2022-11-30 09:25] MasterPi-2124 commented on #3542
About the release trigger, the workflow will be automatically running, and it will automatically take release tag as input. So you will only have to specific version on manual trigger.

I made this PR request: https://github.com/osmosis-labs/osmosis/pull/3577

[2022-11-30 17:50] #3538 closed

[2022-11-30 18:24] ValarDragon opened #3581 "Update swagger version"
## Background

We need to update the swagger version, the current one has a low severity XSS vulnerability.

[2022-11-30 18:31] ValarDragon commented on #3581
Would be nice if we could get dependabot to handle this for us

[2022-11-30 18:51] p0mvn commented on #3143
Implemented in: https://github.com/osmosis-labs/osmosis/pull/3459

[2022-11-30 18:51] #3143 closed

[2022-11-30 18:53] p0mvn commented on #3178
I'm going to close this due to being out-of-date. Most of the tasks here seem to be addressed

[2022-11-30 18:53] #3178 closed

[2022-11-30 19:05] p0mvn commented on #3131
Some progress towards this has been done in: https://github.com/osmosis-labs/osmosis/pull/3490

However, there is still more to test. `swaprouter` module is currently on code-freeze until we finish merge to main

[2022-11-30 19:18] p0mvn opened #3582 "[CL][Concentrated Liquidity Module]: implement `InitializePool`"
## Background

We need to implement and test this method:

https://github.com/osmosis-labs/osmosis/blob/70f67d9f4c8ff0bef59d1b95b1262efd93b433c2/x/concentrated-liquidity/keeper.go#L28

This method should replace `CreateNewConcentratedLiquidityPool` since the only valid entry point for pool creation is `InitializePool`

Spec for it:
[code]

## Suggested Design

- Remove `CreateNewConcentratedLiquid

[2022-11-30 19:19] p0mvn commented on #3582
This is blocked on: https://github.com/osmosis-labs/osmosis/issues/3245 being implemented first

[2022-11-30 19:41] czarcas7ic commented on #3196
Closing as addressed in previous PRs

[2022-11-30 19:41] #3196 closed

[2022-11-30 19:41] czarcas7ic commented on #3198
Closing as addressed in previous PRs

[2022-11-30 19:41] #3198 closed